INDIAN START-UP FUNDING ANALYSIS (2018 - 2021)

Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital popularly known as "funding"---to think big, grow rich, and leave a lasting impact. 

In this project, my intention is to analyse funding received by start-ups in India from 2018 to 2021. The data for each year of funding were gotten from 2 separate csv files (2018 and 2019) and from a database for years 2020 and 2021. In these files, the start-ups' details, the funding amounts received, the investors' and other relevant information were provided.

1. BUSINESS UNDERSTANDING

The main goal is to understand the objectives of the project from a business perspective and convert this knowledge into a data mining problem definition and a preliminary plan designed to achieve the objectives.

1.1 Determining Business Objectives

The primary objective is to identify the key factors that influence startup funding and predict future funding trends within the Indian startup ecosystem. This analysis is crucial for stakeholders such as startup founders, investors, policymakers, and industry analysts who rely on these insights to make informed decisions.

1.2 Assess the Situation

In this phase, the current situation is assessed, considering resources, constraints, and risks. Resources include access to historical startup funding data from 2018 to 2021, data analysis tools like Python, Pandas, and Seaborn, and domain knowledge. Constraints may involve data quality issues, limited access to private funding data, and time constraints. Potential risks include incomplete or inaccurate data and changing market conditions affecting the predictions.

1.3 Define Data Mining Goals

My primary goals are to analyze historical funding data to uncover trends and patterns and build predictive models to forecast future funding trends. Secondary goals involve identifying the key factors influencing the likelihood and amount of funding startups receive.

1.4 Defining Hypothesis and Business Analysis Questions

1.4.1 Hypothesis

Null Hypothesis (H0): TThere is no significant difference in the average funding amounts received across different sectors within the Indian startup ecosystem from 2018 to 2021.

Alternative Hypothesis (H1): There is a significant difference in the average funding amounts received across different sectors within the Indian startup ecosystem from 2018 to 2021.

1.4.2 Business Analysis Questions

1. Analyze the growth trajectory of startups over the past four years from 2018 to 2021. Investigate if there is an increase in the number of startups being funded and the average size companies of funded annually.

2. Investigate the financial landscape for Indian startups over the four years. Has the average funding amount increased, indicating growing investor confidence, or has it plateaued or decreased overtime?

3. Identify the booming sectors withing the ecosystem and which top city serves as the industrial hub in India.

4. Determine the top investors within the startup ecosystem and identify the proportion of investment by the first 3 investors that have funded different sectors from 2018 - 2021.

5. Explore which stages of startups (e.g., Seed, Series A, Series B) are receiving the majority of investments. What are the predominant stages funded, and which cities are the identified stages of business situated.

2. DATA UNDERSTANDING

In the Data Understanding phase, my focus is on getting familiar with the data and identifying data quality issues. This phase involves collecting the initial data, describing it, exploring it, and verifying its quality.

2.1 Data Collection

I begin by collecting data from various sources like connecting to a public database with provided credentials saved in a .env format for datasets 2020 and 2021, from a Github repository in a CSV format (2019 dataset), and from a Onedrive account also in CSV format (2018 dataset). This data includes information about startup funding from 2018 to 2021.

2.2 Data Description

The collected data is loaded into Pandas DataFrames by importing the necessary libraries, and an initial inspection is performed to understand its structure and basic characteristics. This involves checking the data types, shape, unique values, the presence of missing and duplicated values, and getting an overview of the data using descriptive statistics.

In [8]:
# Importing relevant packages

import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import warnings
import re
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stat

warnings.filterwarnings('ignore')

In [9]:
# load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials from .env file
database = environment_variables.get("database")
server = environment_variables.get("server")
login = environment_variables.get("login")
password = environment_variables.get("password")
 
# create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

In [10]:
# Using the connect method of the pyodbc library to pass in the connection string
connection = pyodbc.connect(connection_string)

# what tables are in the Database
db_query = '''SELECT *
FROM INDIVIDUAL_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'''

DATASET FOR 2021

In [11]:
# Querying the Database to determine the tables we are to use for analysis
query1 = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query1, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [12]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [13]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [14]:
data_2021.shape

(1209, 9)

DATASET FOR 2020

In [15]:
query2 = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query2, connection)
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [16]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [17]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [18]:
data_2020.shape

(1055, 10)

DATASET FOR 2019

In [19]:
# File path for the 2019 funding dataset
file_path2 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2019.csv'

# Loading the file into the notebook for analysis
data_2019 = pd.read_csv(file_path2)
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [20]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [21]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [22]:
data_2019.shape

(89, 9)

DATASET FOR 2018

In [23]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [24]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [25]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [26]:
data_2018.shape

(526, 6)

3. DATA PREPARATION

In the Data Preparation phase, my focus is on preparing the data for analysis. This phase involves cleaning the data, handling missing values, and transforming the data into a suitable format for analysis.

3.1 Data Cleaning

Data cleaning involves handling missing values, correcting errors, and standardizing formats. For example, funding amounts may need to be converted from strings to numerical values.

Concerns with the Data
a. Columns from different years have different names that must be renamed to be the same for effective analysis

b. A year column must be added to all the dataframes to represent the year of investment. This is needed and important when the 4 tables are merged.

c. All Amounts columns need to be standardized to the same currency ($), and converted to the same datatype (float). All symbols and commas should be deleted and assume that Amount values without any currency signs are taken to be in Dollars.

d. All duplicated values in each table should be dropped.

e. All missing values should be filled with an appropriate value for each column

3.1.1 Cleaning Dataset 2018

In [27]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [28]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates1 = data_2018.duplicated()

# Count duplicate rows
num_duplicates1 = duplicates1.sum()
print(f"Number of duplicate rows: {num_duplicates1}")

Number of duplicate rows: 1

In [29]:
# Show all duplicated rows
data_2018[data_2018.duplicated(keep = False)]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [30]:
# Dropping duplicates
data_2018.drop_duplicates(inplace = True)

In [31]:
# Exploring and Cleaning the "Industry" column
data_2018['Industry'].value_counts()

Industry
—                                                                                 30
Financial Services                                                                15
Education                                                                          8
Information Technology                                                             7
Finance, Financial Services                                                        5
                                                                                  ..
Business Intelligence, Customer Service, Market Research, SaaS                     1
Digital Media, Internet, Media and Entertainment, Online Portals, Social Media     1
Consumer Lending, Financial Services, Lending, Personal Finance                    1
Education, Information Technology, Internet, Mobile, Software                      1
Biotechnology, Health Care, Pharmaceutical                                         1
Name: count, Length: 405, dtype: int64

In [32]:
# Checking the missing values in the 'Industry' column
data_2018[data_2018['Industry'] == '—']

,Company Name,Industry,Round/Series,Amount,Location,About Company
58,MissMalini Entertainment,—,Seed,"₹104,000,000","Mumbai, Maharashtra, India",MissMalini Entertainment is a multi-platform n...
105,Jagaran Microfin,—,Debt Financing,"₹550,000,000","Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution...
121,FLEECA,—,Seed,—,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI..."
153,Fric Bergen,—,Venture - Series Unknown,—,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...
174,Deftouch,—,Seed,—,"Bangalore, Karnataka, India",Deftouch is a mobile game development company ...
181,Corefactors,—,Seed,—,"Bangalore, Karnataka, India","Corefactors is a leading campaign management, ..."
210,Cell Propulsion,—,Seed,"₹7,000,000","Bangalore, Karnataka, India",Cell Propulsion is an electric mobility startu...
230,Flathalt,—,Angel,50000,"Gurgaon, Haryana, India",FInd your Customized Home here.
235,dishq,—,Seed,400000,"Bengaluru, Karnataka, India",dishq leverages food science and machine learn...
238,Trell,—,Seed,1250000,"Bangalore City, Karnataka, India",Trell is a location based network which helps ...
242,HousingMan.com,—,Seed,"₹103,000,000","Bengaluru, Karnataka, India","New Apartments, Flats for Sale in Bangalore"
243,Steradian Semiconductors,—,Seed,—,"Bangalore, Karnataka, India",It is a fabless semiconductor company focused ...
247,SaffronStays,—,Seed,2000000,"Mumbai, Maharashtra, India",SaffronStays connects travellers to India's In...
251,Inner Being Wellness,—,Angel,"₹35,000,000","Hyderabad, Andhra Pradesh, India","Inner Being Wellness manufactures beauty, well..."
257,MySEODoc,—,Seed,—,"Delhi, Delhi, India","SEO, PPC, Search Engine Marketing, Social Medi..."
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,—,Seed,"₹200,000","Pune, Maharashtra, India",Digital Marketing Agency
259,Scale Labs,—,Seed,1000000,"Delhi, Delhi, India",Scale Labs is a cross border e-commerce soluti...
294,Roadcast,—,Angel,250000,"New Delhi, Delhi, India",Transforming the way businesses deliver. Work-...
325,Toffee,—,Seed,1500000,"Gurgaon, Haryana, India","Toffee is a bite size, micro-event & contextua..."
326,ORO Wealth,—,Series A,1600000,"Mumbai, Maharashtra, India",Online wealth management platform
346,Finwego,—,Seed,—,"Chennai, Tamil Nadu, India",Finwego partners with Small and Medium Busines...
398,Cred,—,Seed,—,"Bengaluru, Karnataka, India",Cred is a platform to celebrate and reward the...
457,Origo,—,Venture - Series Unknown,"₹800,000,000","Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man..."
472,Sequretek,—,Venture - Series Unknown,3700000,"Mumbai, Maharashtra, India",Sequretek is a cyber security start-up.
473,Avenues Payments India Pvt. Ltd.,—,Corporate Round,1300000,"Mumbai, Maharashtra, India",Avenues Payments is an IT solutions provider f...
476,Planet11 eCommerce Solutions India (Avenue11),—,Corporate Round,"₹260,000,000","Bengaluru, Karnataka, India","Planet11 is backed by SK Planet, which is a pa..."
478,Iba Halal Care,—,Series A,"₹150,000,000","Ahmedabad, Gujarat, India",Iba Halal Care is a cosmetics brand company.
480,Togedr,—,Venture - Series Unknown,—,"Gurgaon, Haryana, India",Togedr is an activity discovery & booking plat...
510,Scholify,—,Pre-Seed,—,"Bengaluru, Karnataka, India",Edutech

In [33]:
# Replacing mising values with np.NaN
data_2018['Industry'] = data_2018['Industry'].replace('—', np.nan)

In [34]:
# Simplifying the 'Industry' column by splitting values with a comma delimiter, selecting only the first element from the resulting list of substrings. Then remove single quotes since they are strings
data_2018['Industry'] = data_2018['Industry'].str.split(',').str[0].str.replace("'", ",", regex = True)

In [35]:
# Checking 'Industry' column for values
data_2018['Industry'].value_counts()

Industry
Financial Services                    26
Health Care                           26
E-Commerce                            22
Apps                                  20
Automotive                            18
                                      ..
Business Intelligence                  1
Government                             1
Audio                                  1
Enterprise Resource Planning (ERP)     1
Eyewear                                1
Name: count, Length: 147, dtype: int64

In [36]:
# Sorting 'Industry' column alphabetically for irregularities
data_2018['Industry'].sort_values()

139    3D Printing
446     Accounting
422     Accounting
17      Accounting
81     Advertising
          ...
473            NaN
476            NaN
478            NaN
480            NaN
510            NaN
Name: Industry, Length: 525, dtype: object

In [37]:
data_2018['Industry'].unique()

array(['Brand Marketing', 'Agriculture', 'Credit', 'Financial Services',
       'E-Commerce Platforms', 'Cloud Infrastructure', 'Internet',
       'Market Research', 'Information Services', 'Mobile Payments',
       'B2B', 'Apps', 'Food Delivery', 'Industrial Automation',
       'Automotive', 'Finance', 'Accounting', 'Artificial Intelligence',
       'Internet of Things', 'Air Transportation', 'Food and Beverage',
       'Autonomous Vehicles', 'Enterprise Software', 'Logistics',
       'Insurance', 'Information Technology', 'Blockchain', 'Education',
       'E-Commerce', 'Renewable Energy', 'E-Learning', 'Clean Energy',
       'Transportation', 'Fitness', 'Hospitality',
       'Media and Entertainment', 'Broadcasting', 'EdTech', 'Health Care',
       nan, 'Sports', 'Big Data', 'Cloud Computing', 'Food Processing',
       'Trading Platform', 'Consumer Goods', 'Wellness', 'Fashion',
       'Consulting', 'Biotechnology', 'Communities', 'Consumer',
       'Consumer Applications', 'Mobile', 'Advertising', 'Marketplace',
       'Aerospace', 'Home Decor', 'Energy', 'Digital Marketing',
       'Creative Agency', 'Consumer Lending', 'Health Diagnostics',
       'Banking', 'Embedded Systems', 'Beauty', 'AgTech', 'Credit Cards',
       'Software', 'Manufacturing', 'Hospital', 'Events', '3D Printing',
       'Digital Entertainment', 'Funding Platform', 'Classifieds',
       'Enterprise Resource Planning (ERP)', 'Audio', 'Government',
       'Digital Media', 'Business Intelligence', 'Children', 'Rental',
       'Travel', 'Wealth Management', 'Veterinary', 'Tourism',
       'Consumer Electronics', 'Analytics', 'Facilities Support Services',
       'Medical', 'Music Streaming', 'Retail', 'Business Development',
       'Human Resources', 'Customer Service', 'Training',
       'Dietary Supplements', 'Collaboration', 'Nanotechnology',
       'File Sharing', 'Crowdfunding', 'Catering', 'Computer', 'Android',
       'Delivery', 'Environmental Consulting', 'Commercial Real Estate',
       'Delivery Service', 'Basketball', 'Fraud Detection',
       'Cryptocurrency', 'Wedding', 'Crowdsourcing', 'Farming',
       'Business Travel', 'Career Planning', 'Medical Device',
       'Alternative Medicine', 'Dental', 'CleanTech', 'Marketing',
       'Commercial', 'Continuing Education', 'Smart Cities',
       'Social Media', 'Biopharma', 'Child Care', 'Health Insurance',
       'Gaming', 'Search Engine', 'Battery', 'Cosmetics', 'eSports',
       'Reading Apps', 'Electric Vehicle', 'Packaging Services',
       'Last Mile Transportation', 'Cooking', 'FinTech', 'Online Games',
       'Online Portals', 'Music', 'News', 'Industrial', 'Dating',
       'Fantasy Sports', 'Eyewear'], dtype=object)

In [38]:
# Checking for irregularities in values and company description
data_2018[data_2018['Industry'] == 'Wellness']

,Company Name,Industry,Round/Series,Amount,Location,About Company
66,MedCords,Wellness,Seed,"₹26,400,000","Pune, Maharashtra, India",Medcords is India’s first holistic healthcare ...

In [39]:
# Checking for irregularities in values and company description
data_2018[data_2018['Industry'] == 'Basketball']

,Company Name,Industry,Round/Series,Amount,Location,About Company
286,Sports Flashes Pvt. Ltd,Basketball,Seed,1000000,"New Delhi, Delhi, India",Sports Flashes operates a sports content app t...

In [40]:
data_2018[data_2018['Industry'] == 'Android']

,Company Name,Industry,Round/Series,Amount,Location,About Company
265,edureka!,Android,Series A,2000000,"Bangalore, Karnataka, India",Edureka is the fastest growing online learning...

In [41]:
# Fixing notable errors through observation and individual inspection
data_2018['Industry'].replace('Wellness', 'Health Care', inplace = True)
data_2018['Industry'].replace('Basketball', 'Apps', inplace = True)
data_2018['Industry'].replace('Cooking', 'Food Delivery', inplace = True)
data_2018['Industry'].replace('Catering', 'Food Delivery', inplace = True)
data_2018['Industry'].replace('Crowdsourcing', 'Crowdfunding', inplace = True)
data_2018['Industry'].replace('Android', 'E-Learning', inplace = True)

In [42]:
# Checking 'Amount' column for different values
data_2018['Amount'].value_counts()

Amount
—              148
1000000         24
500000          13
2000000         12
₹50,000,000      9
              ...
2200000          1
1200000          1
$15,000          1
$1,041,000       1
35000000         1
Name: count, Length: 198, dtype: int64

In [43]:
data_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [44]:
# Checking for missing values in the 'Amount' column
data_2018[data_2018['Amount'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
8,Freightwalla,Information Services,Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,B2B,Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."

In [45]:
# Replacing the missing values with np.NaN
data_2018['Amount'].replace('—', np.nan, inplace = True, regex = True)
data_2018['Amount'].replace("[, $]", " ", inplace = True, regex = True)

In [46]:
# Converting the Rupee (₹) values to Dollar ($) values by creating new columns to store RUP values and USD values.
## rsplit the 'Amount' using '₹' as the delimiter
data_2018['Amount(₹)'] = data_2018['Amount'].str.rsplit('₹', n = 2).str[1]

# Remove spaces
data_2018['Amount(₹)'] = data_2018['Amount(₹)'].str.replace(' ', '')

# Converting the ₹ values to float and fill any missing (NaN) values with 0
data_2018['Amount(₹)'] = data_2018['Amount(₹)'].apply(float).fillna(0)

# Converting the ₹ values to $ values at an average exchange rate in 2018 (₹1 = $0.0146)
data_2018['Amount($)'] = data_2018['Amount(₹)'] * 0.0146

In [47]:
# Checking the DataFrame to confirm if ₹ values have been converted to $ values 
data_2018.head(10)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount(₹),Amount($)
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,0.0
1,Happy Cow Dairy,Agriculture,Seed,₹40 000 000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,584000.0
2,MyLoanCare,Credit,Series A,₹65 000 000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,949000.0
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,0.0
4,Eunimart,E-Commerce Platforms,Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0.0
5,Hasura,Cloud Infrastructure,Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,0.0,0.0
6,Tripshelf,Internet,Seed,₹16 000 000,"Kalkaji, Delhi, India",Tripshelf is an online market place for holida...,16000000.0,233600.0
7,Hyperdata.IO,Market Research,Angel,₹50 000 000,"Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...,50000000.0,730000.0
8,Freightwalla,Information Services,Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,0.0,0.0
9,Microchip Payments,Mobile Payments,Seed,NaN,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...,0.0,0.0

In [48]:
# Replacing 0 values with np.NaN in the converted ₹ values
data_2018['Amount($)'] = data_2018['Amount($)'].replace(0, np.nan)

# Fill NaN values in the 'Amount($)' column with values in 'Amount' column
data_2018['Amount($)'] = data_2018['Amount($)'].fillna(data_2018['Amount'])

# Drop 'Amount' and 'Amount(₹)' columns
data_2018.drop(['Amount', 'Amount(₹)'], axis = 1, inplace = True)

In [49]:
# Checking the new 'Amount($)' column
data_2018['Amount($)'].value_counts()

Amount($)
1000000       24
500000        13
2000000       12
730000.0       9
292000.0       8
              ..
2200000        1
1200000        1
 15 000        1
 1 041 000     1
35000000       1
Name: count, Length: 197, dtype: int64

In [50]:
# Checking data_2018 info
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       495 non-null    object
 2   Round/Series   525 non-null    object
 3   Location       525 non-null    object
 4   About Company  525 non-null    object
 5   Amount($)      377 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [51]:
# Add a Year column for easy identification of Year 2018 data info
data_2018['Year'] = 2018
data_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount($),Year
0,TheCollegeFever,Brand Marketing,Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000,2018
1,Happy Cow Dairy,Agriculture,Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,584000.0,2018
2,MyLoanCare,Credit,Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,949000.0,2018
3,PayMe India,Financial Services,Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000,2018
4,Eunimart,E-Commerce Platforms,Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",225000000,2018
522,Happyeasygo Group,Tourism,Series A,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,Food and Beverage,Seed,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,7500,2018
524,Droni Tech,Information Technology,Seed,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,511000.0,2018
525,Netmeds,Biotechnology,Series C,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,35000000,2018

In [52]:
# Checking 'Location' column
data_2018['Location'].value_counts()

Location
Bangalore, Karnataka, India         101
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Ghaziabad, Uttar Pradesh, India       2
Kochi, Kerala, India                  2
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Jodhpur, Rajasthan, India             1
Powai, Assam, India                   1
Andheri, Maharashtra, India           1
Mylapore, Tamil Nadu, India           1
Kalpakkam, Tamil Nadu, India          1
Guntur, Andhra Pradesh, India         1
Coimbatore, Tamil Nadu, India         1
Worli, Maharashtra, India             1
Alleppey, Kerala, India               1
Chandigarh, Chandigarh, India         1
Guindy, Tamil Nadu, India             1
Uttar Pradesh, India, Asia            1
Trivandrum, Kerala, India             1
Ernakulam, Kerala, India              1
Kanpur, Uttar Pradesh, India          1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Margão, Goa, India                    1
Belgaum, Karnataka, India             1
Kalkaji, Delhi, India                 1
Anand, Gujarat, India                 1
Kota, Rajasthan, India                1
Faridabad, Haryana, India             1
Cochin, Kerala, India                 1
Hubli, Karnataka, India               1
Azadpur, Delhi, India                 1
Mohali, Punjab, India                 1
Lucknow, Uttar Pradesh, India         1
Name: count, dtype: int64

In [53]:
# Simplifying the 'Location' column
data_2018['Location'] = data_2018['Location'].str.split(',').str[0].str.replace("'", ",", regex = True)

In [54]:
# Checking unique values for the 'Location' column after simplifying
data_2018['Location'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'],
      dtype=object)

In [55]:
# Checking the 'Round/Series' Column
data_2018['Round/Series'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [56]:
# Replacing missing/unknown values in the 'Round/Series' column with np.nan
data_2018['Round/Series'] = data_2018['Round/Series'].replace('Venture - Series Unknown', np.nan)

data_2018['Round/Series'] = data_2018['Round/Series'].replace('Undisclosed', np.nan)

data_2018['Round/Series'] = data_2018['Round/Series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', np.nan)

In [57]:
# Checking the correction done on 'Round/Series' column
data_2018['Round/Series'].value_counts()

Round/Series
Seed                     279
Series A                  73
Angel                     37
Series B                  20
Series C                  16
Debt Financing            13
Private Equity            10
Corporate Round            8
Pre-Seed                   6
Series E                   5
Grant                      4
Series D                   3
Secondary Market           3
Post-IPO Equity            3
Post-IPO Debt              2
Non-equity Assistance      1
Series H                   1
Funding Round              1
Name: count, dtype: int64

In [58]:
# Renaming Columns to match other Datasets for consistency
data_2018.rename(columns = {
    'Company Name': 'Company_Name',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Amount($)': 'Funding_Amount($)',
    'Location': 'Location',
    'About Company': 'What_it_does'
}, inplace=True)

In [59]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       525 non-null    object
 1   Sector             495 non-null    object
 2   Stage              485 non-null    object
 3   Location           525 non-null    object
 4   What_it_does       525 non-null    object
 5   Funding_Amount($)  377 non-null    object
 6   Year               525 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.8+ KB

3.1.2 Cleaning Dataset 2019

In [60]:
# File path for the 2019 funding dataset
file_path2 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2019.csv'

# Loading the file into the notebook for analysis
data_2019 = pd.read_csv(file_path2)
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [61]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates2 = data_2019.duplicated()

# Count duplicate rows
num_duplicates2 = duplicates2.sum()
print(f"Number of duplicate rows: {num_duplicates2}")

Number of duplicate rows: 0

In [62]:
# Checking the unique values for 'HeadQuarter' column
data_2019['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [63]:
# Exploring and cleaning the 'HeadQuarter' column
data_2019['HeadQuarter'].value_counts()

HeadQuarter
Bangalore        21
Mumbai           12
Delhi            10
Noida             5
Gurugram          5
Chennai           4
Pune              2
Jaipur            2
Telangana         1
Ahmedabad         1
Haryana           1
Chandigarh        1
New Delhi         1
Surat             1
Uttar pradesh     1
Hyderabad         1
Rajasthan         1
Name: count, dtype: int64

In [64]:
# Checking the unique values in the 'Sector' column
data_2019['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [65]:
# Fixing some spelling errors through observation and individual inspection
data_2019['Sector'].replace('Ecommerce', 'E-commerce', inplace = True)
data_2019['Sector'].replace('Food & tech', 'Foodtech', inplace = True)
data_2019['Sector'].replace('Food tech', 'E-Foodtech', inplace = True)

In [66]:
# Exploring and Cleaning the 'Sector' column
data_2019['Sector'].value_counts()

Sector
Edtech                          7
Fintech                         5
Technology                      4
SaaS                            4
E-commerce                      4
AgriTech                        4
Logistics                       3
Automobile                      3
Foodtech                        3
Automotive tech                 2
Accomodation                    2
Food                            2
E-marketplace                   2
IoT                             2
AI                              2
Legal tech                      1
Mutual Funds                    1
Cybersecurity                   1
Sports                          1
B2B Supply Chain                1
Healthtech                      1
Yoga & wellness                 1
Virtual Banking                 1
Transportation                  1
Transport & Rentals             1
Marketing & Customer loyalty    1
Infratech                       1
Hospitality                     1
Automobile & Technology         1
Games                           1
Food & Nutrition                1
Jewellery                       1
Safety tech                     1
Interior design                 1
AI & Tech                       1
E-commerce & AR                 1
HR tech                         1
E-Foodtech                      1
Health                          1
Healthcare                      1
Pharmaceutical                  1
B2B                             1
Insurance technology            1
Robotics & AI                   1
Travel                          1
Manufacturing                   1
Social Media                    1
E-Sports                        1
Cosmetics                       1
Banking                         1
Name: count, dtype: int64

In [67]:
# Dropping 'Founded' and 'Founders' columns since they are not needed in my analysis but I would keep the 'Investor' column
data_2019.drop(['Founded', 'Founders'], axis = 1, inplace = True)

In [68]:
# Add a Year column for easy identification of Year 2019 data info
data_2019['Year'] = 2019
data_2019

,Company/Brand,HeadQuarter,Sector,What it does,Investor,Amount($),Stage,Year
0,Bombay Shaving,NaN,E-commerce,Provides a range of male grooming products,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,Mumbai,Edtech,A learning platform that provides topic-based ...,General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,Mumbai,Edtech,It aims to make learning fun via games.,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,Chennai,Interior design,Provides interior designing solutions,"Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019
...,...,...,...,...,...,...,...,...
84,Infra.Market,Mumbai,Infratech,It connects client requirements to their suppl...,"Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A,2019
85,Oyo,Gurugram,Hospitality,Provides rooms for comfortable stay,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN,2019
86,GoMechanic,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,Sequoia Capital,"$5,000,000",Series B,2019
87,Spinny,Delhi,Automobile,Online car retailer,"Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN,2019
88,Ess Kay Fincorp,Rajasthan,Banking,Organised Non-Banking Finance Company,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN,2019

In [69]:
# Checking 'Amount' column for different values
data_2019['Amount($)'].value_counts()

Amount($)
Undisclosed     12
$5,000,000       6
$1,500,000       4
$6,000,000       4
$1,000,000       4
$30,000,000      3
$20,000,000      3
$50,000,000      3
$4,000,000       3
$5,500,000       3
$26,000,000      2
$2,000,000       2
$12,000,000      2
$100,000         2
$5,700,000       1
$693,000,000     1
$4,800,000       1
$120,000,000     1
$311,000,000     1
$6,800,000       1
$36,000,000      1
$2,800,000       1
$220,000         1
$600,000         1
$7,000,000       1
$2,100,000       1
$70,000,000      1
$60,000,000      1
$8,000,000       1
$25,000,000      1
$6,300,000       1
$100,000,000     1
$11,000,000      1
$28,000,000      1
$275,000,000     1
$22,000,000      1
$140,500         1
$540,000,000     1
$15,000,000      1
$182,700         1
$15,500,000      1
$400,000         1
$2,500,000       1
$140,000         1
$230,000,000     1
$49,400,000      1
$32,000,000      1
$150,000,000     1
$150,000         1
$33,000,000      1
Name: count, dtype: int64

In [70]:
# Replacing the Undisclosed values in the 'Amount' column with np.nan
data_2019['Amount($)'] = data_2019['Amount($)'].replace('Undisclosed', np.nan)

# Removing the $ sign
data_2019['Amount($)'].replace("[, $]", " ", inplace = True, regex = True)

# Removing spaces
data_2019['Amount($)'] = data_2019['Amount($)'].str.replace(' ', '')

data_2019['Amount($)'].value_counts()

Amount($)
5000000      6
1500000      4
6000000      4
1000000      4
30000000     3
20000000     3
50000000     3
4000000      3
5500000      3
26000000     2
2000000      2
12000000     2
100000       2
5700000      1
693000000    1
4800000      1
120000000    1
311000000    1
6800000      1
36000000     1
2800000      1
220000       1
600000       1
7000000      1
2100000      1
70000000     1
60000000     1
8000000      1
25000000     1
6300000      1
100000000    1
11000000     1
28000000     1
275000000    1
22000000     1
140500       1
540000000    1
15000000     1
182700       1
15500000     1
400000       1
2500000      1
140000       1
230000000    1
49400000     1
32000000     1
150000000    1
150000       1
33000000     1
Name: count, dtype: int64

In [71]:
# Checking 'Stage' column for unique values
data_2019['Stage'].unique()

array([nan, 'Series C', 'Fresh funding', 'Series D', 'Pre series A',
       'Series A', 'Series G', 'Series B', 'Post series A',
       'Seed funding', 'Seed fund', 'Series E', 'Series F', 'Series B+',
       'Seed round', 'Pre-series A'], dtype=object)

In [72]:
# Checking 'Stage' column for different values
data_2019['Stage'].value_counts()

Stage
Series A         10
Pre series A      8
Series B          8
Series D          4
Series C          3
Fresh funding     1
Series G          1
Post series A     1
Seed funding      1
Seed fund         1
Series E          1
Series F          1
Series B+         1
Seed round        1
Pre-series A      1
Name: count, dtype: int64

In [73]:
# Fixing some errors noticed through observation
data_2019['Stage'].replace('Pre-series A', 'Pre series A', inplace = True)
data_2019['Stage'].replace('Seed fund', 'Seed', inplace = True)
data_2019['Stage'].replace('Seed funding', 'Seed', inplace = True)
data_2019['Stage'].replace('Seed round', 'Seed', inplace = True)

In [74]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   HeadQuarter    70 non-null     object
 2   Sector         84 non-null     object
 3   What it does   89 non-null     object
 4   Investor       89 non-null     object
 5   Amount($)      77 non-null     object
 6   Stage          43 non-null     object
 7   Year           89 non-null     int64
dtypes: int64(1), object(7)
memory usage: 5.7+ KB

In [76]:
# Renaming Columns to match other Datasets for consistency
data_2019.rename(columns = {
    'Company/Brand': 'Company_Name',
    'HeadQuarter': 'Location',
    'What it does': 'What_it_does',
    'Amount($)': 'Funding_Amount($)'
}, inplace=True)

In [77]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       89 non-null     object
 1   Location           70 non-null     object
 2   Sector             84 non-null     object
 3   What_it_does       89 non-null     object
 4   Investor           89 non-null     object
 5   Funding_Amount($)  77 non-null     object
 6   Stage              43 non-null     object
 7   Year               89 non-null     int64
dtypes: int64(1), object(7)
memory usage: 5.7+ KB

3.1.3 Cleaning Dataset 2020

In [78]:
query2 = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query2, connection)
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [79]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates = data_2020.duplicated()

# Count duplicate rows
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 3

In [80]:
# Viewing the duplicated rows
data_2020[data_2020.duplicated(keep = False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
120,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,None
129,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,None
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by imp...,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,None
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different b...,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,None,None
326,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,None
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tu...,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,None,None

In [81]:
# Dropping duplicated rows
data_2020.drop_duplicates(inplace = True)

In [82]:
# Dropping 'Founded' and 'Founders' columns since they are not needed in my analysis but I would keep the 'Investor' column
data_2020.drop(['Founded', 'Founders'], axis = 1, inplace = True)

In [83]:
# Dropping 'column10' column since the column has just 2 non-null values
data_2020.drop(['column10'], axis = 1, inplace = True)

In [84]:
# Add a Year column for easy identification of Year 2020 data info
data_2020['Year'] = 2020
data_2020

,Company_Brand,HeadQuarter,Sector,What_it_does,Investor,Amount,Stage,Year
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,Angel investors,200000.0,None,2020
1,Krayonnz,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Venture Center,NaN,Pre-seed,2020
3,NCOME,New Delhi,Escrow,Escrow-as-a-service platform,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Siana Capital Management, Info Edge",340000.0,None,2020
...,...,...,...,...,...,...,...,...
1050,Leverage Edu,Delhi,Edtech,AI enabled marketplace that provides career gu...,"DSG Consumer Partners, Blume Ventures",1500000.0,None,2020
1051,EpiFi,None,Fintech,It offers customers with a single interface fo...,"Sequoia India, Ribbit Capital",13200000.0,Seed Round,2020
1052,Purplle,Mumbai,Cosmetics,Online makeup and beauty products retailer,Verlinvest,8000000.0,None,2020
1053,Shuttl,Delhi,Transport,App based bus aggregator serice,SIG Global India Fund LLP.,8043000.0,Series C,2020
1054,Pando,Chennai,Logitech,Networked logistics management software,Chiratae Ventures,9000000.0,Series A,2020

In [85]:
# Renaming Columns to match other Datasets for consistency
data_2020.rename(columns = {
    'Company_Brand': 'Company_Name',
    'HeadQuarter': 'Location',
    'Amount': 'Funding_Amount($)'
}, inplace=True)

In [86]:
# Checking DataFrame to determine if Column name changes have occured
data_2020

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
0,Aqgromalin,Chennai,AgriTech,Cultivating Ideas for Profit,Angel investors,200000.0,None,2020
1,Krayonnz,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Venture Center,NaN,Pre-seed,2020
3,NCOME,New Delhi,Escrow,Escrow-as-a-service platform,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Siana Capital Management, Info Edge",340000.0,None,2020
...,...,...,...,...,...,...,...,...
1050,Leverage Edu,Delhi,Edtech,AI enabled marketplace that provides career gu...,"DSG Consumer Partners, Blume Ventures",1500000.0,None,2020
1051,EpiFi,None,Fintech,It offers customers with a single interface fo...,"Sequoia India, Ribbit Capital",13200000.0,Seed Round,2020
1052,Purplle,Mumbai,Cosmetics,Online makeup and beauty products retailer,Verlinvest,8000000.0,None,2020
1053,Shuttl,Delhi,Transport,App based bus aggregator serice,SIG Global India Fund LLP.,8043000.0,Series C,2020
1054,Pando,Chennai,Logitech,Networked logistics management software,Chiratae Ventures,9000000.0,Series A,2020

In [87]:
# Checking the 'Location' column for irregularities
data_2020['Location'].unique()

array(['Chennai', 'Bangalore', 'Pune', 'New Delhi', 'Indore', 'Hyderabad',
       'Gurgaon', 'Belgaum', 'Noida', 'Mumbai', 'Andheri', 'Jaipur',
       'Ahmedabad', 'Kolkata', 'Tirunelveli, Tamilnadu', 'Thane', None,
       'Singapore', 'Gurugram', 'Gujarat', 'Haryana', 'Kerala', 'Jodhpur',
       'Jaipur, Rajastan', 'Delhi', 'Frisco, Texas, United States',
       'California', 'Dhingsara, Haryana', 'New York, United States',
       'Patna', 'San Francisco, California, United States',
       'San Francisco, United States', 'San Ramon, California',
       'Paris, Ile-de-France, France', 'Plano, Texas, United States',
       'Sydney', 'San Francisco Bay Area, Silicon Valley, West Coast',
       'Bangaldesh', 'London, England, United Kingdom',
       'Sydney, New South Wales, Australia', 'Milano, Lombardia, Italy',
       'Palmwoods, Queensland, Australia', 'France',
       'San Francisco Bay Area, West Coast, Western US',
       'Trivandrum, Kerala, India', 'Cochin', 'Samastipur, Bihar',
       'Irvine, California, United States', 'Tumkur, Karnataka',
       'Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom',
       'Shanghai, China', 'Jiaxing, Zhejiang, China', 'Rajastan', 'Kochi',
       'Ludhiana', 'Dehradun', 'San Franciscao', 'San Francisco',
       'Tangerang, Jawa Barat, Indonesia', 'Berlin', 'Seattle', 'Riyadh',
       'Seoul', 'New York', 'Bangkok', 'Kanpur', 'Chandigarh', 'Warangal',
       'Hyderebad', 'Odisha', 'Bihar', 'Goa', 'Tamil Nadu',
       'Uttar Pradesh', 'Bhopal', 'Banglore', 'Coimbatore', 'Bengaluru'],
      dtype=object)

In [88]:
data_2020['Location'].value_counts()

Location
Bangalore                                                   316
Mumbai                                                      164
Gurugram                                                     79
Delhi                                                        62
Chennai                                                      43
                                                           ...
Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom      1
Shanghai, China                                               1
Jiaxing, Zhejiang, China                                      1
Rajastan                                                      1
Sydney, New South Wales, Australia                            1
Name: count, Length: 77, dtype: int64

In [89]:
# Simplfying some of the values in the 'Location'column by splitting values with a comma, then select only the first element from the resulting list of substrings
data_2020['Location'] = data_2020['Location'].str.split(',').str[0].str.replace("'", " ", regex = True)

In [90]:
# Checking if simplification has been committed
data_2020['Location'].value_counts()

Location
Bangalore              316
Mumbai                 164
Gurugram                79
Delhi                   62
Chennai                 43
                      ...
Newcastle Upon Tyne      1
Shanghai                 1
Jiaxing                  1
Rajastan                 1
Dehradun                 1
Name: count, Length: 71, dtype: int64

In [91]:
# Fixing some errors detected while inspecting and observing unique values in the 'Location' column
data_2020['Location'].replace('Banglore', 'Bangalore', inplace = True)
data_2020['Location'].replace('Hyderebad', 'Hyderabad', inplace = True)
data_2020['Location'].replace('San Franciscao', 'San Francisco', inplace = True)
data_2020['Location'].replace('San Francisco Bay Area', 'San Francisco', inplace = True)

In [92]:
# Checking 'Sector' column for irregularities
data_2020['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

In [93]:
data_2020['Sector'].value_counts()

Sector
Fintech                  80
Edtech                   67
FinTech                  51
EdTech                   39
E-commerce               33
                         ..
Jewellery                 1
AR startup                1
HR Tech startup           1
Automotive Startup        1
Automobile Technology     1
Name: count, Length: 302, dtype: int64

In [94]:
# Checking 'Sector' column values a bit closer upon investigation
data_2020[data_2020['Sector'] == 'Supply chain, Agritech']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
705,Intello Labs,Gurugram,"Supply chain, Agritech",Standardisation and Quality control of fruits ...,Saama Capital,5900000.0,Series A,2020

In [95]:
# Replacing the 'Supply chain' with 'AgriTech
data_2020['Sector'].replace('Supply chain, Agritech', 'AgriTech', inplace = True)

# Other errors noticed in the 'Sector' column will be treated upon merged data of all 4 datasets

In [96]:
# Checking values in 'Funding_Amount($)' column
# Change the 'Funding_Amount($) to a str dtype'
data_2020['Funding_Amount($)'] = data_2020['Funding_Amount($)'].astype(str)
data_2020['Funding_Amount($)'].value_counts()

Funding_Amount($)
nan           253
1000000.0      53
2000000.0      39
3000000.0      27
5000000.0      24
             ...
2879000.0       1
26500000.0      1
351000.0        1
46761000.0      1
8043000.0       1
Name: count, Length: 301, dtype: int64

In [97]:
# Replacing values with np.nan
data_2020['Funding_Amount($)'].replace('nan', np.nan, inplace = True, regex = True)

In [98]:
# Checking 'Stage' column for irregularities
data_2020['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [99]:
data_2020['Stage'].value_counts()

Stage
Series A                 96
Seed                     79
Seed Round               69
Series B                 57
Pre series A             54
Pre-series A             53
Series C                 50
Series D                 22
Debt                     18
Pre Series A             12
Pre-seed                 11
Seed round                9
Series E                  6
Bridge                    6
Series F                  4
Pre-series B              4
Angel Round               4
Pre seed round            4
Pre-seed Round            2
Pre series B              2
Pre-Seed                  2
Seed Funding              2
Series B2                 2
Pre-series C              2
Seed funding              2
Pre-Series B              2
Seed Round & Series A     1
Series C, D               1
Mid series                1
Series D1                 1
Seed Investment           1
Pre series C              1
Pre-series                1
Bridge Round              1
Series H                  1
Seed A                    1
Pre- series A             1
Series E2                 1
Pre series A1             1
Edge                      1
Pre seed Round            1
Series A-1                1
Name: count, dtype: int64

In [100]:
# Fixing some errors and re-categorizing some of the Stage values
data_2020['Stage'].replace('Bridge Round', 'Bridge', inplace = True)
data_2020['Stage'].replace('Pre seed round', 'Pre seed Round', inplace = True)
data_2020['Stage'].replace('Pre series A', 'Pre Series A', inplace = True)
data_2020['Stage'].replace('Pre- series A', 'Pre Series A', inplace = True)
data_2020['Stage'].replace('Pre-seed', 'Pre-Seed', inplace = True)
data_2020['Stage'].replace('Pre-series A', 'Pre Series A', inplace = True)
data_2020['Stage'].replace('Pre series B', 'Pre Series B', inplace = True)
data_2020['Stage'].replace('Pre-series B', 'Pre Series B', inplace = True)
data_2020['Stage'].replace('Pre-Series B', 'Pre Series B', inplace = True)
data_2020['Stage'].replace('Pre series C', 'Pre Series C', inplace = True)
data_2020['Stage'].replace('Pre-series C', 'Pre Series C', inplace = True)
data_2020['Stage'].replace('Seed A', 'Seed', inplace = True)
data_2020['Stage'].replace('Seed Funding', 'Seed', inplace = True)
data_2020['Stage'].replace('Seed round', 'Seed', inplace = True)
data_2020['Stage'].replace('Seed Round', 'Seed', inplace = True)
data_2020['Stage'].replace('Seed funding', 'Seed', inplace = True)
data_2020['Stage'].replace('Seed Investment', 'Seed', inplace = True)

In [101]:
# Confirm changes in the 'Stage' column
data_2020['Stage'].value_counts()

Stage
Seed                     163
Pre Series A             120
Series A                  96
Series B                  57
Series C                  50
Series D                  22
Debt                      18
Pre-Seed                  13
Pre Series B               8
Bridge                     7
Series E                   6
Pre seed Round             5
Angel Round                4
Series F                   4
Pre Series C               3
Pre-seed Round             2
Series B2                  2
Series A-1                 1
Series H                   1
Seed Round & Series A      1
Edge                       1
Pre-series                 1
Pre series A1              1
Series E2                  1
Series D1                  1
Mid series                 1
Series C, D                1
Name: count, dtype: int64

In [102]:
# Checking the dataset 2020 after cleaning some columns
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       1052 non-null   object
 1   Location           958 non-null    object
 2   Sector             1039 non-null   object
 3   What_it_does       1052 non-null   object
 4   Investor           1014 non-null   object
 5   Funding_Amount($)  799 non-null    object
 6   Stage              590 non-null    object
 7   Year               1052 non-null   int64
dtypes: int64(1), object(7)
memory usage: 74.0+ KB

3.1.4 Cleaning Dataset 2021

In [103]:
# Querying the Database to determine the tables we are to use for analysis
query1 = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query1, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [104]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [105]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates1 = data_2021.duplicated()

# Count duplicate rows
num_duplicates1 = duplicates1.sum()
print(f"Number of duplicate rows: {num_duplicates1}")

Number of duplicate rows: 19

In [106]:
# Viewing the duplicated rows
data_2021[data_2021.duplicated(keep = False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
94,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,None
96,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,None
98,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
104,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,None
106,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,None
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed ju...,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,None
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,Bewakoof is a lifestyle fashion brand that mak...,Prabhkiran Singh,InvestCorp,$8000000,None
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia g...,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,Advantage Club is India's largest employee eng...,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,None
119,Ruptok,2020.0,New Delhi,FinTech,Ruptok fintech Pvt. Ltd. is an online gold loa...,Ankur Gupta,Eclear Leasing,$1000000,None
229,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
230,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
231,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
232,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,$24000000,Series E
233,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
234,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
235,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,None
236,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
237,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
238,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
239,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
240,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",None,$500000,None
241,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None
243,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platf...,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
244,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
245,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable u...,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
246,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,A vision and passion of redefining healthcare ...,Vikram Vuppala,IIFL Asset Management,$24000000,Series E
247,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
248,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
249,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses wi...,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,None
250,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
251,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platf...,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstrea...,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
253,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representa...,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
254,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommer...,"Utsav Agarwal, Pulkit Chhabra",None,$500000,None
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,None

In [107]:
# Dropping duplicated rows
data_2021.drop_duplicates(inplace = True)

In [108]:
# Dropping 'Founded' and 'Founders' columns since they are not needed in my analysis but I would keep the 'Investor' column
data_2021.drop(['Founded', 'Founders'], axis = 1, inplace = True)

In [109]:
# Add a Year column for easy identification of Year 2021 data info
data_2021['Year'] = 2021
data_2021

,Company_Brand,HeadQuarter,Sector,What_it_does,Investor,Amount,Stage,Year
0,Unbox Robotics,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,Mumbai,EdTech,UpGrad is an online higher education platform.,"Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,Mumbai,EdTech,LEAD School offers technology based school tra...,"GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...","Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021
...,...,...,...,...,...,...,...,...
1204,Gigforce,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,Endiya Partners,$3000000,Pre-series A,2021
1205,Vahdam,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,IIFL AMC,$20000000,Series D,2021
1206,Leap Finance,Bangalore,Financial Services,International education loans for high potenti...,Owl Ventures,$55000000,Series C,2021
1207,CollegeDekho,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...","Winter Capital, ETS, Man Capital",$26000000,Series B,2021
1208,WeRize,Bangalore,Financial Services,India’s first socially distributed full stack ...,"3one4 Capital, Kalaari Capital",$8000000,Series A,2021

In [110]:
# Renaming Columns to match other Datasets for consistency
data_2021.rename(columns = {
    'Company_Brand': 'Company_Name',
    'HeadQuarter': 'Location',
    'Amount': 'Funding_Amount($)'
}, inplace=True)

In [111]:
# Checking the DataFrame info to confirm chaning of column names
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       1190 non-null   object
 1   Location           1189 non-null   object
 2   Sector             1190 non-null   object
 3   What_it_does       1190 non-null   object
 4   Investor           1129 non-null   object
 5   Funding_Amount($)  1187 non-null   object
 6   Stage              769 non-null    object
 7   Year               1190 non-null   int64
dtypes: int64(1), object(7)
memory usage: 83.7+ KB

In [112]:
# Checking the 'Location' column for irregularities
data_2021['Location'].value_counts()

Location
Bangalore             421
Mumbai                198
Gurugram              154
New Delhi             142
Pune                   46
                     ...
Thiruvananthapuram      1
Faridabad               1
Roorkee                 1
Ambernath               1
Gandhinagar             1
Name: count, Length: 70, dtype: int64

In [113]:
data_2021['Location'].unique()

array(['Bangalore', 'Mumbai', 'Gurugram', 'New Delhi', 'Hyderabad',
       'Jaipur', 'Ahmadabad', 'Chennai', None,
       'Small Towns, Andhra Pradesh', 'Goa', 'Rajsamand', 'Ranchi',
       'Faridabad, Haryana', 'Gujarat', 'Pune', 'Thane', 'Computer Games',
       'Cochin', 'Noida', 'Chandigarh', 'Gurgaon', 'Vadodara',
       'Food & Beverages', 'Pharmaceuticals\t#REF!', 'Gurugram\t#REF!',
       'Kolkata', 'Ahmedabad', 'Mohali', 'Haryana', 'Indore', 'Powai',
       'Ghaziabad', 'Nagpur', 'West Bengal', 'Patna', 'Samsitpur',
       'Lucknow', 'Telangana', 'Silvassa', 'Thiruvananthapuram',
       'Faridabad', 'Roorkee', 'Ambernath', 'Panchkula', 'Surat',
       'Coimbatore', 'Andheri', 'Mangalore', 'Telugana', 'Bhubaneswar',
       'Kottayam', 'Beijing', 'Panaji', 'Satara', 'Orissia', 'Jodhpur',
       'New York', 'Santra', 'Mountain View, CA', 'Trivandrum',
       'Jharkhand', 'Kanpur', 'Bhilwara', 'Guwahati',
       'Online Media\t#REF!', 'Kochi', 'London',
       'Information Technology & Services', 'The Nilgiris', 'Gandhinagar'],
      dtype=object)

In [114]:
# Investigating some of the errors detetced in the 'Location'column
data_2021[data_2021['Location'] == 'Computer Games']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
98,FanPlay,Computer Games,Computer Games,A real money game app specializing in trivia g...,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021

In [115]:
data_2021[data_2021['Location'] == 'Food & Beverages']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
241,MasterChow,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,WEH Ventures,$461000,Seed,2021

In [116]:
data_2021[data_2021['Location'] == 'Pharmaceuticals\t#REF!']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
242,Fullife Healthcare,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,Varun Khanna,$22000000,Series C,None,2021

In [117]:
data_2021[data_2021['Location'] == 'Gurugram\t#REF!']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
257,MoEVing,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain",$5000000,Seed,None,2021

In [118]:
data_2021[data_2021['Location'] == 'Information Technology & Services']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
1176,Peak,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put ...,SoftBank Vision Fund 2,$75000000,Series C,2021

In [119]:
data_2021[data_2021['Location'] == 'Online Media\t#REF!']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
1100,Sochcast,Online Media\t#REF!,Sochcast is an Audio experiences company that ...,"CA Harvinderjit Singh Bhatia, Garima Surana, A...",$Undisclosed,None,None,2021

In [120]:
# Fixing detected errors in the 'Location'column
data_2021['Location'].replace('Small Towns, Andhra Pradesh', 'Andhra Pradesh', inplace = True)
data_2021['Location'].replace('Faridabad, Haryana', 'Faridabad', inplace = True)
data_2021['Location'].replace('Mountain View, CA', 'California', inplace = True)
data_2021['Location'].replace('Online Media\t#REF!', np.nan, inplace = True)
data_2021['Location'].replace('Information Technology & Services', 'Manchester', inplace = True)
data_2021['Location'].replace('Gurugram\t#REF!', 'Gurugram', inplace = True)
data_2021['Location'].replace('Pharmaceuticals\t#REF!', np.nan, inplace = True)
data_2021['Location'].replace('Food & Beverages', np.nan, inplace = True)
data_2021['Location'].replace('Computer Games', np.nan, inplace = True)

In [121]:
# Checking the 'Sector' column
data_2021['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting'], dtype=object)

In [122]:
data_2021['Sector'].value_counts()

Sector
FinTech                  121
EdTech                   102
Financial Services        59
E-commerce                37
Food & Beverages          36
                        ...
Home Decor                 1
TaaS startup               1
Beverages                  1
Manufacturing startup      1
Staffing & Recruiting      1
Name: count, Length: 254, dtype: int64

Errors noted in the 'Sector' column will be treated when all 4 datasets are merged together.

In [123]:
# Checking the 'Funding_Amount($)' column for irregularities
data_2021['Funding_Amount($)'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [124]:
data_2021['Funding_Amount($)'].value_counts()

Funding_Amount($)
$Undisclosed    72
$1000000        50
Undisclosed     43
$2000000        40
$1,000,000      33
                ..
$18,000,000      1
$5,200,000       1
$1,400,000       1
$900,000         1
$55000000        1
Name: count, Length: 278, dtype: int64

In [125]:
# Replacing values and correcting some errors
data_2021['Funding_Amount($)'].replace("[, $J]", " ", inplace = True, regex = True)

# Removing spaces
data_2021['Funding_Amount($)'] = data_2021['Funding_Amount($)'].str.replace(' ', '')

In [126]:
# Checking the 'Funding_Amount' column again
data_2021['Funding_Amount($)'].value_counts()

Funding_Amount($)
Undisclosed    115
1000000         83
2000000         60
3000000         48
10000000        43
              ...
67000000         1
36000000         1
Upsparks         1
720000           1
55000000         1
Name: count, Length: 206, dtype: int64

In [127]:
data_2021['Funding_Amount($)'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', 'Undisclosed', '1000000', '3000000',
       '100000', '700000', '9000000', '40000000', '49000000', '400000',
       '300000', '25000000', '160000000', '150000', '1800000', '5000000',
       '850000', '53000000', '500000', '1100000', '6000000', '800000',
       '10000000', '21000000', '7500000', '26000000', '7400000',
       '1500000', '600000', '800000000', '17000000', '3500000',
       '15000000', '215000000', '2500000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '65000000', '150000000000',
       '300000000', '2200000', '35000000', '140000000', '4000000',
       '13000000', None, '9500000', '8000000', 'Upsparks', '12000000',
       '1700000', '150000000', '100000000', '225000000', '6700000',
       '1300000', '20000000', '250000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '7000000', '450000000', '28000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '50000000', '4900000', '145000000',
       '22000000', '70000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'SeriesC', 'Seed', '96000000', '60000000',
       '266000000', '4500000', '325000000', '6500000', '1600000',
       '225000', '85000000', '235000', '260000', '2900000', '86000000',
       '130000', '10000', '111000000', '265000', '76000000', '75000000',
       '1000000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '1400000', '2600000', '900000', '11000000', '280000000',
       '14300000', '81000000', '8200000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ah!Ventures',
       '45000000', '3200000', '370000', 'Pre-seriesA',
       'ITOAngelNetworkLetsVenture', '48000000', '3600000', '192000000',
       '1900000', '41000000', '144000000', '270000000', '140000',
       '250000000', '320000', '4800000', '38000000', '125000', '64000000',
       '620000', '1250000', '400000000', '27000000', '234000000',
       '460000000', '13500000', '5100000', '195000000', '7300000',
       '6300000', '12500000', '16500000', '340000', '43000000', '3300000',
       '92000000', '135000000', '155000', '2100000', '840000000',
       '248000000', '4300000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '550000', '2700000', '4200000',
       '31000000', '540000', '14000000', '', '6200000', '750000',
       '23000000', '55000000'], dtype=object)

In [128]:
# Checking 'Funding_Amount($)' column closely
data_2021[data_2021['Funding_Amount($)'] == 'ITOAngelNetworkLetsVenture']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,"Omkar Pandharkame, Ketaki Ogale",ITOAngelNetworkLetsVenture,$300000,2021
677,Saarthi Pedagogy,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Sushil Agarwal,ITOAngelNetworkLetsVenture,$1000000,2021

In [129]:
# Replacing rows in the 'Funding_Amount($)' column detected above
data_2021.at[551, 'Funding_Amount($)'] = '300000'
data_2021.at[677, 'Funding_Amount($)'] = '1000000'

In [130]:
# Defining a function to swap values within 2 columns of the dataset

def swap(df, index, column1, column2):
    # Get values of the two columns for the specific index
    value1 = df.at[index, column1]
    value2 = df.at[index, column2]

    # Swap the values
    df.at[index, column1] = value2
    df.at[index, column2] = value1

In [131]:
# Taking a closer look into the 'Funding_Amount($)' column for values to swap with the function above
data_2021[data_2021['Funding_Amount($)'] == 'Pre-seriesA']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
545,AdmitKard,Noida,EdTech,A tech solution for end to end career advisory...,$1000000,Pre-seriesA,None,2021

In [132]:
# Swapping values for index 545
swap(data_2021, 545, 'Funding_Amount($)', 'Stage')

In [133]:
data_2021[data_2021['Funding_Amount($)'] == 'Seed']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
257,MoEVing,Gurugram,MoEVing is India's only Electric Mobility focu...,"Vikash Mishra, Mragank Jain",$5000000,Seed,None,2021
1148,Godamwale,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics...,1000000\t#REF!,Seed,None,2021

In [134]:
swap(data_2021, 257, 'Funding_Amount($)', 'Stage')
swap(data_2021, 1148, 'Funding_Amount($)', 'Stage')

In [135]:
swap(data_2021, 257, 'Funding_Amount($)', 'Investor')
swap(data_2021, 1148, 'Funding_Amount($)', 'Investor')
swap(data_2021, 545, 'Funding_Amount($)', 'Investor')

In [136]:
data_2021['Funding_Amount($)'].replace('$5000000', '5000000', inplace = True)
data_2021['Funding_Amount($)'].replace('1000000\t#REF!', '1000000', inplace = True)
data_2021['Funding_Amount($)'].replace('$1000000', '1000000', inplace = True)

In [137]:
data_2021[data_2021['Funding_Amount($)'] == 'SeriesC']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
242,Fullife Healthcare,NaN,Primary Business is Development and Manufactur...,Varun Khanna,$22000000,SeriesC,None,2021

In [138]:
swap(data_2021, 242, 'Funding_Amount($)', 'Stage')
swap(data_2021, 242, 'Funding_Amount($)', 'Investor')
data_2021['Funding_Amount($)'].replace('$22000000', '22000000', inplace = True)

In [139]:
data_2021[data_2021['Funding_Amount($)'] == 'Upsparks']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
98,FanPlay,NaN,Computer Games,A real money game app specializing in trivia g...,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021

In [140]:
swap(data_2021, 98, 'Funding_Amount($)', 'Stage')
data_2021['Funding_Amount($)'].replace('$1200000', '1200000', inplace = True)

In [141]:
data_2021[data_2021['Funding_Amount($)'] == 'ah!Ventures']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
538,Little Leap,New Delhi,EdTech,Soft Skills that make Smart Leaders,Vishal Gupta,ah!Ventures,$300000,2021

In [142]:
swap(data_2021, 538, 'Funding_Amount($)', 'Stage')
data_2021['Funding_Amount($)'].replace('$300000', '300000', inplace = True)

In [143]:
# Replacing values with np.nan
data_2021['Funding_Amount($)'].replace(' ', np.nan, inplace = True, regex = True)
data_2021['Funding_Amount($)'].replace('undisclosed', np.nan, inplace = True, regex = True)
data_2021['Funding_Amount($)'].replace('Undisclosed', np.nan, inplace = True, regex = True)

In [144]:
# Confirming changes made in the 'Funding_Amount($)' column
data_2021['Funding_Amount($)'].value_counts()

Funding_Amount($)
1000000     86
2000000     60
3000000     48
10000000    43
5000000     42
            ..
10200000     1
67000000     1
36000000     1
720000       1
55000000     1
Name: count, Length: 198, dtype: int64

In [145]:
data_2021['Funding_Amount($)'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', nan, '1000000', '3000000', '100000',
       '700000', '9000000', '40000000', '49000000', '400000', '300000',
       '25000000', '160000000', '150000', '1800000', '5000000', '850000',
       '53000000', '500000', '1100000', '6000000', '800000', '10000000',
       '21000000', '7500000', '26000000', '7400000', '1500000', '600000',
       '800000000', '17000000', '3500000', '15000000', '215000000',
       '2500000', '350000000', '5500000', '83000000', '110000000',
       '500000000', '65000000', '150000000000', '300000000', '2200000',
       '35000000', '140000000', '4000000', '13000000', None, '9500000',
       '8000000', '12000000', '1700000', '150000000', '100000000',
       '225000000', '6700000', '1300000', '20000000', '250000',
       '52000000', '3800000', '17500000', '42000000', '2300000',
       '7000000', '450000000', '28000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '50000000', '4900000', '145000000', '22000000', '70000000',
       '6600000', '32000000', '24000000', '725000', '461000', '96000000',
       '60000000', '266000000', '4500000', '325000000', '6500000',
       '1600000', '225000', '85000000', '235000', '260000', '2900000',
       '86000000', '130000', '10000', '111000000', '265000', '76000000',
       '75000000', '1000000000', '18000000', '350000', '95000000',
       '4100000', '5200000', '1400000', '2600000', '900000', '11000000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       '200000000', '36000000', '67000000', '10200000', '220000000',
       '108000000', '450000', '660000000', '45000000', '3200000',
       '370000', '48000000', '3600000', '192000000', '1900000',
       '41000000', '144000000', '270000000', '140000', '250000000',
       '320000', '4800000', '38000000', '125000', '64000000', '620000',
       '1250000', '400000000', '27000000', '234000000', '460000000',
       '13500000', '5100000', '195000000', '7300000', '6300000',
       '12500000', '16500000', '340000', '43000000', '3300000',
       '92000000', '135000000', '155000', '2100000', '840000000',
       '248000000', '4300000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '550000', '2700000', '4200000',
       '31000000', '540000', '14000000', '', '6200000', '750000',
       '23000000', '55000000'], dtype=object)

In [146]:
# Checking 'Stage' column
data_2021['Stage'].unique()

array(['Pre-series A', None, 'Series D', 'Series C', 'Seed', 'Series B',
       'Series E', 'Pre-seed', 'Series A', 'Pre-series B', 'Debt',
       'Upsparks', 'Bridge', 'Seed+', 'Series F2', 'Series A+', 'SeriesC',
       'Series G', 'Series F', 'Series H', 'Series B3', 'PE', 'Series F1',
       'Pre-series A1', 'ah!Ventures', 'Pre-seriesA', '$300000',
       'Early seed', 'Series D1', '$6000000', '$1000000', 'Seies A',
       'Pre-series', 'Series A2', 'Series I'], dtype=object)

In [147]:
data_2021['Stage'].value_counts()

Stage
Seed             243
Pre-series A     154
Series A         125
Series B          49
Pre-seed          47
Series C          44
Debt              27
Series D          21
Series E          17
Pre-series B      10
Series F           6
Pre-series A1      4
Series G           2
Pre-series         2
Series H           2
Bridge             2
SeriesC            1
Upsparks           1
Series A2          1
Series F2          1
Seies A            1
$1000000           1
$6000000           1
Series D1          1
Early seed         1
$300000            1
Pre-seriesA        1
ah!Ventures        1
Seed+              1
Series F1          1
PE                 1
Series B3          1
Series A+          1
Series I           1
Name: count, dtype: int64

In [148]:
# Replacing values in the 'Stage' column
data_2021['Stage'].replace("[$]", "", inplace = True, regex = True)

In [149]:
data_2021['Stage'].value_counts()

Stage
Seed             243
Pre-series A     154
Series A         125
Series B          49
Pre-seed          47
Series C          44
Debt              27
Series D          21
Series E          17
Pre-series B      10
Series F           6
Pre-series A1      4
Series G           2
Pre-series         2
Series H           2
Bridge             2
SeriesC            1
Upsparks           1
Series A2          1
Series F2          1
Seies A            1
1000000            1
6000000            1
Series D1          1
Early seed         1
300000             1
Pre-seriesA        1
ah!Ventures        1
Seed+              1
Series F1          1
PE                 1
Series B3          1
Series A+          1
Series I           1
Name: count, dtype: int64

In [175]:
# Checking the 'Stage' column closely
data_2021[data_2021['Stage'] == '300000']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employ...,"Omkar Pandharkame, Ketaki Ogale",300000,300000,2021

In [176]:
data_2021['Stage'].replace('300000', np.nan, inplace = True)

In [177]:
data_2021[data_2021['Stage'] == '1000000']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
677,Saarthi Pedagogy,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serv...",Sushil Agarwal,1000000,1000000,2021

In [178]:
data_2021['Stage'].replace('1000000', np.nan, inplace = True)

In [202]:
data_2021[data_2021['Stage'] == '6000000']

,Company_Name,Location,Sector,What_it_does,Investor,Funding_Amount($),Stage,Year
674,MYRE Capital,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,Aryaman Vir,None,6000000,2021

In [203]:
swap(data_2021, 674, 'Funding_Amount($)', 'Stage')
data_2021['Funding_Amount($)'].replace('6000000', '6000000', inplace = True)
data_2021['Funding_Amount($)'].replace('1000000', '1000000', inplace = True)
data_2021['Funding_Amount($)'].replace('300000', '300000', inplace = True)

In [205]:
data_2021[data_2021['Stage'] == 'Upsparks']

Empty DataFrame
Columns: [Company_Name, Location, Sector, What_it_does, Investor, Funding_Amount($), Stage, Year]
Index: []

In [182]:
data_2021[data_2021['Stage'] == 'ah!Ventures']

Empty DataFrame
Columns: [Company_Name, Location, Sector, What_it_does, Investor, Funding_Amount($), Stage, Year]
Index: []

In [183]:
data_2021[data_2021['Stage'] == 'Seies A']

Empty DataFrame
Columns: [Company_Name, Location, Sector, What_it_does, Investor, Funding_Amount($), Stage, Year]
Index: []

In [184]:
# Replacing values detetcted above 
data_2021['Stage'].replace('Upsparks', np.nan, inplace = True, regex = True)
data_2021['Stage'].replace('ah!Ventures', np.nan, inplace = True, regex = True)
data_2021['Stage'].replace('Seies A', 'Series A', inplace = True, regex = True)

In [206]:
# Confirming changes made in the 'Stage' column
data_2021['Stage'].value_counts()

Stage
Seed             243
Pre-series A     154
Series A         126
Series B          49
Pre-seed          47
Series C          44
Debt              27
Series D          21
Series E          17
Pre-series B      10
Series F           6
Pre-series A1      4
Series H           2
Series G           2
Bridge             2
Pre-series         2
Series D1          1
Series A2          1
Early seed         1
Pre-seriesA        1
SeriesC            1
Series F1          1
PE                 1
Series B3          1
Series A+          1
Series F2          1
Seed+              1
Series I           1
Name: count, dtype: int64

In [186]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       1190 non-null   object
 1   Location           1185 non-null   object
 2   Sector             1190 non-null   object
 3   What_it_does       1190 non-null   object
 4   Investor           1125 non-null   object
 5   Funding_Amount($)  1050 non-null   object
 6   Stage              769 non-null    object
 7   Year               1190 non-null   int64
dtypes: int64(1), object(7)
memory usage: 116.0+ KB

3.1.5 MERGING ALL 4 DATAFRAMES

In [207]:
# Merging all 4 DataFrames

merged_data = pd.concat([data_2018, data_2019, data_2020, data_2021], ignore_index = True)
merged_data

,Company_Name,Sector,Stage,Location,What_it_does,Funding_Amount($),Year,Investor
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000,2018,NaN
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018,NaN
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018,NaN
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000,2018,NaN
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018,NaN
...,...,...,...,...,...,...,...,...
2851,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000,2021,Endiya Partners
2852,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically i...,20000000,2021,IIFL AMC
2853,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potenti...,55000000,2021,Owl Ventures
2854,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",26000000,2021,"Winter Capital, ETS, Man Capital"
2855,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack ...,8000000,2021,"3one4 Capital, Kalaari Capital"

MERGED DATASET

Understanding, Cleaning and Preprocessing the merged dataset is very important for the intended analysis.

    a. Checking for duplicates

    b. Cleaning the 'Sector' and 'Stage' columns very well

    c. Dealing with different missing data

    d. Checking and ensuring datatypes are as required
    
    e. Applying any column rule based check if required

In [208]:
merged_data.head()

,Company_Name,Sector,Stage,Location,What_it_does,Funding_Amount($),Year,Investor
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000,2018,NaN
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,584000.0,2018,NaN
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,949000.0,2018,NaN
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000,2018,NaN
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,2018,NaN

In [209]:
merged_data.tail()

,Company_Name,Sector,Stage,Location,What_it_does,Funding_Amount($),Year,Investor
2851,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000,2021,Endiya Partners
2852,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically i...,20000000,2021,IIFL AMC
2853,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potenti...,55000000,2021,Owl Ventures
2854,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",26000000,2021,"Winter Capital, ETS, Man Capital"
2855,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack ...,8000000,2021,"3one4 Capital, Kalaari Capital"

In [210]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       2856 non-null   object
 1   Sector             2808 non-null   object
 2   Stage              1886 non-null   object
 3   Location           2738 non-null   object
 4   What_it_does       2856 non-null   object
 5   Funding_Amount($)  2304 non-null   object
 6   Year               2856 non-null   int64
 7   Investor           2228 non-null   object
dtypes: int64(1), object(7)
memory usage: 178.6+ KB

In [211]:
# Checking for duplicate rows in the Merged DataFrame
merged_data.duplicated().sum()

1

In [212]:
# Show all occurences of duplicated rows
merged_data[merged_data.duplicated(keep = False)]

,Company_Name,Sector,Stage,Location,What_it_does,Funding_Amount($),Year,Investor
1998,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings pla...,1000000,2021,Inflection Point Ventures
2063,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings pla...,1000000,2021,Inflection Point Ventures

In [213]:
# Drop duplicates
merged_data.drop_duplicates(inplace = True, ignore_index = True)

In [214]:
merged_data['Funding_Amount($)'].unique()

array(['250000', 584000.0, 949000.0, '2000000', nan, '1600000', 233600.0,
       730000.0, 1460000.0, '150000', '1100000', 7300.0, '6000000',
       '650000', 511000.0, 934400.0, 292000.0, '1000000', '5000000',
       '4000000', 438000.0, '2800000', '1700000', '1300000', 73000.0,
       182500.0, 219000.0, '500000', 1518400.0, 657000.0, '13400000',
       365000.0, 385440.0, 116800.0, 876.0, '9000000', '100000', '20000',
       '120000', 496400.0, 4993200.0, ' 143 145', 8760000.0,
       ' 742 000 000', 14600000.0, 29200000.0, ' 3 980 000', ' 10 000',
       1460.0, 3650000.0, ' 1 000 000 000', ' 7 000 000', ' 35 000 000',
       8030000.0, ' 28 500 000', ' 2 000 000', 3504000.0, 1752000.0,
       ' 2 400 000', ' 30 000 000', 36500000.0, ' 23 000 000', ' 150 000',
       ' 11 000 000', 642400.0, ' 3 240 000', 876000.0, ' 540 000 000',
       9490000.0, 23360000.0, ' 900 000', ' 10 000 000', ' 1 500 000',
       1022000.0, ' 1 000 000', ' 5 000 000', ' 14 000 000', 1496500.0,
       ' 100 000 000', 17520.0, 75920000.0, ' 800 000', ' 1 041 000',
       ' 100 000', ' 15 000', '1400000', '1200000', '2200000', '1800000',
       '3600000', 138700.0, '300000', '6830000', '200000', 2190000.0,
       '4300000', '364846', '400000', '1500000', 102200.0, 20440.0,
       146000.0, 328500.0, '13200000', '50000', 2046920.0, '3000000',
       '1250000', '180000', 280320.0, 1503800.0, '4200000', '175000',
       '1450000', 2920.0, '4500000', '600000', 242360.0, 175200.0,
       '15000000', 481800.0, '125000', '130000', 509540.0, 1051200.0,
       '17200000', 467200.0, '3500000', 1971000.0, '12000000',
       ' 40 000 000', ' 1 100 000', ' 50 000 000', 22484000.0,
       ' 3 000 000', ' 6 000 000', 2044000.0, ' 41 900 000', 20586000.0,
       ' 3 530 000', ' 200 000', ' 3 300 000', 8468000.0, 525600.0,
       4964000.0, ' 210 000 000', ' 37 680 000', ' 250 000', ' 20 000',
       7446000.0, 32120000.0, '22000000', '70000', '10000000',
       224723200.0, 292000000.0, 58400000.0, '185000000', '65000000',
       2409000.0, '700000', '30000000', 3066000.0, '210000000',
       29632160.0, '75000000', 1168000.0, '1760000', '2700000', 4088000.0,
       11680000.0, '750000', '2500000', '80000000', '25000000',
       10658000.0, 5840000.0, '3700000', '5600000', 3796000.0, '99230000',
       '70000000', '40000', '550000', '50000000', '365000000', 127750.0,
       1138800.0, '28000000', 3854400.0, '100000000', 16498000.0,
       11826000.0, 20440000.0, '14900000', '225000000', '7500',
       '35000000', '6300000', '150000000', '20000000', '275000000',
       '140500', '540000000', '182700', '11000000', '15500000', '5500000',
       '140000', '230000000', '49400000', '32000000', '26000000',
       '8000000', '120000000', '6800000', '36000000', '5700000',
       '60000000', '220000', '2100000', '7000000', '311000000', '4800000',
       '693000000', '33000000', '200000.0', '100000.0', '400000.0',
       '340000.0', '600000.0', '45000000.0', '1000000.0', '2000000.0',
       '1200000.0', '660000000.0', '120000.0', '7500000.0', '5000000.0',
       '500000.0', '3000000.0', '10000000.0', '145000000.0',
       '100000000.0', '21000000.0', '4000000.0', '20000000.0', '560000.0',
       '275000.0', '4500000.0', '15000000.0', '390000000.0', '7000000.0',
       '5100000.0', '700000000.0', '2300000.0', '700000.0', '19000000.0',
       '9000000.0', '40000000.0', '750000.0', '1500000.0', '7800000.0',
       '50000000.0', '80000000.0', '30000000.0', '1700000.0', '2500000.0',
       '40000.0', '33000000.0', '35000000.0', '300000.0', '25000000.0',
       '3500000.0', '200000000.0', '6000000.0', '1300000.0', '4100000.0',
       '575000.0', '800000.0', '28000000.0', '18000000.0', '3200000.0',
       '900000.0', '250000.0', '4700000.0', '75000000.0', '8000000.0',
       '121000000.0', '55000000.0', '3300000.0', '11000000.0',
       '16000000.0', '5400000.0', '150000000.0', '4200000.0',
       '22000000.0', '52000000.0', '1100000.0', '118000000.0',
       '1600000.0', '18500000.0', '70000000000.0', '800000000.0',
       '400000000.0', '150000.0', '176000000.0', '60000000.0', '470000.0',
       '240000.0', '3000000000.0', '74000000.0', '62000000.0',
       '2100000.0', '500000000.0', '12500000.0', '2200000000.0',
       '5060000.0', '225000000.0', '24700000.0', '7700000.0',
       '19067328.0', '51000000.0', '115000.0', '54000.0', '20000.0',
       '803146.0', '238000.0', '10220000.0', '1020000.0', '12000000.0',
       '13400000.0', '170000000.0', '2900000.0', '543000.0', '90000000.0',
       '3400000.0', '23000000.0', '8090000.0', '1030000.0', '5040000.0',
       '360000.0', '1400000.0', '650000.0', '54000000.0', '42500000.0',
       '11370000.0', '325000.0', '410000.0', '450000.0', '682000.0',
       '4050000.0', '1050000.0', '1080000.0', '4300000.0', '6800000.0',
       '2110000.0', '764000.0', '603000.0', '409000.0', '292000.0',
       '286000.0', '136000.0', '546000.0', '887000.0', '43000.0',
       '40900.0', '2200000.0', '5660000.0', '350000.0', '110000.0',
       '122000000.0', '11635000.0', '2800000.0', '1065000.0', '669000.0',
       '16076000.0', '649600.0', '6700000.0', '220000.0', '266500.0',
       '2879000.0', '26500000.0', '351000.0', '46761000.0', '175000.0',
       '11241000.0', '804000.0', '1340000.0', '467000.0', '133000.0',
       '3823000.0', '934000.0', '293000.0', '198000.0', '927000.0',
       '971000.0', '3060000.0', '1862000.0', '232000.0', '2888000.0',
       '1328000.0', '15500000.0', '56000000.0', '2250000.0', '16753000.0',
       '3700000.0', '1470000.0', '530000.0', '267000.0', '3344000.0',
       '7200000.0', '2743000.0', '6082000.0', '6609000.0', '27700000.0',
       '5940000.0', '3964000.0', '5500000.0', '197000.0', '4327000.0',
       '459000.0', '3937000.0', '1313500.0', '229800.0', '5305000.0',
       '264000.0', '1750000.0', '5967000.0', '2980000.0', '323000.0',
       '1326000.0', '27000000.0', '5200000.0', '2530000.0', '792000.0',
       '11363000.0', '1715000.0', '329000.0', '5271000.0', '8700000.0',
       '3226000.0', '5900000.0', '44000000.0', '3879000.0', '13000000.0',
       '8800000.0', '9500000.0', '920000.0', '35600000.0', '9400000.0',
       '790000.0', '480000.0', '160000.0', '8200000.0', '4257000.0',
       '1410000.0', '349800.0', '786000.0', '2004000.0', '123000000.0',
       '248000.0', '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0', '51000000', '188000000', '40000000',
       '49000000', '160000000', '850000', '53000000', '800000',
       '21000000', '7500000', '7400000', '800000000', '17000000',
       '215000000', '350000000', '83000000', '110000000', '500000000',
       '150000000000', '300000000', '140000000', '13000000', None,
       '9500000', '6700000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '450000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '4900000', '145000000', '6600000', '24000000', '725000', '461000',
       '96000000', '266000000', '325000000', '6500000', '225000',
       '85000000', '235000', '260000', '2900000', '86000000', '10000',
       '111000000', '265000', '76000000', '1000000000', '18000000',
       '350000', '95000000', '4100000', '5200000', '2600000', '900000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       '200000000', '67000000', '10200000', '220000000', '108000000',
       '450000', '660000000', '45000000', '3200000', '370000', '48000000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '250000000', '320000', '38000000', '64000000', '620000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '12500000', '16500000',
       '340000', '43000000', '3300000', '92000000', '135000000', '155000',
       '840000000', '248000000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '31000000', '540000', '14000000', '', '6200000',
       '23000000', '55000000'], dtype=object)

In [215]:
# Removing spaces
merged_data['Funding_Amount($)'] = merged_data['Funding_Amount($)'].str.replace(' ', '')
merged_data['Funding_Amount($)'].unique()

array(['250000', nan, '2000000', '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '6300000', '150000000', '20000000', '275000000', '140500',
       '182700', '15500000', '5500000', '140000', '230000000', '49400000',
       '32000000', '26000000', '8000000', '120000000', '6800000',
       '36000000', '5700000', '60000000', '220000', '2100000',
       '311000000', '4800000', '693000000', '33000000', '200000.0',
       '100000.0', '400000.0', '340000.0', '600000.0', '45000000.0',
       '1000000.0', '2000000.0', '1200000.0', '660000000.0', '120000.0',
       '7500000.0', '5000000.0', '500000.0', '3000000.0', '10000000.0',
       '145000000.0', '100000000.0', '21000000.0', '4000000.0',
       '20000000.0', '560000.0', '275000.0', '4500000.0', '15000000.0',
       '390000000.0', '7000000.0', '5100000.0', '700000000.0',
       '2300000.0', '700000.0', '19000000.0', '9000000.0', '40000000.0',
       '750000.0', '1500000.0', '7800000.0', '50000000.0', '80000000.0',
       '30000000.0', '1700000.0', '2500000.0', '40000.0', '33000000.0',
       '35000000.0', '300000.0', '25000000.0', '3500000.0', '200000000.0',
       '6000000.0', '1300000.0', '4100000.0', '575000.0', '800000.0',
       '28000000.0', '18000000.0', '3200000.0', '900000.0', '250000.0',
       '4700000.0', '75000000.0', '8000000.0', '121000000.0',
       '55000000.0', '3300000.0', '11000000.0', '16000000.0', '5400000.0',
       '150000000.0', '4200000.0', '22000000.0', '52000000.0',
       '1100000.0', '118000000.0', '1600000.0', '18500000.0',
       '70000000000.0', '800000000.0', '400000000.0', '150000.0',
       '176000000.0', '60000000.0', '470000.0', '240000.0',
       '3000000000.0', '74000000.0', '62000000.0', '2100000.0',
       '500000000.0', '12500000.0', '2200000000.0', '5060000.0',
       '225000000.0', '24700000.0', '7700000.0', '19067328.0',
       '51000000.0', '115000.0', '54000.0', '20000.0', '803146.0',
       '238000.0', '10220000.0', '1020000.0', '12000000.0', '13400000.0',
       '170000000.0', '2900000.0', '543000.0', '90000000.0', '3400000.0',
       '23000000.0', '8090000.0', '1030000.0', '5040000.0', '360000.0',
       '1400000.0', '650000.0', '54000000.0', '42500000.0', '11370000.0',
       '325000.0', '410000.0', '450000.0', '682000.0', '4050000.0',
       '1050000.0', '1080000.0', '4300000.0', '6800000.0', '2110000.0',
       '764000.0', '603000.0', '409000.0', '292000.0', '286000.0',
       '136000.0', '546000.0', '887000.0', '43000.0', '40900.0',
       '2200000.0', '5660000.0', '350000.0', '110000.0', '122000000.0',
       '11635000.0', '2800000.0', '1065000.0', '669000.0', '16076000.0',
       '649600.0', '6700000.0', '220000.0', '266500.0', '2879000.0',
       '26500000.0', '351000.0', '46761000.0', '175000.0', '11241000.0',
       '804000.0', '1340000.0', '467000.0', '133000.0', '3823000.0',
       '934000.0', '293000.0', '198000.0', '927000.0', '971000.0',
       '3060000.0', '1862000.0', '232000.0', '2888000.0', '1328000.0',
       '15500000.0', '56000000.0', '2250000.0', '16753000.0', '3700000.0',
       '1470000.0', '530000.0', '267000.0', '3344000.0', '7200000.0',
       '2743000.0', '6082000.0', '6609000.0', '27700000.0', '5940000.0',
       '3964000.0', '5500000.0', '197000.0', '4327000.0', '459000.0',
       '3937000.0', '1313500.0', '229800.0', '5305000.0', '264000.0',
       '1750000.0', '5967000.0', '2980000.0', '323000.0', '1326000.0',
       '27000000.0', '5200000.0', '2530000.0', '792000.0', '11363000.0',
       '1715000.0', '329000.0', '5271000.0', '8700000.0', '3226000.0',
       '5900000.0', '44000000.0', '3879000.0', '13000000.0', '8800000.0',
       '9500000.0', '920000.0', '35600000.0', '9400000.0', '790000.0',
       '480000.0', '160000.0', '8200000.0', '4257000.0', '1410000.0',
       '349800.0', '786000.0', '2004000.0', '123000000.0', '248000.0',
       '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0', '51000000', '188000000', '49000000',
       '160000000', '850000', '53000000', '21000000', '7500000',
       '7400000', '800000000', '17000000', '215000000', '350000000',
       '83000000', '110000000', '500000000', '150000000000', '300000000',
       '140000000', '13000000', None, '9500000', '6700000', '52000000',
       '3800000', '17500000', '42000000', '2300000', '450000000',
       '8500000', '37000000', '370000000', '16000000', '44000000',
       '770000', '125000000', '4900000', '145000000', '6600000',
       '24000000', '725000', '461000', '96000000', '266000000',
       '325000000', '6500000', '225000', '85000000', '235000', '260000',
       '2900000', '86000000', '111000000', '265000', '76000000',
       '18000000', '350000', '95000000', '4100000', '5200000', '2600000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       '200000000', '67000000', '10200000', '220000000', '108000000',
       '450000', '660000000', '45000000', '3200000', '370000', '48000000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '250000000', '320000', '38000000', '64000000', '620000',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '12500000', '16500000',
       '340000', '43000000', '92000000', '135000000', '155000',
       '840000000', '248000000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '31000000', '540000', '', '6200000', '55000000'],
      dtype=object)

In [216]:
merged_data['Funding_Amount($)'].value_counts()

Funding_Amount($)
1000000       116
2000000        77
5000000        57
3000000        54
1000000.0      53
             ...
1340000.0       1
804000.0        1
11241000.0      1
175000.0        1
55000000        1
Name: count, Length: 546, dtype: int64

In [217]:
# Change datatypes for 'Funding_Amount($)' and 'Year' columns
merged_data['Funding_Amount($)'] = pd.to_numeric(merged_data['Funding_Amount($)'], errors = 'coerce')

merged_data['Year'] = merged_data['Year'].astype(str)

In [218]:
# Check merged dataset to confirm Datatype change
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company_Name       2855 non-null   object
 1   Sector             2807 non-null   object
 2   Stage              1885 non-null   object
 3   Location           2737 non-null   object
 4   What_it_does       2855 non-null   object
 5   Funding_Amount($)  2157 non-null   float64
 6   Year               2855 non-null   object
 7   Investor           2227 non-null   object
dtypes: float64(1), object(7)
memory usage: 178.6+ KB

In [219]:
# Checking the 'Stage' column
merged_data['Stage'].value_counts().sort_index()

Stage
Angel                     37
Angel Round                4
Bridge                     9
Corporate Round            8
Debt                      45
Debt Financing            13
Early seed                 1
Edge                       1
Fresh funding              1
Funding Round              1
Grant                      4
Mid series                 1
Non-equity Assistance      1
PE                         1
Post series A              1
Post-IPO Debt              2
Post-IPO Equity            3
Pre Series A             120
Pre Series B               8
Pre Series C               3
Pre seed Round             5
Pre series A               9
Pre series A1              1
Pre-Seed                  19
Pre-seed                  47
Pre-seed Round             2
Pre-series                 3
Pre-series A             154
Pre-series A1              4
Pre-series B              10
Pre-seriesA                1
Private Equity            10
Secondary Market           3
Seed                     687
Seed Round & Series A      1
Seed+                      1
Series A                 305
Series A+                  1
Series A-1                 1
Series A2                  1
Series B                 134
Series B+                  1
Series B2                  2
Series B3                  1
Series C                 113
Series C, D                1
Series D                  50
Series D1                  2
Series E                  29
Series E2                  1
Series F                  11
Series F1                  1
Series F2                  1
Series G                   3
Series H                   4
Series I                   1
SeriesC                    1
Name: count, dtype: int64

In [220]:
# Fix errors by assigning similar names to a common name
merged_data['Stage'].replace('Angel Round', 'Angel', inplace = True)
merged_data['Stage'].replace('Debt Financing', 'Debt', inplace = True)
merged_data['Stage'].replace('Funding Round', 'Fresh funding', inplace = True)
merged_data['Stage'].replace(['Pre series A', 'Pre series A1', 'Pre-series A', 'Pre-series A1'], 'Pre Series A', inplace = True)
merged_data['Stage'].replace('Pre-series B', 'Pre Series B', inplace = True)
merged_data['Stage'].replace(['Pre seed Round', 'Pre-seed', 'Pre seed Round'], 'Pre-Seed', inplace = True)
merged_data['Stage'].replace('Seed+', 'Seed', inplace = True)
merged_data['Stage'].replace(['Series A+', 'Series A-1', 'Series A2'], 'Series A', inplace = True)
merged_data['Stage'].replace(['Series B+', 'Series B2', 'Series B3'], 'Series B', inplace = True)
merged_data['Stage'].replace('SeriesC', 'Series C', inplace = True)
merged_data['Stage'].replace('Series C, D', 'Series C', inplace = True)
merged_data['Stage'].replace('Series D1', 'Series D', inplace = True)
merged_data['Stage'].replace('Series E2', 'Series E', inplace = True)
merged_data['Stage'].replace(['Series F1', 'Series F2'], 'Series F', inplace = True)

In [221]:
# Checking 'Stage' column for changes made
merged_data['Stage'].value_counts()

Stage
Seed                     688
Series A                 308
Pre Series A             288
Series B                 138
Series C                 115
Pre-Seed                  71
Debt                      58
Series D                  52
Angel                     41
Series E                  30
Pre Series B              18
Series F                  13
Private Equity            10
Bridge                     9
Corporate Round            8
Series H                   4
Grant                      4
Pre Series C               3
Secondary Market           3
Post-IPO Equity            3
Series G                   3
Pre-series                 3
Pre-seed Round             2
Fresh funding              2
Post-IPO Debt              2
Post series A              1
Non-equity Assistance      1
Edge                       1
Seed Round & Series A      1
Mid series                 1
PE                         1
Pre-seriesA                1
Early seed                 1
Series I                   1
Name: count, dtype: int64

In [222]:
# Check for null values in 'Stage' column
merged_data['Stage'].isna().sum()

970

In [224]:
# Impute missing values in 'Stage' with forward fill
merged_data['Stage'].fillna(method='ffill', inplace=True)

# Impute missing values in 'sector' with mode
merged_data['Sector'].fillna(merged_data['Sector'].mode()[0], inplace=True)

# Impute missing values in 'funding_amount' with median
merged_data['Funding_Amount($)'].fillna(merged_data['Funding_Amount($)'].median(), inplace=True)

# Impute missing values in 'Investor' with mode
merged_data['Investor'].fillna(merged_data['Investor'].mode()[0], inplace=True)

In [228]:
# For the 'Sector' column, I will be using Regular Expression (re) for regrouping

def sector_redistribution(Sector):
    if isinstance(Sector, str):
        if re.search(r'Credit|Financial Services|Lending|Marketplace|FinTech|Accounting|Banking|Venture Capital|Investment|Financial Exchanges|Micro Lending|Wealth Management|Insurance|Crowdfunding|Finance|Impact Investing|Personal Finance|Cryptocurrency|Trading Platform|Financial Services', Sector):
            return 'Finance'
        elif re.search(r'Automotive|Air Transportation|Transport|Logistics|Vehicle|Transportation|Railroad|Last Mile Transportation|Electric Vehicle|Ride Sharing|Autonomous Vehicles|Marine Transportation|Battery', Sector):
            return 'Transport'
        elif re.search(r'E-Commerce|Retail|Fashion|Jewelry|Shopping|Retail Technology|Marketplace|E-Commerce Platforms|Online Portals|Facilities Support Services|Procurement|Interior Design|Home Decor|Home Improvement|Home Services|Furniture', Sector):
            return 'E-Commerce & Retail'
        elif re.search(r'Cloud Infrastructure|PaaS|SaaS|Software|Enterprise Software|Network Hardware|Network Security|Delivery Service|Information Technology|Cloud Computing|Data Analytics|AI|Machine Learning|Analytics|Big Data|IoT|Blockchain|Artificial Intelligence|Digital Marketing|SEO|SEM|Web Development|Digital Media|Media and Entertainment|Social Media|CRM|Virtual Reality|Augmented Reality|Enterprise Resource Planning', Sector):
            return 'Technology & IT'
        elif re.search(r'Health Care|Hospital|Medical|Health Diagnostics|Medical Device|Wellness|Personal Health|Health Insurance|Health and Fitness|MedTech|Pharmaceutical|Life Science|Biotechnology|Diabetes|Elder Care|Alternative Medicine|mHealth|Dental|Home Health Care|Nutrition|Medical|HealthTech', Sector):
            return 'Health & Medical'
        elif re.search(r'Food Delivery|Food and Beverage|Food Processing|Restaurants|Catering|Snack Food|Tea|Organic Food|Food Industry|FoodTech|Cloud Kitchen|Beverages|Fusion Beverages|Food & Nutrition|Food Production|Cooking', Sector):
            return 'Food & Beverage'
        elif re.search(r'Advertising|Brand Marketing|Event Promotion|Marketing|Sponsorship|Ticketing|Digital Marketing|Creative Agency|Video Streaming|Broadcasting|News|Publishing|Media|Media Tech|Content Management|Content Publishing|Video Platform', Sector):
            return 'Media & Advertising'
        elif re.search(r'Agriculture|AgTech|Farming|Farmers Market|AgriTech|Foodtech|Dairy', Sector):
            return 'Agriculture'
        elif re.search(r'Tourism|Travel|TravelTech|Business Travel|Tourism & EV|Travel Accommodations|Hospitality|Hotel|Reservations', Sector):
            return 'Travel & Hospitality'
        elif re.search(r'Consulting|Business Development|Advisory|Management Consulting|Outsourcing|Customer Service|Professional Services', Sector):
            return 'Consulting & Professional Services'
        elif re.search(r'Education|E-Learning|EdTech|Higher Education|Education Management|Continuing Education|Skill Assessment|Tutoring|STEM Education|Career Planning|Training', Sector):
            return 'Education'
        elif re.search(r'Supply Chain Management|Freight Service|Logistics|Delivery|Warehousing|Packaging Services|Supply Chain', Sector):
            return 'Logistics & Supply Chain'
        elif re.search(r'Industrial Automation|Manufacturing|Robotics|Automation|Industrial|Mechanical & Industrial Engineering|Production|Factory|Industrial Technology|Automobile Technology', Sector):
            return 'Manufacturing & Industrial'
        elif re.search(r'Energy|Renewable Energy|CleanTech|Solar|Electricity|Energy Storage|Environmental Services|GreenTech|Environmental Consulting|Natural Resources|Oil and Gas|Energy Technology', Sector):
            return 'Energy & Environmental'
        elif re.search(r'Children|Parenting|Child Care|Preschool Daycare|KidTech', Sector):
            return 'Parenting & Child Care'
        elif re.search(r'Sports|Fitness|Health and Fitness|Wellness|Yoga|eSports|Gaming|Video Games|Fantasy Sports|Sporting Goods|SportsTech|Health & Wellness', Sector):
            return 'Sports & Fitness'
        elif re.search(r'Fashion|Beauty|Lifestyle|Cosmetics|Apparel|Footwear|Wearables|Fashion Tech|Jewelry|Skincare|Beauty Products|Beauty & Wellness', Sector):
            return 'Fashion & Beauty'
        elif re.search(r'Construction|Building|Infrastructure|Real Estate|PropTech|Commercial Real Estate|Property Management|Rental Property|Housing|Home Services|Interior Design', Sector):
            return 'Construction & Real Estate'
        elif re.search(r'HR|Human Resources|Staffing|Recruitment|HRTech', Sector):
            return 'Human Resources'
        elif re.search(r'Finance|Financial Services|FinTech|Mobile Payments|Payments|Insurance|Insurance Tech|InsureTech|Insurtech|Personal Finance|Wealth Management|Investment|Mutual Funds|Investment Banking|Venture Capital', Sector):
            return 'Finance'
        else:
            return 'Others'
    else:
        return 'Others'

In [229]:
# Applying the sector redistribution function to create a new column
merged_data['Redistributed_sector'] = merged_data['Sector'].apply(sector_redistribution)

In [230]:
# Confirming the grouped sectors 

# Display the DataFrame with the new column
merged_data.head(5)

,Company_Name,Sector,Stage,Location,What_it_does,Funding_Amount($),Year,Investor,Redistributed_sector
0,TheCollegeFever,Brand Marketing,Seed,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",250000.0,2018,Inflection Point Ventures,Media & Advertising
1,Happy Cow Dairy,Agriculture,Seed,Mumbai,A startup which aggregates milk from dairy far...,3000000.0,2018,Inflection Point Ventures,Agriculture
2,MyLoanCare,Credit,Series A,Gurgaon,Leading Online Loans Marketplace in India,3000000.0,2018,Inflection Point Ventures,Finance
3,PayMe India,Financial Services,Angel,Noida,PayMe India is an innovative FinTech organizat...,2000000.0,2018,Inflection Point Ventures,Finance
4,Eunimart,E-Commerce Platforms,Seed,Hyderabad,Eunimart is a one stop solution for merchants ...,3000000.0,2018,Inflection Point Ventures,E-Commerce & Retail

In [231]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company_Name          2855 non-null   object
 1   Sector                2855 non-null   object
 2   Stage                 2855 non-null   object
 3   Location              2737 non-null   object
 4   What_it_does          2855 non-null   object
 5   Funding_Amount($)     2855 non-null   float64
 6   Year                  2855 non-null   object
 7   Investor              2855 non-null   object
 8   Redistributed_sector  2855 non-null   object
dtypes: float64(1), object(8)
memory usage: 200.9+ KB

In [232]:
merged_data['Redistributed_sector'].value_counts()

Redistributed_sector
Others                                1101
Finance                                413
Technology & IT                        297
Education                              189
Transport                              147
Health & Medical                       141
E-Commerce & Retail                    101
Food & Beverage                         84
Agriculture                             79
Sports & Fitness                        75
Media & Advertising                     53
Human Resources                         29
Manufacturing & Industrial              28
Energy & Environmental                  27
Fashion & Beauty                        24
Construction & Real Estate              24
Travel & Hospitality                    16
Consulting & Professional Services      16
Logistics & Supply Chain                 6
Parenting & Child Care                   5
Name: count, dtype: int64

In [233]:
merged_data['Investor'].value_counts()

Investor
Inflection Point Ventures              662
Venture Catalysts                       32
Mumbai Angels Network                   17
Angel investors                         15
Undisclosed                             13
                                      ...
Vijay Shekhar Sharma, Anupam Mittal      1
Unicorn Investments Pte Ltd              1
Lightspeed Venture Partners              1
Tiger Global, Avatar Growth Capital      1
3one4 Capital, Kalaari Capital           1
Name: count, Length: 1773, dtype: int64

In [234]:
# Check for null values in 'Location' column
merged_data['Location'].isna().sum()

118

In [235]:
# Finding the Mode of the 'Location' column
mode_value1 = merged_data['Location'].mode()[0]
mode_value1

# Replace Null Values in 'Location' column with the Mode
merged_data['Location'].fillna(mode_value1, inplace = True)

In [236]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2855 entries, 0 to 2854
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Company_Name          2855 non-null   object
 1   Sector                2855 non-null   object
 2   Stage                 2855 non-null   object
 3   Location              2855 non-null   object
 4   What_it_does          2855 non-null   object
 5   Funding_Amount($)     2855 non-null   float64
 6   Year                  2855 non-null   object
 7   Investor              2855 non-null   object
 8   Redistributed_sector  2855 non-null   object
dtypes: float64(1), object(8)
memory usage: 200.9+ KB

In [76]:
# Changing some fields in 'object Dtype' to 'category Dtype'
df_merger['Company'] = df_merger['Company'].astype('category')
df_merger['Sector'] = df_merger['Sector'].astype('category')
df_merger['Stage'] = df_merger['Stage'].astype('category')
df_merger['Location'] = df_merger['Location'].astype('category')
df_merger['What_it_does'] = df_merger['What_it_does'].astype('category')
df_merger['Founders'] = df_merger['Founders'].astype('category')
df_merger['Investor'] = df_merger['Investor'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(df_merger.dtypes)

Data types after conversion:
Company         category
Sector          category
Stage           category
Amount           float64
Location        category
What_it_does    category
Founded          float64
Investor        category
dtype: object