INDIAN START-UP FUNDING ANALYSIS (2018 - 2021)

Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital popularly known as "funding"---to think big, grow rich, and leave a lasting impact. 

In this project, my intention is to analyse funding received by start-ups in India from 2018 to 2021. The data for each year of funding were gotten from 2 separate csv files (2018 and 2019) and from a database for years 2020 and 2021. In these files, the start-ups' details, the funding amounts received, the investors' and other relevant information were provided.

1. BUSINESS UNDERSTANDING

The main goal is to understand the objectives of the project from a business perspective and convert this knowledge into a data mining problem definition and a preliminary plan designed to achieve the objectives.

1.1 Determining Business Objectives

The primary objective is to identify the key factors that influence startup funding and predict future funding trends within the Indian startup ecosystem. This analysis is crucial for stakeholders such as startup founders, investors, policymakers, and industry analysts who rely on these insights to make informed decisions.

1.2 Assess the Situation

In this phase, the current situation is assessed, considering resources, constraints, and risks. Resources include access to historical startup funding data from 2018 to 2021, data analysis tools like Python, Pandas, and Seaborn, and domain knowledge. Constraints may involve data quality issues, limited access to private funding data, and time constraints. Potential risks include incomplete or inaccurate data and changing market conditions affecting the predictions.

1.3 Define Data Mining Goals

My primary goals are to analyze historical funding data to uncover trends and patterns and build predictive models to forecast future funding trends. Secondary goals involve identifying the key factors influencing the likelihood and amount of funding startups receive.

1.4 Defining Hypothesis and Business Analysis Questions

1.4.1 Hypothesis

Null Hypothesis (H0): There is no clear pattern in the funding received by Indian startups from 2018 to 2021, and factors like sector, stage, location, and funding amount do not affect startup success.

Alternative Hypothesis (H1): There is a clear pattern in the funding received by Indian startups from 2018 to 2021, and factors like sector, stage, location, and funding amount affect startup success.

1.4.2 Business Analysis Questions

1. How have the trends in funding amounts varied among different sectors of Indian startups from 2018 to 2021, and what implications do these trends have for investors seeking to optimize their investment strategies in the Indian startup ecosystem?

2. What were the top sectors in the Indian startup ecosystem that received the highest total funding from 2018 to 2021, and what factors contributed to their success in attracting investment compared to other sectors?

3. What are the specific funding trends across different stages of startup development (early-stage, growth-stage, late-stage) within the Indian startup ecosystem, and how do factors such as sector, geographic location, and investor type influence these trends?

4. What specific geographic factors (such as infrastructure, talent pool, economic policies, and market access) influence the correlation between the geographical location of startups and the funding they received within the Indian startup ecosystem, and how do these factors vary across different regions?

5. What specific factors (such as the amount and stage of funding, investor involvement, business model, and market conditions) influence the relationship between funding amounts and the subsequent success or failure of startups within the Indian ecosystem, and how do these factors vary across different sectors and stages of startup development?

2. DATA UNDERSTANDING

In the Data Understanding phase, my focus is on getting familiar with the data and identifying data quality issues. This phase involves collecting the initial data, describing it, exploring it, and verifying its quality.

2.1 Data Collection

I begin by collecting data from various sources like connecting to a public database with provided credentials saved in a .env format for datasets 2020 and 2021, from a Github repository in a CSV format (2019 dataset), and from a Onedrive account also in CSV format (2018 dataset). This data includes information about startup funding from 2018 to 2021.

2.2 Data Description

The collected data is loaded into Pandas DataFrames by importing the necessary libraries, and an initial inspection is performed to understand its structure and basic characteristics. This involves checking the data types, shape, unique values, the presence of missing and duplicated values, and getting an overview of the data using descriptive statistics.

In [14]:
# Importing relevant packages

import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import warnings
import re
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

In [15]:
# load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials from .env file
database = environment_variables.get("database")
server = environment_variables.get("server")
login = environment_variables.get("login")
password = environment_variables.get("password")
 
# create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

In [16]:
# Using the connect method of the pyodbc library to pass in the connection string
connection = pyodbc.connect(connection_string)

# what tables are in the Database
db_query = '''SELECT *
FROM INDIVIDUAL_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'''

DATASET FOR 2021

In [17]:
# Querying the Database to determine the tables we are to use for analysis
query1 = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query1, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [6]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [7]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [8]:
data_2021.shape

(1209, 9)

DATASET FOR 2020

In [18]:
query2 = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query2, connection)
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [19]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [20]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [21]:
data_2020.shape

(1055, 10)

DATASET FOR 2019

In [23]:
# File path for the 2019 funding dataset
file_path2 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2019.csv'

# Loading the file into the notebook for analysis
data_2019 = pd.read_csv(file_path2)
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [24]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [25]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [26]:
data_2019.shape

(89, 9)

DATASET FOR 2018

In [27]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [28]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [29]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [30]:
data_2018.shape

(526, 6)

3. DATA PREPARATION

In the Data Preparation phase, my focus is on preparing the data for analysis. This phase involves cleaning the data, handling missing values, and transforming the data into a suitable format for analysis.

3.1 Data Cleaning

Data cleaning involves handling missing values, correcting errors, and standardizing formats. For example, funding amounts may need to be converted from strings to numerical values.

Concerns with the Data
a. Columns from different years have different names that must be renamed to be the same for effective analysis

b. A year column must be added to all the dataframes to represent the year of investment. This is needed and important when the 4 tables are merged.

c. All Amounts columns need to be standardized to the same currency ($), and converted to the same datatype (float). All symbols and commas should be deleted and assume that Amount values without any currency signs are taken to be in Dollars.

d. All duplicated values in each table should be dropped.

e. All missing values should be filled with an appropriate value for each column

3.1.1 Cleaning Dataset 2018

In [31]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [32]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates1 = data_2018.duplicated()

# Count duplicate rows
num_duplicates1 = duplicates1.sum()
print(f"Number of duplicate rows: {num_duplicates1}")

Number of duplicate rows: 1

In [35]:
# Show all duplicated rows
data_2018[data_2018.duplicated(keep = False)]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [36]:
# Dropping duplicates
data_2018.drop_duplicates(inplace = True)

In [45]:
# Exploring and Cleaning the "Industry" column
data_2018['Industry'].value_counts()

Industry
—                                                                                 30
Financial Services                                                                15
Education                                                                          8
Information Technology                                                             7
Finance, Financial Services                                                        5
                                                                                  ..
Business Intelligence, Customer Service, Market Research, SaaS                     1
Digital Media, Internet, Media and Entertainment, Online Portals, Social Media     1
Consumer Lending, Financial Services, Lending, Personal Finance                    1
Education, Information Technology, Internet, Mobile, Software                      1
Biotechnology, Health Care, Pharmaceutical                                         1
Name: count, Length: 405, dtype: int64

In [80]:
# Checking the missing values in the 'Industry' column
data_2018[data_2018['Industry'] == '—']

Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []

In [81]:
# Replacing mising values with np.NaN
data_2018['Industry'] = data_2018['Industry'].replace('—', np.nan)

In [82]:
# Simplifying the 'Industry' column by splitting values with a comma delimiter, selecting only the first element from the resulting list of substrings. Then remove single quotes since they are strings
data_2018['Industry'] = data_2018['Industry'].str.split(',').str[0].str.replace("'", ",", regex = True)

In [83]:
# Checking 'Industry' column for values
data_2018['Industry'].value_counts()

Industry
Financial Services                    26
Health Care                           26
E-Commerce                            22
Apps                                  20
Automotive                            18
                                      ..
Business Intelligence                  1
Government                             1
Audio                                  1
Enterprise Resource Planning (ERP)     1
Eyewear                                1
Name: count, Length: 147, dtype: int64

In [88]:
# Sorting 'Industry' column alphabetically for irregularities
data_2018['Industry'].sort_values()

139    3D Printing
446     Accounting
422     Accounting
17      Accounting
81     Advertising
          ...
473            NaN
476            NaN
478            NaN
480            NaN
510            NaN
Name: Industry, Length: 525, dtype: object

In [86]:
data_2018['Industry'].unique()

array(['Brand Marketing', 'Agriculture', 'Credit', 'Financial Services',
       'E-Commerce Platforms', 'Cloud Infrastructure', 'Internet',
       'Market Research', 'Information Services', 'Mobile Payments',
       'B2B', 'Apps', 'Food Delivery', 'Industrial Automation',
       'Automotive', 'Finance', 'Accounting', 'Artificial Intelligence',
       'Internet of Things', 'Air Transportation', 'Food and Beverage',
       'Autonomous Vehicles', 'Enterprise Software', 'Logistics',
       'Insurance', 'Information Technology', 'Blockchain', 'Education',
       'E-Commerce', 'Renewable Energy', 'E-Learning', 'Clean Energy',
       'Transportation', 'Fitness', 'Hospitality',
       'Media and Entertainment', 'Broadcasting', 'EdTech', 'Health Care',
       nan, 'Sports', 'Big Data', 'Cloud Computing', 'Food Processing',
       'Trading Platform', 'Consumer Goods', 'Wellness', 'Fashion',
       'Consulting', 'Biotechnology', 'Communities', 'Consumer',
       'Consumer Applications', 'Mobile', 'Advertising', 'Marketplace',
       'Aerospace', 'Home Decor', 'Energy', 'Digital Marketing',
       'Creative Agency', 'Consumer Lending', 'Health Diagnostics',
       'Banking', 'Embedded Systems', 'Beauty', 'AgTech', 'Credit Cards',
       'Software', 'Manufacturing', 'Hospital', 'Events', '3D Printing',
       'Digital Entertainment', 'Funding Platform', 'Classifieds',
       'Enterprise Resource Planning (ERP)', 'Audio', 'Government',
       'Digital Media', 'Business Intelligence', 'Children', 'Rental',
       'Travel', 'Wealth Management', 'Veterinary', 'Tourism',
       'Consumer Electronics', 'Analytics', 'Facilities Support Services',
       'Medical', 'Music Streaming', 'Retail', 'Business Development',
       'Human Resources', 'Customer Service', 'Training',
       'Dietary Supplements', 'Collaboration', 'Nanotechnology',
       'File Sharing', 'Crowdfunding', 'Catering', 'Computer', 'Android',
       'Delivery', 'Environmental Consulting', 'Commercial Real Estate',
       'Delivery Service', 'Basketball', 'Fraud Detection',
       'Cryptocurrency', 'Wedding', 'Crowdsourcing', 'Farming',
       'Business Travel', 'Career Planning', 'Medical Device',
       'Alternative Medicine', 'Dental', 'CleanTech', 'Marketing',
       'Commercial', 'Continuing Education', 'Smart Cities',
       'Social Media', 'Biopharma', 'Child Care', 'Health Insurance',
       'Gaming', 'Search Engine', 'Battery', 'Cosmetics', 'eSports',
       'Reading Apps', 'Electric Vehicle', 'Packaging Services',
       'Last Mile Transportation', 'Cooking', 'FinTech', 'Online Games',
       'Online Portals', 'Music', 'News', 'Industrial', 'Dating',
       'Fantasy Sports', 'Eyewear'], dtype=object)

In [62]:
# Checking for irregularities in values and company description
data_2018[data_2018['Industry'] == 'Wellness']

,Company Name,Industry,Round/Series,Amount,Location,About Company
66,MedCords,Wellness,Seed,"₹26,400,000","Pune, Maharashtra, India",Medcords is India’s first holistic healthcare ...

In [72]:
# Checking for irregularities in values and company description
data_2018[data_2018['Industry'] == 'Basketball']

,Company Name,Industry,Round/Series,Amount,Location,About Company
286,Sports Flashes Pvt. Ltd,Basketball,Seed,1000000,"New Delhi, Delhi, India",Sports Flashes operates a sports content app t...

In [93]:
data_2018[data_2018['Industry'] == 'Android']

Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []

In [90]:
# Fixing notable errors through observation and individual inspection
data_2018['Industry'].replace('Wellness', 'Health Care', inplace = True)
data_2018['Industry'].replace('Basketball', 'Apps', inplace = True)
data_2018['Industry'].replace('Cooking', 'Food Delivery', inplace = True)
data_2018['Industry'].replace('Catering', 'Food Delivery', inplace = True)
data_2018['Industry'].replace('Crowdsourcing', 'Crowdfunding', inplace = True)
data_2018['Industry'].replace('Android', 'E-Learning', inplace = True)

In [91]:
# Checking 'Amount' column for different values
data_2018['Amount'].value_counts()

Amount
—              148
1000000         24
500000          13
2000000         12
₹50,000,000      9
              ...
2200000          1
1200000          1
$15,000          1
$1,041,000       1
35000000         1
Name: count, Length: 198, dtype: int64

In [94]:
data_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [95]:
# Checking for missing values in the 'Amount' column
data_2018[data_2018['Amount'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
8,Freightwalla,Information Services,Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...
10,BizCrum Infotech Pvt. Ltd.,B2B,Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st..."

In [96]:
# Replacing the missing values with np.NaN
data_2018['Amount'].replace('—', np.nan, inplace = True, regex = True)
data_2018['Amount'].replace("[, $]", " ", inplace = True, regex = True)

In [98]:
# Converting the Rupee (₹) values to Dollar ($) values by creating new columns to store RUP values and USD values.
## rsplit the 'Amount' using '₹' as the delimiter
data_2018['Amount(₹)'] = data_2018['Amount'].str.rsplit('₹', n = 2).str[1]

# Remove spaces
data_2018['Amount(₹)'] = data_2018['Amount(₹)'].str.replace(' ', '')

# Converting the ₹ values to float and fill any missing (NaN) values with 0
data_2018['Amount(₹)'] = data_2018['Amount(₹)'].apply(float).fillna(0)

# Converting the ₹ values to $ values at an average exchange rate in 2018 (₹1 = $0.0146)
data_2018['Amount($)'] = data_2018['Amount(₹)'] * 0.0146

In [100]:
# Checking the DataFrame to confirm if ₹ values have been converted to $ values 
data_2018.head(10)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount(₹),Amount($)
0,TheCollegeFever,Brand Marketing,Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,0.0
1,Happy Cow Dairy,Agriculture,Seed,₹40 000 000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,40000000.0,584000.0
2,MyLoanCare,Credit,Series A,₹65 000 000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,65000000.0,949000.0
3,PayMe India,Financial Services,Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,0.0
4,Eunimart,E-Commerce Platforms,Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0.0
5,Hasura,Cloud Infrastructure,Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,0.0,0.0
6,Tripshelf,Internet,Seed,₹16 000 000,"Kalkaji, Delhi, India",Tripshelf is an online market place for holida...,16000000.0,233600.0
7,Hyperdata.IO,Market Research,Angel,₹50 000 000,"Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...,50000000.0,730000.0
8,Freightwalla,Information Services,Seed,NaN,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,0.0,0.0
9,Microchip Payments,Mobile Payments,Seed,NaN,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...,0.0,0.0

In [102]:
# Replacing 0 values with np.NaN in the converted ₹ values
data_2018['Amount($)'] = data_2018['Amount($)'].replace(0, np.nan)

# Fill NaN values in the 'Amount($)' column with values in 'Amount' column
data_2018['Amount($)'] = data_2018['Amount($)'].fillna(data_2018['Amount'])

# Drop 'Amount' and 'Amount(₹)' columns
data_2018.drop(['Amount', 'Amount(₹)'], axis = 1, inplace = True)

In [103]:
# Checking the new 'Amount($)' column
data_2018['Amount($)'].value_counts()

Amount($)
1000000       24
500000        13
2000000       12
730000.0       9
292000.0       8
              ..
2200000        1
1200000        1
 15 000        1
 1 041 000     1
35000000       1
Name: count, Length: 197, dtype: int64

In [104]:
# Checking data_2018 info
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       495 non-null    object
 2   Round/Series   525 non-null    object
 3   Location       525 non-null    object
 4   About Company  525 non-null    object
 5   Amount($)      377 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [106]:
# Add a Year column for easy identification of Year 2018 data info
data_2018['Year'] = 2018
data_2018

,Company Name,Industry,Round/Series,Location,About Company,Amount($),Year
0,TheCollegeFever,Brand Marketing,Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",250000,2018
1,Happy Cow Dairy,Agriculture,Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,584000.0,2018
2,MyLoanCare,Credit,Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,949000.0,2018
3,PayMe India,Financial Services,Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2000000,2018
4,Eunimart,E-Commerce Platforms,Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,2018
...,...,...,...,...,...,...,...
521,Udaan,B2B,Series C,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",225000000,2018
522,Happyeasygo Group,Tourism,Series A,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,2018
523,Mombay,Food and Beverage,Seed,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,7500,2018
524,Droni Tech,Information Technology,Seed,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,511000.0,2018
525,Netmeds,Biotechnology,Series C,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,35000000,2018

In [10]:
# Checking for unique values in the Stage field
unique_values = data_2021['Stage'].unique()

print(unique_values)

['Pre-series A' None 'Series D' 'Series C' 'Seed' 'Series B' 'Series E'
 'Pre-seed' 'Series A' 'Pre-series B' 'Debt' '$1200000' 'Bridge' 'Seed+'
 'Series F2' 'Series A+' 'Series G' 'Series F' 'Series H' 'Series B3' 'PE'
 'Series F1' 'Pre-series A1' '$300000' 'Early seed' 'Series D1' '$6000000'
 '$1000000' 'Seies A' 'Pre-series' 'Series A2' 'Series I']

In [9]:
# Checking for unique values in the Amount field
unique_values1 = data_2021['Amount'].unique()

print(unique_values1)

['$1,200,000' '$120,000,000' '$30,000,000' '$51,000,000' '$2,000,000'
 '$188,000,000' '$200,000' 'Undisclosed' '$1,000,000' '$3,000,000'
 '$100,000' '$700,000' '$9,000,000' '$40,000,000' '$49,000,000' '$400,000'
 '$300,000' '$25,000,000' '$160,000,000' '$150,000' '$1,800,000'
 '$5,000,000' '$850,000' '$53,000,000' '$500,000' '$1,100,000'
 '$6,000,000' '$800,000' '$10,000,000' '$21,000,000' '$7,500,000'
 '$26,000,000' '$7,400,000' '$1,500,000' '$600,000' '$800,000,000'
 '$17,000,000' '$3,500,000' '$15,000,000' '$215,000,000' '$2,500,000'
 '$350,000,000' '$5,500,000' '$83,000,000' '$110,000,000' '$500,000,000'
 '$65,000,000' '$150,000,000,000' '$300,000,000' '$2,200,000'
 '$35,000,000' '$140,000,000' '$4,000,000' '$13,000,000' None
 '$Undisclosed' '$2000000' '$800000' '$6000000' '$2500000' '$9500000'
 '$13000000' '$5000000' '$8000000' '$1000000' 'Upsparks' '$200000'
 '$12000000' '$1500000' '$1700000' '$5500000' '$400000' '$150000000'
 '$4000000' '$100000000' '$500000' '$15000000' '$10000000' '$40000000'
 '$225000000' '$6700000' '$1300000' '$20000000' '$250000' '$21000000'
 '$1200000' '$52000000' '$3800000' '$17500000' '$42000000' '$2300000'
 '$7000000' '$30000000' '$450000000' '$28000000' '$300000' '$3500000'
 '$8500000' '$25000000' '$3000000' '$37000000' '$370000000' '$700000'
 '$16000000' '$100000' '$44000000' '$770000' '$125000000' '$35000000'
 '$50000000' '$4900000' '$145000000' '$22000000' '$70000000' '$6600000'
 '$32000000' '$24000000' '$725000' '$461000' 'Series C' 'Seed' '$96000000'
 '$60000000' '$500000000' '$266000000' '$4500000' '$325000000' '$6500000'
 '$1600000' '$150000' '$225000' '$85000000' '$235000' '$260000' '$2900000'
 '$53000000' '$1100000' '$86000000' '$130000' '$$100,00' '$111000000'
 '$265000' '$76000000' '$100,000,000' '$75,000,000' '$3,800,000'
 '$12,000,000' '$1,600,000' '$260,000' '$1,000,000,000' '$18,000,000'
 '$20,000,000' '$350,000' '$95,000,000' '$4,100,000' '$5,200,000'
 '$8,000,000' '$1,400,000' '$2,600,000' '$900,000' '$250,000'
 '$16,000,000' '$7,000,000' '$11,000,000' '$280,000,000' '$50,000,000'
 '$14,300,000' '$81,000,000' '$1,300,000' '$8,200,000' '$70,000,000'
 '$720,000' '$600000' '$9000000' '$1800000' '$330000' '$undisclosed'
 '$200000000' '$36000000' '$67000000' '$10200000' '$220000000'
 '$108000000' '$75000000' '$450000' '$660000000' 'ah! Ventures'
 '$45000000' '$3200000' '$370000' 'Pre-series A'
 'ITO Angel Network, LetsVenture' '$48000000' '$3600000' '$11000000'
 '$192000000' '$65000000' '$1400000' '$1900000' '$41000000' '$144000000'
 '$5200000' '$270000000' '$140000' '$250000000' '$320000' '$350000000'
 '$4800000' '$38000000' '$125000' '$26000000' '$64000000' '$620000'
 '$900000' 'JITO Angel Network, LetsVenture' '$2600000' '$1,250,000'
 '$400,000,000' '$1,700,000' '$27,000,000' '$234,000,000' '$460,000,000'
 '$13,500,000' '$5,100,000' '$195,000,000' '$125,000' '$45,000,000'
 '$200,000,000' '$7,300,000' '$6,300,000' '$12,500,000' '$24,000,000'
 '$140,000' '$16,500,000' '$340,000' '$43,000,000' '$150,000,000'
 '$3300000' '$92000000' '$17000000' '$135000000' '$$1,55,000' '$2100000'
 '$840000000' '$248000000' '$4300000' '$570000' '$2200000' '$4700000'
 '$300000000' '$260000000' '$140000000' '$175000000' '$19000000' '$810000'
 '$7500000' '$600000000' '$90000000' '$5700000' '$6750000' '$78000000'
 '$5400000' '$115000000' '$255000000' '$18000000' '$570000000' '$550000'
 '$2700000' '$4200000' '$31000000' '$540000' '$14000000' '$340000' '$'
 '$6200000' '$750000' '$6300000' '$23000000' '$55000000']

In [10]:
# Checking for unique values in the Sector field
unique_values2 = data_2021['Sector'].unique()

print(unique_values2)

['AI startup' 'EdTech' 'B2B E-commerce' 'FinTech' 'Home services'
 'HealthTech' 'Tech Startup' 'E-commerce' 'B2B service' 'Helathcare'
 'Renewable Energy' 'Electronics' 'IT startup' 'Food & Beverages'
 'Aeorspace' 'Deep Tech' 'Dating' 'Gaming' 'Robotics' 'Retail' 'Food'
 'Oil and Energy' 'AgriTech' 'Telecommuncation' 'Milk startup'
 'AI Chatbot' 'IT' 'Logistics' 'Hospitality' 'Fashion' 'Marketing'
 'Transportation' 'LegalTech' 'Food delivery' 'Automotive' 'SaaS startup'
 'Fantasy sports' 'Video communication' 'Social Media' 'Skill development'
 'Rental' 'Recruitment' 'HealthCare' 'Sports' 'Computer Games'
 'Consumer Goods' 'Information Technology' 'Apparel & Fashion'
 'Logistics & Supply Chain' 'Healthtech' 'Healthcare' 'SportsTech'
 'HRTech' 'Wine & Spirits' 'Mechanical & Industrial Engineering'
 'Spiritual' 'Financial Services' 'Industrial Automation' 'Health'
 'Lifestyle' 'IoT' 'Banking' 'Computer software' 'Tech startup'
 'Digital mortgage' 'Information Technology & Services' 'Furniture'
 'B2B marketplace' 'Healtcare' 'Location Analytics' 'Media'
 'Consumer Electronics' 'Tobacco' 'Deeptech' 'Insuretech' 'MLOps platform'
 'Venture Capital' 'Pet care' 'Drone' 'Wholesale' 'Construction'
 'E-learning' 'Consumer Services' 'Venture Capital & Private Equity'
 'Health, Wellness & Fitness' 'OTT' 'Education Management'
 'Computer Software' 'Insurance' 'Software Startup'
 'Computer & Network Security' 'Capital Markets' 'Social network'
 'Hospital & Health Care' 'Music' 'Hauz Khas'
 'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.'
 "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India."
 'Cosmetics' 'Mobility' 'Social media' 'Real Estate' 'Digital platform'
 'B2B Ecommerce' 'Online Media' 'Social commerce' 'Mobile Games'
 'Food Production' 'Podcast' 'HeathTech' 'Battery' 'Content publishing'
 'Water purification' 'Content commerce' 'Innovation Management'
 'Software company' 'Automation' 'Food Industry' 'Celebrity Engagement'
 'Trading platform' 'Personal Care' 'Cannabis startup' 'Blogging'
 'Consulting' 'BioTechnology' 'B2B Marketplace' 'Health care'
 'Social audio' 'Fashion and lifestyle' 'Delivery service'
 'B2B Manufacturing' 'Home Decor' 'Solar' 'TaaS startup' 'EV startup'
 'HR Tech' 'Blockchain startup' 'Food and Beverages' 'Beverages'
 'Manufacturing startup' 'Cryptocurrency' 'Vehicle repair startup'
 'Advisory firm' 'Legaltech' 'Pollution control equiptment'
 'Fashion & Lifestyle' 'Blockchain' 'Fitness' 'D2C' 'Automobile'
 'Environmental Services' 'Merchandise' 'Facilities Services'
 'Marketing & Advertising' 'Human Resources' 'Eyewear' 'D2C Business'
 'Biotechnology' 'Farming' 'NFT Marketplace' 'Internet' 'SpaceTech'
 'Consumer software' 'Social community' 'Fishery'
 'Renewables & Environment' 'Online storytelling' 'Aviation' 'IT company'
 'Environmental service' 'Job discovery platform' 'D2C Fashion'
 'Heathcare' 'CRM' 'Software' 'Nutrition' 'D2C startup'
 'Innovation management' 'Community platform' 'Venture capitalist'
 'Networking' 'Commercial Real Estate' 'AR startup' 'Consumer service'
 'Consumer goods' 'MarTech' 'Advertisement' 'Content creation'
 'Augmented reality' 'Rental space' 'Bike Rental' 'Beauty products'
 'Tourism' 'FemTech' 'Cultural' 'Co-working' 'InsureTech'
 'Supply chain platform' 'Social platform' 'CleanTech' 'Real estate'
 'AI company' 'Sports startup' 'Matrimony' 'Crypto' 'Clothing' 'Analytics'
 'Finance' 'IoT platform' 'Commerce' 'Defense & Space' 'Entertainment'
 'Business Supplies & Equipment' 'NFT' 'Oil & Energy' 'EV'
 'Company-as-a-Service' 'Textiles' 'Professional Training & Coaching'
 'Maritime' 'Housing Marketplace' 'Furniture Rental' 'Telecommunications'
 'Equity Management' 'Cloud kitchen' 'Nanotechnology' 'Community'
 'Higher Education' 'B2B' 'Mechanical Or Industrial Engineering'
 'D2C jewellery' 'Sales and Distribution' 'SaaS' 'Information Services'
 'Translation & Localization' 'Investment Banking' 'Femtech' 'sports'
 'Foootwear' 'Legal Services' 'Veterinary' 'Arts & Crafts'
 'Investment Management' 'Education' 'Management Consulting' 'B2B startup'
 'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience'
 'Design' 'B2B Travel' 'Interior Design' 'Manchester, Greater Manchester'
 'Product studio' 'Aviation & Aerospace' 'Staffing & Recruiting']

In [11]:
# Checking for unique values in the HeadQuarter field
unique_values3 = data_2021['HeadQuarter'].unique()

print(unique_values3)

['Bangalore' 'Mumbai' 'Gurugram' 'New Delhi' 'Hyderabad' 'Jaipur'
 'Ahmadabad' 'Chennai' None 'Small Towns, Andhra Pradesh' 'Goa'
 'Rajsamand' 'Ranchi' 'Faridabad, Haryana' 'Gujarat' 'Pune' 'Thane'
 'Computer Games' 'Cochin' 'Noida' 'Chandigarh' 'Gurgaon' 'Vadodara'
 'Food & Beverages' 'Pharmaceuticals\t#REF!' 'Gurugram\t#REF!' 'Kolkata'
 'Ahmedabad' 'Mohali' 'Haryana' 'Indore' 'Powai' 'Ghaziabad' 'Nagpur'
 'West Bengal' 'Patna' 'Samsitpur' 'Lucknow' 'Telangana' 'Silvassa'
 'Thiruvananthapuram' 'Faridabad' 'Roorkee' 'Ambernath' 'Panchkula'
 'Surat' 'Coimbatore' 'Andheri' 'Mangalore' 'Telugana' 'Bhubaneswar'
 'Kottayam' 'Beijing' 'Panaji' 'Satara' 'Orissia' 'Jodhpur' 'New York'
 'Santra' 'Mountain View, CA' 'Trivandrum' 'Jharkhand' 'Kanpur' 'Bhilwara'
 'Guwahati' 'Online Media\t#REF!' 'Kochi' 'London'
 'Information Technology & Services' 'The Nilgiris' 'Gandhinagar']

DATA CLEANING PROCESS FOR DATA_2021

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, 19 rows were detected to be duplicates. These rows were dropped from the DataFrame.
3. Checking for null values, the following was extracted from the data_2021_clean.info():
    
    Founded 1 (0.1%), HeadQuarter 1 (0.1%),  Founders 4 (0.3%), 
    
    Investors 61 (5.1%), Amount 150 (12.6%), and Stage 421 (35.4%).

Judging by the percentage of the missing values, I will be dropping all percentages with unit values (HeadQuarter, Founded, and Founders). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens and hundreds values (Investor, Amount and Stage), I will be replacing the null values as follow:
    
    Investor: I will be replacing the null values with the Modal Investor in the DataFrame i.e. Inflection Point Ventures
    
    Amount: I will be replacing the null values with the Mean Amount i.e. 172,664,200
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Seed'

In [20]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2021['Company_Brand'] = data_2021['Company_Brand'].astype('category')
data_2021['HeadQuarter'] = data_2021['HeadQuarter'].astype('category')
data_2021['Sector'] = data_2021['Sector'].astype('category')
data_2021['What_it_does'] = data_2021['What_it_does'].astype('category')
data_2021['Founders'] = data_2021['Founders'].astype('category')
data_2021['Investor'] = data_2021['Investor'].astype('category')
data_2021['Stage'] = data_2021['Stage'].astype('category')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2021.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount            float64
Stage            category
dtype: object

In [21]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2021['Amount'] = data_2021['Amount'].astype(str)

# Removing the $ sign and converting to float Dtype, handling non-numeric values
data_2021['Amount'] = pd.to_numeric(data_2021['Amount'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2021.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount            float64
Stage            category
dtype: object

In [22]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates1 = data_2021.duplicated()

# Count duplicate rows
num_duplicates1 = duplicates1.sum()
print(f"Number of duplicate rows: {num_duplicates1}")

# Print duplicate rows
duplicate_rows1 = data_2021[duplicates1]
print("Duplicate rows:")
print(duplicate_rows1)

Number of duplicate rows: 19
Duplicate rows:
          Company_Brand  Founded             HeadQuarter  \
107           Curefoods   2020.0               Bangalore
109            Bewakoof   2012.0                  Mumbai
111             FanPlay   2020.0          Computer Games
117      Advantage Club   2014.0                  Mumbai
119              Ruptok   2020.0               New Delhi
243            Trinkerr   2021.0               Bangalore
244               Zorro   2021.0                Gurugram
245       Ultraviolette   2021.0               Bangalore
246          NephroPlus   2009.0               Hyderabad
247             Unremot   2020.0               Bangalore
248         FanAnywhere   2021.0               Bangalore
249          PingoLearn   2021.0                    Pune
250                Spry   2021.0                  Mumbai
251             Enmovil   2015.0               Hyderabad
252       ASQI Advisors   2019.0                  Mumbai
253  Insurance Samadhan   2018.0               New Delhi
254     Evenflow Brands   2020.0                  Mumbai
255          MasterChow   2020.0        Food & Beverages
256  Fullife Healthcare   2009.0  Pharmaceuticals\t#REF!

                                                Sector  \
107                                   Food & Beverages
109                                  Apparel & Fashion
111                                     Computer Games
117                                             HRTech
119                                            FinTech
243                                    Capital Markets
244                                     Social network
245                                         Automotive
246                             Hospital & Health Care
247                  Information Technology & Services
248                                 Financial Services
249                                         E-learning
250                                              Music
251                  Information Technology & Services
252                                 Financial Services
253                                          Insurance
254                                     Consumer Goods
255                                          Hauz Khas
256  Primary Business is Development and Manufactur...

                                          What_it_does  \
107  Healthy & nutritious foods and cold pressed ju...
109  Bewakoof is a lifestyle fashion brand that mak...
111  A real money game app specializing in trivia g...
117  Advantage Club is India's largest employee eng...
119  Ruptok fintech Pvt. Ltd. is an online gold loa...
243  Trinkerr is India's first social trading platf...
244               Pseudonymous social network platform
245  Create and Inspire the future of sustainable u...
246  A vision and passion of redefining healthcare ...
247      Unremot is a personal office for consultants!
248                             Celebrity NFT platform
249  PingoLearn offers language learning courses wi...
250  THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...
251  Enmovil delivers a Business Intelligence Platf...
252  Bringing Blockchain technology intro mainstrea...
253  The insurance industry will help in representa...
254  Identify and partner with the upcoming eCommer...
255                A ready-to-cook Asian cuisine brand
256                                       Varun Khanna

                                          Founders  \
107                                   Ankit Nagori
109                               Prabhkiran Singh
111                                         YC W21
117             Sourabh Deorah, Smiti Bhatt Deorah
119                                    Ankur Gupta
243                Manvendra Singh, Gaurav Agarwal
244  Jasveer Singh, Abhishek Asthana, Deepak Kumar
245            Subramaniam Narayan, Niraj Rajmohan
246                                 Vikram Vuppala
247                            Shiju Radhakrishnan
248                    Varun Chaudhary, Amit Kumar
249             Mohit Menghani, Shubham Maheshwari
250                Gaurav Dagaonkar, Meghna Mittal
251     Ravi Bulusu, Nanda Kishore, Venkat Moganty
252                                  Swapnil Pawar
253                     Deepak Bhuvenshwari Uniyal
254                  Utsav Agarwal, Pulkit Chhabra
255                  Vidur Kataria, Sidhanth Madan
256             Morgan Stanley Private Equity Asia

                                              Investor       Amount  \
107                Iron Pillar, Nordstar, Binny Bansal   13000000.0
109                                         InvestCorp    8000000.0
111                        Pritesh Kumar, Bharat Gupta    1200000.0
117           Y Combinator, Broom Ventures, Kunal Shah    1700000.0
119                                     Eclear Leasing    1000000.0
243                                        Accel India    6600000.0
244  Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose   32000000.0
245                                    TVS Motor, Zoho  150000000.0
246                              IIFL Asset Management   24000000.0
247                          Inflection Point Ventures     700000.0
248        Oasis Capital, Scorpio VC, DeltaHub Capital          NaN
249  Titan Capital, Haresh Chawla, AngelList Syndicate     200000.0
250                          9Unicorns, Ashneer Grover    1500000.0
251                                  Anicut Angel Fund    1300000.0
252                              Founders Room Capital    1000000.0
253                                     9Unicorns, ZNL     725000.0
254                                                NaN     500000.0
255                                       WEH Ventures     461000.0
256                                          $22000000          NaN

            Stage
107           NaN
109           NaN
111       1200000
117           NaN
119           NaN
243      Series A
244          Seed
245      Series C
246      Series E
247          Seed
248          Seed
249           NaN
250          Seed
251  Pre-series A
252  Pre-series A
253  Pre-series A
254           NaN
255          Seed
256           NaN

In [23]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2021_clean = data_2021.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2021.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2021_clean.shape[0]}")

Number of rows before dropping duplicates: 1209
Number of rows after dropping duplicates: 1190

In [24]:
data_2021_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   category
 1   Founded        1189 non-null   float64
 2   HeadQuarter    1189 non-null   category
 3   Sector         1190 non-null   category
 4   What_it_does   1190 non-null   category
 5   Founders       1186 non-null   category
 6   Investor       1129 non-null   category
 7   Amount         1045 non-null   float64
 8   Stage          769 non-null    category
dtypes: category(7), float64(2)
memory usage: 217.8 KB

In [25]:
data_2021_clean.describe()

           Founded        Amount
count  1189.000000  1.045000e+03
mean   2016.634146  1.718464e+08
std       4.522098  4.639997e+09
min    1963.000000  1.000000e+04
25%    2015.000000  1.000000e+06
50%    2018.000000  3.500000e+06
75%    2020.000000  1.500000e+07
max    2021.000000  1.500000e+11

In [26]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count1 = data_2021_clean.isna().sum()

missing_value_percentage1 = (missing_value_count1/len(data_2021_clean)) * 100
missing_value_percentage1 = missing_value_percentage1.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary1 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count1,
    'Percentage': missing_value_percentage1
})

# Printing the summary DataFrame
print(missing_value_summary1)

               Missing_Value_Count  Percentage
Company_Brand                    0         0.0
Founded                          1         0.1
HeadQuarter                      1         0.1
Sector                           0         0.0
What_it_does                     0         0.0
Founders                         4         0.3
Investor                        61         5.1
Amount                         145        12.2
Stage                          421        35.4

In [27]:
# Finding the mode of the 'Investor' column
mode_value1 = data_2021_clean['Investor'].mode()[0]
mode_value1

# Replace Null Values in 'Investor' column with the Mode
data_2021_clean['Investor'].fillna(mode_value1, inplace = True)


# Finding the mode of the 'Stage' column
mode_value2 = data_2021_clean['Stage'].mode()[0]
mode_value2

# Replace Null Values in 'Investor' column with the Mode
data_2021_clean['Stage'].fillna(mode_value2, inplace = True)


# Replace Null Values in 'Amount' column with the Mean
data_2021_clean['Amount'].fillna(data_2021_clean['Amount'].mean(), inplace = True)

In [32]:
# Dropping rows with null values in the specified fields
data_2021_cleaned = data_2021_clean.dropna(subset = ['HeadQuarter', 'Founded', 'Founders'])

# Change the 'Founded' field from float64 to int64 for data_2021
data_2021_cleaned['Founded'] = data_2021_cleaned['Founded'].astype(int)

data_2021_cleaned

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,Seed
2,Lead School,2012,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D
3,Bizongo,2015,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C
4,FypMoney,2021,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Pre-series A
1205,Vahdam,2015,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000.0,Series D
1206,Leap Finance,2019,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Series C
1207,CollegeDekho,2015,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000.0,Series B
1208,WeRize,2019,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000.0,Series A

In [31]:
data_2021_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1184 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1184 non-null   category
 1   Founded        1184 non-null   int32
 2   HeadQuarter    1184 non-null   category
 3   Sector         1184 non-null   category
 4   What_it_does   1184 non-null   category
 5   Founders       1184 non-null   category
 6   Investor       1184 non-null   category
 7   Amount         1184 non-null   float64
 8   Stage          1184 non-null   category
dtypes: category(7), float64(1), int32(1)
memory usage: 213.0 KB

In [18]:
data_2021_cleaned.shape

(1184, 9)

DATASET FOR 2020

In [22]:
query2 = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query2, connection)
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [34]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [35]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [36]:
data_2020.shape

(1055, 10)

In [37]:
# Checking for unique values in the Stage field
unique_value = data_2020['Stage'].unique()

print(unique_value)

[None 'Pre-seed' 'Seed' 'Pre-series A' 'Pre-series' 'Series C' 'Series A'
 'Series B' 'Debt' 'Pre-series C' 'Pre-series B' 'Series E' 'Bridge'
 'Series D' 'Series B2' 'Series F' 'Pre- series A' 'Edge' 'Series H'
 'Pre-Series B' 'Seed A' 'Series A-1' 'Seed Funding' 'Pre-Seed'
 'Seed round' 'Pre-seed Round' 'Seed Round & Series A' 'Pre Series A'
 'Pre seed Round' 'Angel Round' 'Pre series A1' 'Series E2' 'Pre series A'
 'Seed Round' 'Bridge Round' 'Pre seed round' 'Pre series B'
 'Pre series C' 'Seed Investment' 'Series D1' 'Mid series' 'Series C, D'
 'Seed funding']

In [66]:
# Checking for unique values in the Sector field
unique_value1 = data_2020['Sector'].unique()

print(unique_value1)

['AgriTech', 'EdTech', 'Hygiene management', 'Escrow', 'Networking platform', ..., 'Consultancy', 'Pharmacy', 'Deisgning', 'Taxation', 'Automobile Technology']
Length: 303
Categories (302, object): ['AI', 'AI & Data science', 'AI & Debt', 'AI & Deep learning', ..., 'Warehouse', 'Work fulfillment', 'Yoga & wellness', 'eMobility']

DATA CLEANING PROCESS FOR DATA_2020

1. Converting all 'object' Dtype to 'category' Dtype.
2. Deletion of column 10 since only 0.2% of the column is a non-null value i.e. 99.8% of its' values are null values. In addition, the column does not have any impact in our analysis.
3. Upon checking the DataFrame for duplicates, 3 rows were detected to be duplicates. These rows were dropped from the DataFrame.
4. Checking for null values, the following was extracted from the data_2020_clean.info():
    
    Founded 213 (20.2%), HeadQuarter 94 (8.9%), Sector 13 (1.2%), 
    
    Founders 12 (1.1%), Investors 38 (3.6%), Amount 253 (24.1%), and Stage 462 (43.9%).

Judging by the percentage of the missing values, I will be dropping all percentages with unit values (HeadQuarter, Sector, Founders, and Investors). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens values (Founded, Amount and Stage), I will be replacing the null values as follow:
    
    Founded: I will be replacing the null values with the Median year i.e. 2016
    
    Amount: I will be replacing the null values with the Mean Amount i.e. 112,699,400
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Series A'

In [46]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2020['Company_Brand'] = data_2020['Company_Brand'].astype('category')
data_2020['HeadQuarter'] = data_2020['HeadQuarter'].astype('category')
data_2020['Sector'] = data_2020['Sector'].astype('category')
data_2020['What_it_does'] = data_2020['What_it_does'].astype('category')
data_2020['Founders'] = data_2020['Founders'].astype('category')
data_2020['Investor'] = data_2020['Investor'].astype('category')
data_2020['Stage'] = data_2020['Stage'].astype('category')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2020.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount            float64
Stage            category
column10           object
dtype: object

In [47]:
# Checking data_2020 DataFrame info
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   category
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    category
 3   Sector         1042 non-null   category
 4   What_it_does   1055 non-null   category
 5   Founders       1043 non-null   category
 6   Investor       1017 non-null   category
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    category
 9   column10       2 non-null      object
dtypes: category(7), float64(2), object(1)
memory usage: 209.5+ KB

In [48]:
# Deleting column 10 from the DataFrame since it has nothing to with the analysis intended and most of its value are null values
del data_2020 ['column10']
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,NaN
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,NaN

In [49]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates = data_2020.duplicated()

# Count duplicate rows
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Print duplicate rows
duplicate_rows = data_2020[duplicates]
print("Duplicate rows:")
print(duplicate_rows)

Number of duplicate rows: 3
Duplicate rows:
    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi   2015.0     Jodhpur  Biotechnology company
205         Nykaa   2012.0      Mumbai              Cosmetics
362        Byju’s   2011.0   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0  Seed
205                        Alia Bhatt, Katrina Kaif          NaN   NaN
362           Owl Ventures, Tiger Global Management  500000000.0   NaN

In [50]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2020_clean = data_2020.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2020.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2020_clean.shape[0]}")

Number of rows before dropping duplicates: 1055
Number of rows after dropping duplicates: 1052

In [51]:
data_2020_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   category
 1   Founded        839 non-null    float64
 2   HeadQuarter    958 non-null    category
 3   Sector         1039 non-null   category
 4   What_it_does   1052 non-null   category
 5   Founders       1040 non-null   category
 6   Investor       1014 non-null   category
 7   Amount         799 non-null    float64
 8   Stage          590 non-null    category
dtypes: category(7), float64(2)
memory usage: 209.3 KB

In [52]:
data_2020_clean.describe()

           Founded        Amount
count   839.000000  7.990000e+02
mean   2015.373063  1.126994e+08
std       4.100793  2.479695e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

In [53]:
# Checking for missing values from the data_2020_clean DataFrame
missing_value_count = data_2020_clean.isna().sum()

missing_value_percentage = (missing_value_count/len(data_2020_clean)) * 100
missing_value_percentage = missing_value_percentage.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary = pd.DataFrame({
    'Missing_Value_Count': missing_value_count,
    'Percentage': missing_value_percentage
})

# Printing the summary DataFrame
print(missing_value_summary)

               Missing_Value_Count  Percentage
Company_Brand                    0         0.0
Founded                        213        20.2
HeadQuarter                     94         8.9
Sector                          13         1.2
What_it_does                     0         0.0
Founders                        12         1.1
Investor                        38         3.6
Amount                         253        24.0
Stage                          462        43.9

In [54]:
# Replacing Null Values

# Replace Null Values in 'Founded' column with Median
data_2020_clean['Founded'].fillna(data_2020_clean['Founded'].median(), inplace = True)

# Replace Null Values in 'Amount' column with the Mean
data_2020_clean['Amount'].fillna(data_2020_clean['Amount'].mean(), inplace = True)

# Finding the mode of the 'Stage' column
mode_value = data_2020_clean['Stage'].mode()[0]
mode_value

# Replace Null Values in 'Stage' column with the Mode
data_2020_clean['Stage'].fillna(mode_value, inplace = True)

In [55]:
# Dropping rows with null values in the specified fields
data_2020_cleaned = data_2020_clean.dropna(subset = ['HeadQuarter', 'Sector', 'Founders', 'Investor'])

# Change the 'Founded' field from float64 to int64 for data_2021
data_2020_cleaned['Founded'] = data_2020_cleaned['Founded'].astype(int)

data_2020_cleaned

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Series A
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,1.126994e+08,Pre-seed
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Series A
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Series A
...,...,...,...,...,...,...,...,...,...
1049,Fashor,2017,Chennai,Fashion,Women’s fashion and apparel,"Vikram Kankaria, Priyanka Kankaria",Sprout venture partners,1.000000e+06,Pre Series A
1050,Leverage Edu,2016,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,Series A
1052,Purplle,2012,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,Series A
1053,Shuttl,2015,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C
1054,Pando,2017,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A

In [56]:
data_2020_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  900 non-null    category
 1   Founded        900 non-null    int32
 2   HeadQuarter    900 non-null    category
 3   Sector         900 non-null    category
 4   What_it_does   900 non-null    category
 5   Founders       900 non-null    category
 6   Investor       900 non-null    category
 7   Amount         900 non-null    float64
 8   Stage          900 non-null    category
dtypes: category(7), float64(1), int32(1)
memory usage: 200.4 KB

In [57]:
data_2020_cleaned.shape

(900, 9)

DATASET FOR 2018

In [58]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [59]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [60]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [61]:
data_2018.shape

(526, 6)

In [62]:
# Checking for unique values in the Location field
unique_val = data_2018['Location'].unique()

print(unique_val)

['Bangalore, Karnataka, India' 'Mumbai, Maharashtra, India'
 'Gurgaon, Haryana, India' 'Noida, Uttar Pradesh, India'
 'Hyderabad, Andhra Pradesh, India' 'Bengaluru, Karnataka, India'
 'Kalkaji, Delhi, India' 'Delhi, Delhi, India' 'India, Asia'
 'Hubli, Karnataka, India' 'New Delhi, Delhi, India'
 'Chennai, Tamil Nadu, India' 'Mohali, Punjab, India'
 'Kolkata, West Bengal, India' 'Pune, Maharashtra, India'
 'Jodhpur, Rajasthan, India' 'Kanpur, Uttar Pradesh, India'
 'Ahmedabad, Gujarat, India' 'Azadpur, Delhi, India'
 'Haryana, Haryana, India' 'Cochin, Kerala, India'
 'Faridabad, Haryana, India' 'Jaipur, Rajasthan, India'
 'Kota, Rajasthan, India' 'Anand, Gujarat, India'
 'Bangalore City, Karnataka, India' 'Belgaum, Karnataka, India'
 'Thane, Maharashtra, India' 'Margão, Goa, India'
 'Indore, Madhya Pradesh, India' 'Alwar, Rajasthan, India'
 'Kannur, Kerala, India' 'Trivandrum, Kerala, India'
 'Ernakulam, Kerala, India' 'Kormangala, Karnataka, India'
 'Uttar Pradesh, India, Asia' 'Andheri, Maharashtra, India'
 'Mylapore, Tamil Nadu, India' 'Ghaziabad, Uttar Pradesh, India'
 'Kochi, Kerala, India' 'Powai, Assam, India'
 'Guntur, Andhra Pradesh, India' 'Kalpakkam, Tamil Nadu, India'
 'Bhopal, Madhya Pradesh, India' 'Coimbatore, Tamil Nadu, India'
 'Worli, Maharashtra, India' 'Alleppey, Kerala, India'
 'Chandigarh, Chandigarh, India' 'Guindy, Tamil Nadu, India'
 'Lucknow, Uttar Pradesh, India']

In [63]:
# Checking for unique values in the Amount field
unique_val1 = data_2018['Amount'].unique()

print(unique_val1)

['250000' '₹40,000,000' '₹65,000,000' '2000000' '—' '1600000'
 '₹16,000,000' '₹50,000,000' '₹100,000,000' '150000' '1100000' '₹500,000'
 '6000000' '650000' '₹35,000,000' '₹64,000,000' '₹20,000,000' '1000000'
 '5000000' '4000000' '₹30,000,000' '2800000' '1700000' '1300000'
 '₹5,000,000' '₹12,500,000' '₹15,000,000' '500000' '₹104,000,000'
 '₹45,000,000' '13400000' '₹25,000,000' '₹26,400,000' '₹8,000,000'
 '₹60,000' '9000000' '100000' '20000' '120000' '₹34,000,000'
 '₹342,000,000' '$143,145' '₹600,000,000' '$742,000,000' '₹1,000,000,000'
 '₹2,000,000,000' '$3,980,000' '$10,000' '₹100,000' '₹250,000,000'
 '$1,000,000,000' '$7,000,000' '$35,000,000' '₹550,000,000' '$28,500,000'
 '$2,000,000' '₹240,000,000' '₹120,000,000' '$2,400,000' '$30,000,000'
 '₹2,500,000,000' '$23,000,000' '$150,000' '$11,000,000' '₹44,000,000'
 '$3,240,000' '₹60,000,000' '$540,000,000' '₹650,000,000' '₹1,600,000,000'
 '$900,000' '$10,000,000' '$1,500,000' '₹70,000,000' '$1,000,000'
 '$5,000,000' '$14,000,000' '₹102,500,000' '$100,000,000' '₹1,200,000'
 '₹5,200,000,000' '$800,000' '$1,041,000' '$100,000' '$15,000' '1400000'
 '1200000' '2200000' '1800000' '3600000' '₹9,500,000' '300000' '6830000'
 '200000' '₹150,000,000' '4300000' '364846' '400000' '1500000'
 '₹7,000,000' '₹1,400,000' '₹10,000,000' '₹22,500,000' '13200000' '50000'
 '₹140,200,000' '3000000' '1250000' '180000' '₹19,200,000' '₹103,000,000'
 '4200000' '175000' '1450000' '₹200,000' '4500000' '600000' '₹16,600,000'
 '₹12,000,000' '15000000' '₹33,000,000' '125000' '130000' '₹34,900,000'
 '₹72,000,000' '17200000' '₹32,000,000' '3500000' '₹135,000,000'
 '12000000' '$40,000,000' '$1,100,000' '$50,000,000' '₹1,540,000,000'
 '$3,000,000' '$6,000,000' '₹140,000,000' '$41,900,000' '₹1,410,000,000'
 '$3,530,000' '$200,000' '$3,300,000' '₹580,000,000' '₹36,000,000'
 '₹340,000,000' '$210,000,000' '$37,680,000' '$250,000' '$20,000'
 '₹510,000,000' '₹2,200,000,000' '22000000' '70000' '10000000'
 '₹15,392,000,000' '₹20,000,000,000' '₹4,000,000,000' '185000000'
 '65000000' '₹165,000,000' '700000' '30000000' '₹210,000,000' '210000000'
 '₹2,029,600,000' '75000000' '₹80,000,000' '1760000' '2700000'
 '₹280,000,000' '₹800,000,000' '750000' '2500000' '80000000' '25000000'
 '₹730,000,000' '₹400,000,000' '3700000' '5600000' '₹260,000,000'
 '99230000' '70000000' '40000' '550000' '50000000' '365000000'
 '₹8,750,000' '₹78,000,000' '28000000' '₹264,000,000' '100000000'
 '₹1,130,000,000' '₹810,000,000' '₹1,400,000,000' '14900000' '225000000'
 '7500' '35000000']

In [64]:
# Checking for unique values in the Round/Series field
unique_val2 = data_2018['Round/Series'].unique()

print(unique_val2)

['Seed' 'Series A' 'Angel' 'Series B' 'Pre-Seed' 'Private Equity'
 'Venture - Series Unknown' 'Grant' 'Debt Financing' 'Post-IPO Debt'
 'Series H' 'Series C' 'Series E' 'Corporate Round' 'Undisclosed'
 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593'
 'Series D' 'Secondary Market' 'Post-IPO Equity' 'Non-equity Assistance'
 'Funding Round']

In [65]:
# Checking for unique values in the Round/Series field
unique_val3 = data_2018['Industry'].unique()

print(unique_val3)

['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing'
 'Agriculture, Farming' 'Credit, Financial Services, Lending, Marketplace'
 'Financial Services, FinTech' 'E-Commerce Platforms, Retail, SaaS'
 'Cloud Infrastructure, PaaS, SaaS' 'Internet, Leisure, Marketplace'
 'Market Research' 'Information Services, Information Technology'
 'Mobile Payments' 'B2B, Shoes' 'Internet'
 'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat'
 'Food Delivery' 'Industrial Automation'
 'Automotive, Search Engine, Service Industry' 'Finance, Internet, Travel'
 'Accounting, Business Information Systems, Business Travel, Finance, SaaS'
 'Artificial Intelligence, Product Search, SaaS, Service Industry, Software'
 'Internet of Things, Waste Management'
 'Air Transportation, Freight Service, Logistics, Marine Transportation'
 'Financial Services' 'Food and Beverage' 'Autonomous Vehicles'
 'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS'
 'Agriculture, Analytics, Big Data, Farming'
 'Logistics, Supply Chain Management' 'Financial Services, Lending'
 'Automotive, Marketplace, Online Portals' 'Artificial Intelligence'
 'Internet of Things, Telecommunications' 'Insurance'
 'Information Technology, Logistics, Supply Chain Management'
 'Blockchain, Developer Tools, Enterprise Software'
 'Industrial Automation, Logistics, Supply Chain Management'
 'Food and Beverage, Food Delivery, Snack Food' 'Education'
 'E-Commerce, Fashion, Jewelry, Retail' 'Renewable Energy'
 'E-Learning, Education'
 'Clean Energy, CleanTech, Laundry and Dry-cleaning'
 'E-Commerce, Fashion, Mobile'
 'Apps, Messaging, Navigation, Public Safety' 'Transportation'
 'Fitness, Health Care, Wellness'
 'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant'
 'Hospitality' 'Food and Beverage, Tea'
 'Media and Entertainment, News, Outdoors'
 'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming'
 'B2B, Information Services, Information Technology'
 'EdTech, Education, Enterprise Software, Peer to Peer'
 'Health Care, Medical' 'E-Commerce' 'Health Care, Hospital, Wellness' '—'
 'Sports' 'Big Data, Consumer Lending, FinTech'
 'Cloud Computing, Computer, Semiconductor'
 'Health Care, Medical, Pharmaceutical' 'Food Processing, Retail'
 'Trading Platform' "Consumer Goods, Lifestyle, Men's" 'Wellness'
 'Food and Beverage, Food Processing, Nutrition' 'Fashion'
 'Automotive, Electric Vehicle, Energy Storage'
 'Consulting, Retail, Social'
 'Biotechnology, Life Science, Pharmaceutical, Product Research'
 'Health Care' 'Credit, Financial Services, FinTech, Personal Finance'
 'Communities, Coworking, Incubators'
 'Consumer, Financial Services, FinTech'
 'Consumer Applications, Information Services, Location Based Services, Virtual Assistant'
 'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps'
 'Education, Financial Services, FinTech'
 'Advertising, Consulting, Digital Marketing'
 'Marketplace, Real Estate, Rental Property'
 'E-Learning, Internet, Video Games'
 'Artificial Intelligence, Cloud Computing, Video'
 'Health Care, Information Technology' 'Aerospace'
 'E-Commerce, Fashion, Lifestyle'
 'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning'
 'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home'
 'EdTech, Education, Information Services, SaaS' 'Energy, Solar'
 'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security'
 'Artificial Intelligence, Social' 'Logistics, Transportation, Travel'
 'Digital Marketing, SEM, SEO, Web Development'
 'Health Care, Hospital, Medical' 'Finance, Financial Services'
 'Food Delivery, Food Processing, Internet'
 'E-Commerce, Food and Beverage, Internet'
 'Fitness, Food and Beverage, Health Care, Nutrition'
 'EdTech, Education, Knowledge Management'
 'Apps, Beauty, Consumer, Retail'
 'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health'
 'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management'
 'E-Learning, Education, Higher Education' 'Health Diagnostics'
 'EdTech, Education' 'Financial Services, SaaS, Security'
 'Banking, Finance, Financial Services, Non Profit'
 'B2B, E-Commerce, Mobile'
 'Automotive, Electric Vehicle, Renewable Energy' 'E-Learning'
 'Embedded Systems, Health Care, Medical, Product Research'
 'Apps, E-Commerce, Internet' 'Advertising, Human Resources, Marketing'
 'Beauty, Fitness, Home Services, Internet'
 'Health Care, Medical Device, Public Safety'
 'Food Delivery, Online Portals, Restaurants'
 'AgTech, B2B, Supply Chain Management'
 'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments'
 'Software' 'EdTech, Education, Higher Education, Secondary Education'
 'Manufacturing, Retail' 'Manufacturing'
 'Information Services, Information Technology, InsurTech'
 'Consumer Lending, FinTech' 'Internet, Social Network, TV'
 'Beauty, Health Care' 'Hospital' 'Events'
 '3D Printing, Manufacturing, Product Design' 'Automotive'
 'Automotive, Retail' 'Apps, Audio' 'Automotive, E-Commerce'
 'Digital Entertainment, Fantasy Sports, Sports'
 'E-Learning, EdTech, Education'
 'Funding Platform, Incubators, Non Profit'
 'Hospitality, Hotel, Leisure, Travel'
 'Classifieds, Internet, Marketplace, Rental Property'
 'Banking, E-Learning, Trading Platform' 'E-Commerce, Mobile, Retail'
 'Artificial Intelligence, Information Technology'
 'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate'
 'Banking, Finance, Financial Services' 'Audio, Mobile, Tourism, Travel'
 'Energy, Energy Storage, Infrastructure'
 'Government, Information Technology, Software' 'Information Technology'
 'Education, Information Technology, Internet, Mobile, Software'
 'Consumer Lending, Financial Services, Lending, Personal Finance'
 'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media'
 'Business Intelligence, Customer Service, Market Research, SaaS'
 'Credit, Financial Services, FinTech, Lending'
 'Children, Education, Parenting'
 'Automotive, Battery, Energy, Energy Storage'
 'E-Commerce, Mobile, Sharing Economy'
 'Food Delivery, Organic, Organic Food' 'Mobile' 'Rental' 'Travel'
 'Consumer' 'B2B, Farming, Marketplace' 'Wealth Management'
 'Biotechnology' 'Education, Gaming, Training' 'Veterinary'
 'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless'
 'Health Care, Hospital, Supply Chain Management' 'Tourism, Travel'
 'Hospitality, Real Estate' 'Finance'
 'Digital Media, EBooks, Publishing, Reading Apps'
 'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software'
 'Food and Beverage, Food Processing' 'Internet, Marketplace, Shopping'
 'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition'
 'Facilities Support Services' 'Automotive, Electric Vehicle, Energy'
 'Health Care, Health Diagnostics, Predictive Analytics'
 'Cloud Computing, Computer, SaaS, Software' 'Fashion, Lifestyle, Retail'
 'Medical' 'Music Streaming' 'Finance, Impact Investing, Internet'
 'Internet, Social Entrepreneurship' 'Retail'
 'Finance, Impact Investing, Mobile Apps'
 'Cloud Computing, Computer, Software'
 'Business Development, Market Research, Outsourcing'
 'Health Care, Hospitality' 'Internet, Social News, Sports'
 'Human Resources' 'Finance, Financial Services, FinTech'
 'Customer Service, Software, Video, Video Streaming'
 'E-Commerce, Food Processing' 'Training'
 'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food'
 'Manufacturing, Oil and Gas, Robotics'
 'Artificial Intelligence, Computer, Machine Learning'
 'Collaboration, Communities, Coworking, Sharing Economy'
 'Big Data, EdTech, Machine Learning' 'Nanotechnology'
 'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment'
 'Financial Services, Lending, Peer to Peer'
 'E-Commerce, Furniture, Home Decor, Interior Design, Internet'
 'Digital Media' 'File Sharing, Personalization, Social Media'
 'Home Decor, Interior Design' 'Health Care, Medical Device, Mobile Apps'
 'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management'
 'Crowdfunding, Finance, Financial Services'
 'Finance, Financial Services, Insurance'
 'Children, Education, Online Portals' 'Software, Virtual Reality'
 'B2B, Food and Beverage, Food Delivery'
 'Catering, Food and Beverage, Food Delivery, Food Processing'
 'Food and Beverage, Snack Food' 'Automotive, E-Commerce, Mobile'
 'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development'
 'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development'
 'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses'
 'Delivery, Information Technology, Mobile Apps'
 'Environmental Consulting, Renewable Energy'
 'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance'
 'Commercial Real Estate, Coworking, Office Administration, Real Estate'
 'Food and Beverage, Food Processing, Organic Food, Snack Food'
 'Apps, Health Care, Internet, Mobile Apps, Personal Health'
 'Digital Media, Incubators, Social Entrepreneurship'
 'Finance, Financial Services, Marketing'
 'Biotechnology, Health Care, Life Science, Medical Device'
 'Education, Human Resources' 'Consumer Electronics'
 'Apps, Health Care, Hospital, Mobile Apps'
 'Delivery Service, Logistics, Service Industry'
 'Big Data, Data Visualization, Logistics, Software'
 'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball'
 'Media and Entertainment, News, Publishing' 'Consulting'
 'Big Data, Financial Services, Machine Learning, Predictive Analytics'
 'Agriculture, AgTech, Manufacturing' 'Digital Media, News, Publishing'
 'Health Care, Hospital' 'B2B, E-Commerce, Enterprise'
 'Fraud Detection, Information Services, Security'
 'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning'
 'Cryptocurrency, Trading Platform' 'Finance, FinTech, Mobile Payments'
 'Wedding'
 'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education'
 'Consumer Goods' 'Digital Entertainment'
 'Crowdsourcing, Financial Services, Funding Platform, Venture Capital'
 'Delivery, Drones, Geospatial, Robotics'
 'Health Care, Information Technology, Management Information Systems'
 'Farming'
 'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations'
 'Career Planning, Education, Higher Education, Service Industry'
 'Medical Device' 'Alternative Medicine, Health Care' 'Internet, Software'
 'Dental, Elder Care, Health Care, Home Health Care, Personal Health'
 'Financial Services, Insurance, Private Social Networking'
 'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping'
 'CleanTech' 'Advertising, Internet, Marketing'
 'Human Resources, Security, Training'
 'Consumer Lending, Finance, FinTech' 'Marketing, Social Media, Video'
 'Banking' 'Food Processing' 'Apps' 'Marketing'
 'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation'
 'Digital Entertainment, Fantasy Sports, Gaming, Sports'
 'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing'
 'Commercial, E-Learning, Education'
 'Continuing Education, EdTech, Education, Skill Assessment'
 'Smart Cities, Telecommunications' 'Internet of Things, Robotics'
 'Apps, Home Services, Information Services, Information Technology'
 'Medical, Tourism' 'Career Planning, Education, Internet'
 'Fashion, Graphic Design, Wearables'
 'Communities, Leisure, Mobile Apps, Software'
 'Automotive, Rental, Sharing Economy'
 'Energy, Environmental Consulting, Renewable Energy, Solar'
 'Information Technology, SaaS, Security'
 'Crowdfunding, Financial Services, Internet'
 'Customer Service, Information Technology, Internet, Sales Automation'
 'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming'
 'Credit Cards, Payments, Property Insurance, Property Management, Rental Property'
 'Beauty, Cosmetics, Health Care, Service Industry'
 'EdTech, Education, Mobile, Tutoring' 'Social Media, Sports' 'Biopharma'
 'E-Commerce, E-Commerce Platforms, Retail'
 'E-Commerce, Fashion, Shopping' 'Digital Entertainment, Mobile, PC Games'
 'Finance, Financial Services, Small and Medium Businesses'
 'Artificial Intelligence, Energy, Oil and Gas'
 'Computer, FinTech, Risk Management, Software'
 'Apps, Financial Services, FinTech'
 "Child Care, Health Care, Hospital, Medical, Women's"
 'Agriculture, Mobile'
 'Finance, FinTech, Payments, Property Development, Rental'
 'Information Services, Information Technology, Mobile, Software'
 'Apps, Fitness, Health Care, mHealth' 'Food and Beverage, Food Delivery'
 'Apps, Payments, Retail' 'Health Insurance, Insurance, Life Insurance'
 'Rental, Taxi Service, Travel'
 'E-Commerce, E-Commerce Platforms, Internet, Retail'
 'Financial Services, Professional Services'
 'Customer Service, Messaging, Mobile Apps, Personalization'
 'Gaming, iOS, Sports'
 'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media'
 'Search Engine'
 'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation'
 'Agriculture, Farmers Market, Farming'
 'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics'
 'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation'
 'Mobile, Software, Travel' 'Cosmetics'
 'Consulting, Cyber Security, Network Security'
 'eSports, Gaming, Video Games' 'Fashion, Jewelry' 'B2B, Medical Device'
 'Consumer Goods, Manufacturing' 'Biotechnology, Health Care, Wellness'
 'Health Care, Hospital, Medical, Robotics'
 'E-Commerce, Fitness, Health Care' 'Financial Services, Venture Capital'
 'Accounting, Apps, FinTech' 'Apps, Mobile, Transportation' 'Reading Apps'
 'Energy, Renewable Energy, Solar' 'Banking, Financial Services, FinTech'
 'Apps, Education, Retail' 'Electric Vehicle'
 'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design'
 'Automotive, E-Commerce, Marketplace' 'Agriculture'
 'Apps, Information Services, Information Technology' 'B2B, Marketplace'
 'Packaging Services' 'Computer, Furniture, Software'
 'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine'
 'Collaboration, Communities, Coworking, Real Estate'
 'Accounting, Banking, Finance'
 'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS'
 'Information Services, Internet, Logistics, Supply Chain Management, Transportation'
 'Automotive, E-Commerce, Information Services'
 'Delivery, Logistics, Transportation'
 'Automotive, E-Commerce Platforms, Marketplace'
 'Last Mile Transportation, Railroad, Transportation, Travel'
 'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals'
 'FinTech, Mobile, Mobile Payments, Payments, Retail Technology'
 'Online Games, Software' 'Online Portals, Property Management, Rental'
 'E-Commerce, Food and Beverage, Tea' 'Music, Social Network, Video'
 'Health Care, Pharmaceutical, Wellness'
 'Delivery Service, Food and Beverage, Food Delivery'
 'Hospitality, Information Technology, Travel Accommodations'
 'Biotechnology, Diabetes, Health Care'
 'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental'
 'Finance, Financial Exchanges, Financial Services, Micro Lending'
 'Analytics, Apps, Market Research'
 'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet'
 'Apps, Mobile, Mobile Apps, Software' 'News, Publishing, Social Media'
 'Industrial, Industrial Automation'
 'Internet, Mobile Apps, Social Network'
 'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device'
 'E-Commerce, Furniture, Interior Design' 'Apps, Events, News'
 'Artificial Intelligence, Human Resources, Information Services, Information Technology'
 'Logistics, Railroad, Transportation' 'Dating, Private Social Networking'
 'Artificial Intelligence, Machine Learning, PaaS'
 'Consumer, Furniture, Home Decor, Home Improvement'
 'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation'
 'Health Care, Health Insurance' 'Energy, Natural Resources'
 'E-Commerce, Education, Health Care' 'Apps, Health Care, Pharmaceutical'
 'Internet, Knowledge Management'
 'Credit, Finance, FinTech, Lending, Sales Automation'
 'Banking, Financial Services, Internet' 'E-Commerce, Health Care, Retail'
 'Child Care, Information Technology' 'Financial Services, Micro Lending'
 'E-Commerce, Retail, Shopping' 'Food and Beverage, Snack Food, Tea'
 'Delivery Service, E-Commerce, Logistics' 'Fashion, Lifestyle, Rental'
 'Fantasy Sports, Mobile, Sports' 'Beauty, Fashion, Wellness'
 'Food and Beverage, Restaurants, Tea' 'Fitness, Sporting Goods, Sports'
 'Food and Beverage, Food Processing, Manufacturing'
 'E-Learning, Internet' 'Eyewear, Internet'
 'Information Technology, Mobile, News, Operating Systems, Social Media, Social News'
 'FinTech, Internet, Payments, Service Industry'
 'B2B, Business Development, Internet, Marketplace'
 'Food and Beverage, Food Delivery, Internet'
 'Biotechnology, Health Care, Pharmaceutical']

DATA CLEANING PROCESS FOR DATA_2018

DATA CLEANING PROCESS FOR DATA_2018

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, 1 row was detected to be duplicate and it was dropped from the DataFrame.
3. Checking for null values, the following was extracted from the data_2018.info():
    
    Amount  292 (55.5%).
4.I will be replacing the null values as follow: 
    
    Amount: I will be replacing the null values with the Mean Amount i.e. $23,177,900

In [73]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2018['Company Name'] = data_2018['Company Name'].astype('category')
data_2018['Industry'] = data_2018['Industry'].astype('category')
data_2018['Round/Series'] = data_2018['Round/Series'].astype('category')
data_2018['Location'] = data_2018['Location'].astype('category')
data_2018['About Company'] = data_2018['About Company'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(data_2018.dtypes)

Data types after conversion:
Company Name     category
Industry         category
Round/Series     category
Amount             object
Location         category
About Company    category
Amount_RUP        float64
Amount_USD        float64
dtype: object

In [81]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2018['Amount'] = data_2018['Amount'].astype(str)

# Removing the RUP sign and converting to float Dtype, handling non-numeric values
data_2018['Amount'] = pd.to_numeric(data_2018['Amount'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2018.dtypes)

Data types after conversion:
Company Name     category
Industry         category
Round/Series     category
Amount            float64
Location         category
About Company    category
Amount_RUP        float64
Amount_USD        float64
dtype: object

In [82]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates3 = data_2018.duplicated()

# Count duplicate rows
num_duplicates3 = duplicates3.sum()
print(f"Number of duplicate rows: {num_duplicates3}")

# Print duplicate rows
duplicate_rows3 = data_2018[duplicates3]
print("Duplicate rows:")
print(duplicate_rows3)

Number of duplicate rows: 1
Duplicate rows:
        Company Name                                           Industry  \
348  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...

    Round/Series    Amount                     Location  \
348         Seed  250000.0  Bangalore, Karnataka, India

                                         About Company  Amount_RUP  Amount_USD
348  TheCollegeFever is a hub for fun, fiesta and f...         NaN    250000.0

In [83]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2018_clean = data_2018.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2018.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2018_clean.shape[0]}")

Number of rows before dropping duplicates: 526
Number of rows after dropping duplicates: 525

In [84]:
data_2018_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    category
 1   Industry       525 non-null    category
 2   Round/Series   525 non-null    category
 3   Amount         233 non-null    float64
 4   Location       525 non-null    category
 5   About Company  525 non-null    category
 6   Amount_RUP     0 non-null      float64
 7   Amount_USD     174 non-null    float64
dtypes: category(5), float64(3)
memory usage: 83.5 KB

In [85]:
data_2018_clean.describe()

             Amount  Amount_RUP    Amount_USD
count  2.330000e+02         0.0  1.740000e+02
mean   2.317790e+07         NaN  1.226720e+07
std    9.563237e+07         NaN  4.095809e+07
min    7.500000e+03         NaN  7.500000e+03
25%    5.500000e+05         NaN  5.000000e+05
50%    1.600000e+06         NaN  1.350000e+06
75%    5.000000e+06         NaN  4.150000e+06
max    1.000000e+09         NaN  3.650000e+08

In [86]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count3 = data_2018_clean.isna().sum()

missing_value_percentage3 = (missing_value_count3/len(data_2018)) * 100
missing_value_percentage3 = missing_value_percentage3.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary3 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count3,
    'Percentage': missing_value_percentage3
})

# Printing the summary DataFrame
print(missing_value_summary3)

               Missing_Value_Count  Percentage
Company Name                     0         0.0
Industry                         0         0.0
Round/Series                     0         0.0
Amount                         292        55.5
Location                         0         0.0
About Company                    0         0.0
Amount_RUP                     525        99.8
Amount_USD                     351        66.7

In [87]:
# Replace Null Values in 'Amount' column with the Mean
data_2018_clean['Amount'].fillna(data_2018_clean['Amount'].mean(), inplace = True)

In [88]:
data_2018_cleaned = data_2018_clean
data_2018_cleaned

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount_RUP,Amount_USD
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,250000.0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,2000000.0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN
...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,2.250000e+08,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",NaN,225000000.0
522,Happyeasygo Group,"Tourism, Travel",Series A,2.317790e+07,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,NaN,NaN
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7.500000e+03,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,NaN,7500.0
524,Droni Tech,Information Technology,Seed,2.317790e+07,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,NaN,NaN
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,3.500000e+07,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,NaN,35000000.0

In [89]:
data_2018_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    category
 1   Industry       525 non-null    category
 2   Round/Series   525 non-null    category
 3   Amount         525 non-null    float64
 4   Location       525 non-null    category
 5   About Company  525 non-null    category
 6   Amount_RUP     0 non-null      float64
 7   Amount_USD     174 non-null    float64
dtypes: category(5), float64(3)
memory usage: 83.5 KB

In [49]:
data_2018_cleaned.shape

(525, 6)

DATASET FOR 2019

In [90]:
# File path for the 2019 funding dataset
file_path2 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2019.csv'

# Loading the file into the notebook for analysis
data_2019 = pd.read_csv(file_path2)
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [91]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [92]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [93]:
data_2019.shape

(89, 9)

In [95]:
# Checking for unique values in the Stage field
unique1 = data_2019['Stage'].unique()

print(unique1)

[nan 'Series C' 'Fresh funding' 'Series D' 'Pre series A' 'Series A'
 'Series G' 'Series B' 'Post series A' 'Seed funding' 'Seed fund'
 'Series E' 'Series F' 'Series B+' 'Seed round' 'Pre-series A']

In [97]:
# Checking for unique values in the Amount($) field
unique2 = data_2019['Amount($)'].unique()

print(unique2)

['$6,300,000' '$150,000,000' '$28,000,000' '$30,000,000' '$6,000,000'
 'Undisclosed' '$1,000,000' '$20,000,000' '$275,000,000' '$22,000,000'
 '$5,000,000' '$140,500' '$540,000,000' '$15,000,000' '$182,700'
 '$12,000,000' '$11,000,000' '$15,500,000' '$1,500,000' '$5,500,000'
 '$2,500,000' '$140,000' '$230,000,000' '$49,400,000' '$32,000,000'
 '$26,000,000' '$150,000' '$400,000' '$2,000,000' '$100,000,000'
 '$8,000,000' '$100,000' '$50,000,000' '$120,000,000' '$4,000,000'
 '$6,800,000' '$36,000,000' '$5,700,000' '$25,000,000' '$600,000'
 '$70,000,000' '$60,000,000' '$220,000' '$2,800,000' '$2,100,000'
 '$7,000,000' '$311,000,000' '$4,800,000' '$693,000,000' '$33,000,000']

In [101]:
# Checking for unique values in the Sector field
unique3 = data_2019['Sector'].unique()

print(unique3)

['Ecommerce' 'Edtech' 'Interior design' 'AgriTech' 'Technology' 'SaaS'
 'AI & Tech' 'E-commerce' 'E-commerce & AR' 'Fintech' 'HR tech'
 'Food tech' 'Health' 'Healthcare' 'Safety tech' 'Pharmaceutical'
 'Insurance technology' 'AI' 'Foodtech' 'Food' 'IoT' 'E-marketplace'
 'Robotics & AI' 'Logistics' 'Travel' 'Manufacturing' 'Food & Nutrition'
 'Social Media' nan 'E-Sports' 'Cosmetics' 'B2B' 'Jewellery'
 'B2B Supply Chain' 'Games' 'Food & tech' 'Accomodation' 'Automotive tech'
 'Legal tech' 'Mutual Funds' 'Cybersecurity' 'Automobile' 'Sports'
 'Healthtech' 'Yoga & wellness' 'Virtual Banking' 'Transportation'
 'Transport & Rentals' 'Marketing & Customer loyalty' 'Infratech'
 'Hospitality' 'Automobile & Technology' 'Banking']

In [102]:
# Checking for unique values in the HeadQuarter field
unique4 = data_2019['HeadQuarter'].unique()

print(unique4)

[nan 'Mumbai' 'Chennai' 'Telangana' 'Pune' 'Bangalore' 'Noida' 'Delhi'
 'Ahmedabad' 'Gurugram' 'Haryana' 'Chandigarh' 'Jaipur' 'New Delhi'
 'Surat' 'Uttar pradesh' 'Hyderabad' 'Rajasthan']

In [103]:
# Checking for unique values in the Founded field
unique5 = data_2019['Founded'].unique()

print(unique5)

[  nan 2014. 2004. 2013. 2010. 2018. 2019. 2017. 2011. 2015. 2016. 2012.
 2008.]

DATA CLEANING PROCESS FOR DATA_2019

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, no rows were detected to be duplicates.
3. Checking for null values, the following was extracted from the data_2019.info():
    
    Founded 29 (32.6%), HeadQuarter 19 (21.3%), Sector 5 (5.6%), 
    
    Founders 3 (3.4%), Amount 12 (13.5%), and Stage 46 (51.7%).
4. Judging by the percentage of the missing values, I will be dropping all percentages with unit values (Sector and Founders). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens values (Founded, Amount and Stage), I will be replacing the null values as follow:
    
    Founded: I will be replacing the null values with the Median year i.e. 2015

    HeadQuarter: I will be replacing the null values with the Modal HeadQuarter in the DataFrame i.e. 'Bangalore' 
    
    Amount: I will be replacing the null values with the Mean Amount i.e. $43,330,300
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Series A'

In [104]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2019['Company/Brand'] = data_2019['Company/Brand'].astype('category')
data_2019['HeadQuarter'] = data_2019['HeadQuarter'].astype('category')
data_2019['Sector'] = data_2019['Sector'].astype('category')
data_2019['What it does'] = data_2019['What it does'].astype('category')
data_2019['Founders'] = data_2019['Founders'].astype('category')
data_2019['Investor'] = data_2019['Investor'].astype('category')
data_2019['Stage'] = data_2019['Stage'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(data_2019.dtypes)

Data types after conversion:
Company/Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What it does     category
Founders         category
Investor         category
Amount($)          object
Stage            category
dtype: object

In [105]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2019['Amount($)'] = data_2019['Amount($)'].astype(str)

# Removing the $ sign and converting to float Dtype, handling non-numeric values
data_2019['Amount($)'] = pd.to_numeric(data_2019['Amount($)'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2019.dtypes)

Data types after conversion:
Company/Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What it does     category
Founders         category
Investor         category
Amount($)         float64
Stage            category
dtype: object

In [106]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates2 = data_2019.duplicated()

# Count duplicate rows
num_duplicates2 = duplicates2.sum()
print(f"Number of duplicate rows: {num_duplicates2}")

# Print duplicate rows
duplicate_rows2 = data_2019[duplicates2]
print("Duplicate rows:")
print(duplicate_rows2)

Number of duplicate rows: 0
Duplicate rows:
Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []

In [107]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count2 = data_2019.isna().sum()

missing_value_percentage2 = (missing_value_count2/len(data_2019)) * 100
missing_value_percentage2 = missing_value_percentage2.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary2 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count2,
    'Percentage': missing_value_percentage2
})

# Printing the summary DataFrame
print(missing_value_summary2)

               Missing_Value_Count  Percentage
Company/Brand                    0         0.0
Founded                         29        32.6
HeadQuarter                     19        21.3
Sector                           5         5.6
What it does                     0         0.0
Founders                         3         3.4
Investor                         0         0.0
Amount($)                       12        13.5
Stage                           46        51.7

In [108]:
data_2019.describe()

           Founded     Amount($)
count    60.000000  7.700000e+01
mean   2014.533333  4.333030e+07
std       2.937003  1.106216e+08
min    2004.000000  1.000000e+05
25%    2013.000000  2.100000e+06
50%    2015.000000  6.000000e+06
75%    2016.250000  3.000000e+07
max    2019.000000  6.930000e+08

In [109]:
# Finding the Mode of the 'Founded' column
mode_value3 = data_2019['Founded'].mode()[0]
mode_value3

# Replace Null Values in 'Founded' column with the Mode
data_2019['Founded'].fillna(mode_value3, inplace = True)

# Finding the Mode of the 'HeadQuarter' column
mode_value4 = data_2019['HeadQuarter'].mode()[0]
mode_value4

# Replace Null Values in 'HeadQuarter' column with the Mode
data_2019['HeadQuarter'].fillna(mode_value4, inplace = True)

# Finding the mode of the 'Stage' column
mode_value5 = data_2019['Stage'].mode()[0]
mode_value5

# Replace Null Values in 'Stage' column with the Mode
data_2019['Stage'].fillna(mode_value5, inplace = True)

# Replace Null Values in 'Amount' column with the Mean
data_2019['Amount($)'].fillna(data_2019['Amount($)'].mean(), inplace = True)

In [110]:
# Dropping rows with null values in the specified fields
data_2019_cleaned = data_2019.dropna(subset = ['Sector', 'Founders'])

# Change the 'Founded' field from float64 to int64 for data_2021
data_2019_cleaned['Founded'] = data_2019_cleaned['Founded'].astype(int)

data_2019_cleaned

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,2015,Bangalore,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,Series A
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,2015,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,Series A
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,2015,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A
85,Oyo,2013,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,Series A
86,GoMechanic,2016,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B
87,Spinny,2015,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,Series A
88,Ess Kay Fincorp,2015,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,Series A

In [111]:
data_2019_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  82 non-null     category
 1   Founded        82 non-null     int32
 2   HeadQuarter    82 non-null     category
 3   Sector         82 non-null     category
 4   What it does   82 non-null     category
 5   Founders       82 non-null     category
 6   Investor       82 non-null     category
 7   Amount($)      82 non-null     float64
 8   Stage          82 non-null     category
dtypes: category(7), float64(1), int32(1)
memory usage: 16.9 KB

In [112]:
data_2019_cleaned.shape

(82, 9)

COLUMN MAPPING: Definig a column mapping dictionary to standardize all columns in the 4 datasets for consistency and accuracy

In [63]:
# Column mapping dicitionary in order to standardize all columns in the 4 datasets
column_mapping = {
    'Company Name': 'Company',
    'Company/Brand': 'Company',
    'Company_Brand': 'Company',
    'Industry': 'Sector',
    'Sector': 'Sector',
    'Round/Series': 'Stage',
    'Stage': 'Stage',
    'Amount': 'Amount',
    'Amount($)': 'Amount',
    'Location': 'Location',
    'HeadQuarter': 'Location',
    'About Company': 'What_it_does',
    'What it does': 'What_it_does',
    'What_it_does': 'What_it_does',
    'Founded': 'Founded',
    'Founders': 'Founders',
    'Investor': 'Investor'
}

# Renaming the columns in each DataFrame using the rename method and column_mapping
data_2018_cleaned.rename(columns=column_mapping, inplace=True)
data_2019_cleaned.rename(columns=column_mapping, inplace=True)
data_2020_cleaned.rename(columns=column_mapping, inplace=True)
data_2021_cleaned.rename(columns=column_mapping, inplace=True)

# Print the renamed column names for verification
print("\nRenamed column names:")
print("2018 DataFrame:", data_2018_cleaned.columns)
print("2019 DataFrame:", data_2019_cleaned.columns)
print("2020 DataFrame:", data_2020_cleaned.columns)
print("2021 DataFrame:", data_2021_cleaned.columns)

Renamed column names:
2018 DataFrame: Index(['Company', 'Sector', 'Stage', 'Amount', 'Location', 'What_it_does'], dtype='object')
2019 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')
2020 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')
2021 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')

CONCATENATING DATAFRAMES: Merging all the 4 DataFrames (2018, 2019, 2020 & 2021) into a single DataFrame (df_merger)

In [64]:
# Merging all the 4 DataFrames into a single DataFrame (df_merger)
df_merger = pd.concat([data_2018_cleaned, data_2019_cleaned, data_2020_cleaned, data_2021_cleaned], ignore_index = True)
df_merger

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2686,Gigforce,Staffing & Recruiting,Pre-series A,3.000000e+06,Gurugram,A gig/on-demand staffing company.,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2687,Vahdam,Food & Beverages,Series D,2.000000e+07,New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,Bala Sarda,IIFL AMC
2688,Leap Finance,Financial Services,Series C,5.500000e+07,Bangalore,International education loans for high potenti...,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2689,CollegeDekho,EdTech,Series B,2.600000e+07,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2690,WeRize,Financial Services,Series A,8.000000e+06,Bangalore,India’s first socially distributed full stack ...,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [65]:
df_merger.head()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN

In [66]:
df_merger.tail()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
2686,Gigforce,Staffing & Recruiting,Pre-series A,3000000.0,Gurugram,A gig/on-demand staffing company.,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2687,Vahdam,Food & Beverages,Series D,20000000.0,New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,Bala Sarda,IIFL AMC
2688,Leap Finance,Financial Services,Series C,55000000.0,Bangalore,International education loans for high potenti...,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2689,CollegeDekho,EdTech,Series B,26000000.0,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2690,WeRize,Financial Services,Series A,8000000.0,Bangalore,India’s first socially distributed full stack ...,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [67]:
df_merger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2691 entries, 0 to 2690
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       2691 non-null   object
 1   Sector        2691 non-null   object
 2   Stage         2691 non-null   object
 3   Amount        2691 non-null   float64
 4   Location      2691 non-null   object
 5   What_it_does  2691 non-null   object
 6   Founded       2166 non-null   float64
 7   Founders      2166 non-null   object
 8   Investor      2166 non-null   object
dtypes: float64(2), object(7)
memory usage: 189.3+ KB

DATA CLEANING PROCESS FOR DF_MERGER DATAFRAME

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Dropping the 'Founders' field since the field has nothing to do with our analysis and business questions
3. Checking for null values, the null values detected in the df_merger DataFrame are from the data_2018_cleaned Dataframe. The reason for this is that the DataFrame do not have the 'Founded' and 'Investor' fields at the initial stage.

The step taken to fill these null values are as follows:

Founded: I will be replacing the null values with the Mean Year of the entire df_merger DataFrame i.e. 2016

Investor: I will be replacing the null values with the Modal Investor of the entire df_merger DataFrame i.e. 'Inflection Point Ventures'

In [76]:
# Changing some fields in 'object Dtype' to 'category Dtype'
df_merger['Company'] = df_merger['Company'].astype('category')
df_merger['Sector'] = df_merger['Sector'].astype('category')
df_merger['Stage'] = df_merger['Stage'].astype('category')
df_merger['Location'] = df_merger['Location'].astype('category')
df_merger['What_it_does'] = df_merger['What_it_does'].astype('category')
df_merger['Founders'] = df_merger['Founders'].astype('category')
df_merger['Investor'] = df_merger['Investor'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(df_merger.dtypes)

Data types after conversion:
Company         category
Sector          category
Stage           category
Amount           float64
Location        category
What_it_does    category
Founded          float64
Investor        category
dtype: object

In [69]:
df_merger.describe()

             Amount      Founded
count  2.691000e+03  2166.000000
mean   1.242164e+08  2016.020776
std    3.191167e+09     4.238832
min    7.500000e+03  1963.000000
25%    1.306750e+06  2015.000000
50%    7.400000e+06  2016.000000
75%    3.500000e+07  2019.000000
max    1.500000e+11  2021.000000

In [70]:
# Deleting 'Founders' field from the df_merger DataFrame since it has nothing to with the analysis intended and business questions to be answered.
del df_merger ['Founders']
df_merger.head()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN

In [77]:
# Finding the Mode of the 'Founded' column
mode_value6 = df_merger['Founded'].mode()[0]
mode_value6

# Replace Null Values in 'Founded' column with the Mode
df_merger['Founded'].fillna(mode_value6, inplace = True)

# Finding the Mode of the 'Investor' column
mode_value7 = df_merger['Investor'].mode()[0]
mode_value7

# Replace Null Values in 'Investor' column with the Mode
df_merger['Investor'].fillna(mode_value7, inplace = True)

In [78]:
df_merger.head()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2016.0,Inflection Point Ventures
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2016.0,Inflection Point Ventures
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2016.0,Inflection Point Ventures
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2016.0,Inflection Point Ventures
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2016.0,Inflection Point Ventures