INDIAN START-UP FUNDING ANALYSIS (2018 - 2021)

Ideas, creativity, and execution are essential for a start-up to flourish. But are they enough? Investors provide start-ups and other entrepreneurial ventures with the capital popularly known as "funding"---to think big, grow rich, and leave a lasting impact. In this project, my intention is to analyse funding received by start-ups in India from 2018 to 2021. The data for each year of funding were gotten from 2 separate csv files (2018 and 2019) and from a database for years 2020 and 2021. In these files, the start-ups' details, the funding amounts received, the investors' and other relevant information were provided.

In [68]:
# Importing relevant packages

import pyodbc
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [2]:
# load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials from .env file
database = environment_variables.get("database")
server = environment_variables.get("server")
login = environment_variables.get("login")
password = environment_variables.get("password")
 
# create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"

In [3]:
# Using the connect method of the pyodbc library to pass in the connection string
connection = pyodbc.connect(connection_string)

# what tables are in the Database
db_query = '''SELECT *
FROM INDIVIDUAL_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE'''

DATASET FOR 2021

In [4]:
# Querying the Database to determine the tables we are to use for analysis
query1 = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query1, connection)
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [5]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [6]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [7]:
data_2021.shape

(1209, 9)

DATA CLEANING PROCESS FOR DATA_2021

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, 19 rows were detected to be duplicates. These rows were dropped from the DataFrame.
3. Checking for null values, the following was extracted from the data_2021_clean.info():
    
    Founded 1 (0.1%), HeadQuarter 1 (0.1%),  Founders 4 (0.3%), 
    
    Investors 61 (5.1%), Amount 150 (12.6%), and Stage 421 (35.4%).

Judging by the percentage of the missing values, I will be dropping all percentages with unit values (HeadQuarter, Founded, and Founders). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens and hundreds values (Investor, Amount and Stage), I will be replacing the null values as follow:
    
    Investor: I will be replacing the null values with the Modal Investor in the DataFrame i.e. Inflection Point Ventures
    
    Amount: I will be replacing the null values with the Mean Amount i.e. 172,664,200
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Seed'

In [8]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2021['Company_Brand'] = data_2021['Company_Brand'].astype('category')
data_2021['HeadQuarter'] = data_2021['HeadQuarter'].astype('category')
data_2021['Sector'] = data_2021['Sector'].astype('category')
data_2021['What_it_does'] = data_2021['What_it_does'].astype('category')
data_2021['Founders'] = data_2021['Founders'].astype('category')
data_2021['Investor'] = data_2021['Investor'].astype('category')
data_2021['Stage'] = data_2021['Stage'].astype('category')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2021.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount             object
Stage            category
dtype: object

In [9]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2021['Amount'] = data_2021['Amount'].astype(str)

# Removing the $ sign and converting to float Dtype, handling non-numeric values
data_2021['Amount'] = pd.to_numeric(data_2021['Amount'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2021.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount            float64
Stage            category
dtype: object

In [10]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates1 = data_2021.duplicated()

# Count duplicate rows
num_duplicates1 = duplicates1.sum()
print(f"Number of duplicate rows: {num_duplicates1}")

# Print duplicate rows
duplicate_rows1 = data_2021[duplicates1]
print("Duplicate rows:")
print(duplicate_rows1)

Number of duplicate rows: 19
Duplicate rows:
          Company_Brand  Founded             HeadQuarter  \
107           Curefoods   2020.0               Bangalore
109            Bewakoof   2012.0                  Mumbai
111             FanPlay   2020.0          Computer Games
117      Advantage Club   2014.0                  Mumbai
119              Ruptok   2020.0               New Delhi
243            Trinkerr   2021.0               Bangalore
244               Zorro   2021.0                Gurugram
245       Ultraviolette   2021.0               Bangalore
246          NephroPlus   2009.0               Hyderabad
247             Unremot   2020.0               Bangalore
248         FanAnywhere   2021.0               Bangalore
249          PingoLearn   2021.0                    Pune
250                Spry   2021.0                  Mumbai
251             Enmovil   2015.0               Hyderabad
252       ASQI Advisors   2019.0                  Mumbai
253  Insurance Samadhan   2018.0               New Delhi
254     Evenflow Brands   2020.0                  Mumbai
255          MasterChow   2020.0        Food & Beverages
256  Fullife Healthcare   2009.0  Pharmaceuticals\t#REF!

                                                Sector  \
107                                   Food & Beverages
109                                  Apparel & Fashion
111                                     Computer Games
117                                             HRTech
119                                            FinTech
243                                    Capital Markets
244                                     Social network
245                                         Automotive
246                             Hospital & Health Care
247                  Information Technology & Services
248                                 Financial Services
249                                         E-learning
250                                              Music
251                  Information Technology & Services
252                                 Financial Services
253                                          Insurance
254                                     Consumer Goods
255                                          Hauz Khas
256  Primary Business is Development and Manufactur...

                                          What_it_does  \
107  Healthy & nutritious foods and cold pressed ju...
109  Bewakoof is a lifestyle fashion brand that mak...
111  A real money game app specializing in trivia g...
117  Advantage Club is India's largest employee eng...
119  Ruptok fintech Pvt. Ltd. is an online gold loa...
243  Trinkerr is India's first social trading platf...
244               Pseudonymous social network platform
245  Create and Inspire the future of sustainable u...
246  A vision and passion of redefining healthcare ...
247      Unremot is a personal office for consultants!
248                             Celebrity NFT platform
249  PingoLearn offers language learning courses wi...
250  THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...
251  Enmovil delivers a Business Intelligence Platf...
252  Bringing Blockchain technology intro mainstrea...
253  The insurance industry will help in representa...
254  Identify and partner with the upcoming eCommer...
255                A ready-to-cook Asian cuisine brand
256                                       Varun Khanna

                                          Founders  \
107                                   Ankit Nagori
109                               Prabhkiran Singh
111                                         YC W21
117             Sourabh Deorah, Smiti Bhatt Deorah
119                                    Ankur Gupta
243                Manvendra Singh, Gaurav Agarwal
244  Jasveer Singh, Abhishek Asthana, Deepak Kumar
245            Subramaniam Narayan, Niraj Rajmohan
246                                 Vikram Vuppala
247                            Shiju Radhakrishnan
248                    Varun Chaudhary, Amit Kumar
249             Mohit Menghani, Shubham Maheshwari
250                Gaurav Dagaonkar, Meghna Mittal
251     Ravi Bulusu, Nanda Kishore, Venkat Moganty
252                                  Swapnil Pawar
253                     Deepak Bhuvenshwari Uniyal
254                  Utsav Agarwal, Pulkit Chhabra
255                  Vidur Kataria, Sidhanth Madan
256             Morgan Stanley Private Equity Asia

                                              Investor       Amount  \
107                Iron Pillar, Nordstar, Binny Bansal   13000000.0
109                                         InvestCorp    8000000.0
111                        Pritesh Kumar, Bharat Gupta          NaN
117           Y Combinator, Broom Ventures, Kunal Shah    1700000.0
119                                     Eclear Leasing    1000000.0
243                                        Accel India    6600000.0
244  Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose   32000000.0
245                                    TVS Motor, Zoho  150000000.0
246                              IIFL Asset Management   24000000.0
247                          Inflection Point Ventures     700000.0
248        Oasis Capital, Scorpio VC, DeltaHub Capital          NaN
249  Titan Capital, Haresh Chawla, AngelList Syndicate     200000.0
250                          9Unicorns, Ashneer Grover    1500000.0
251                                  Anicut Angel Fund    1300000.0
252                              Founders Room Capital    1000000.0
253                                     9Unicorns, ZNL     725000.0
254                                                NaN     500000.0
255                                       WEH Ventures     461000.0
256                                          $22000000          NaN

            Stage
107           NaN
109           NaN
111      $1200000
117           NaN
119           NaN
243      Series A
244          Seed
245      Series C
246      Series E
247          Seed
248          Seed
249           NaN
250          Seed
251  Pre-series A
252  Pre-series A
253  Pre-series A
254           NaN
255          Seed
256           NaN

In [11]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2021_clean = data_2021.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2021.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2021_clean.shape[0]}")

Number of rows before dropping duplicates: 1209
Number of rows after dropping duplicates: 1190

In [12]:
data_2021_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   category
 1   Founded        1189 non-null   float64
 2   HeadQuarter    1189 non-null   category
 3   Sector         1190 non-null   category
 4   What_it_does   1190 non-null   category
 5   Founders       1186 non-null   category
 6   Investor       1129 non-null   category
 7   Amount         1040 non-null   float64
 8   Stage          769 non-null    category
dtypes: category(7), float64(2)
memory usage: 217.8 KB

In [13]:
data_2021_clean.describe()

           Founded        Amount
count  1189.000000  1.040000e+03
mean   2016.634146  1.726642e+08
std       4.522098  4.651133e+09
min    1963.000000  1.000000e+04
25%    2015.000000  1.000000e+06
50%    2018.000000  3.700000e+06
75%    2020.000000  1.500000e+07
max    2021.000000  1.500000e+11

In [14]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count1 = data_2021_clean.isna().sum()

missing_value_percentage1 = (missing_value_count1/len(data_2021_clean)) * 100
missing_value_percentage1 = missing_value_percentage1.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary1 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count1,
    'Percentage': missing_value_percentage1
})

# Printing the summary DataFrame
print(missing_value_summary1)

               Missing_Value_Count  Percentage
Company_Brand                    0         0.0
Founded                          1         0.1
HeadQuarter                      1         0.1
Sector                           0         0.0
What_it_does                     0         0.0
Founders                         4         0.3
Investor                        61         5.1
Amount                         150        12.6
Stage                          421        35.4

In [15]:
# Finding the mode of the 'Investor' column
mode_value1 = data_2021_clean['Investor'].mode()[0]
mode_value1

# Replace Null Values in 'Investor' column with the Mode
data_2021_clean['Investor'].fillna(mode_value1, inplace = True)


# Finding the mode of the 'Stage' column
mode_value2 = data_2021_clean['Stage'].mode()[0]
mode_value2

# Replace Null Values in 'Investor' column with the Mode
data_2021_clean['Stage'].fillna(mode_value2, inplace = True)


# Replace Null Values in 'Amount' column with the Mean
data_2021_clean['Amount'].fillna(data_2021_clean['Amount'].mean(), inplace = True)

In [16]:
# Dropping rows with null values in the specified fields
data_2021_cleaned = data_2021_clean.dropna(subset = ['HeadQuarter', 'Founded', 'Founders'])
data_2021_cleaned

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,Seed
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital",30000000.0,Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital",51000000.0,Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal",2000000.0,Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,3000000.0,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,20000000.0,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,55000000.0,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",26000000.0,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",8000000.0,Series A

In [17]:
data_2021_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1184 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1184 non-null   category
 1   Founded        1184 non-null   float64
 2   HeadQuarter    1184 non-null   category
 3   Sector         1184 non-null   category
 4   What_it_does   1184 non-null   category
 5   Founders       1184 non-null   category
 6   Investor       1184 non-null   category
 7   Amount         1184 non-null   float64
 8   Stage          1184 non-null   category
dtypes: category(7), float64(2)
memory usage: 217.6 KB

In [18]:
data_2021_cleaned.shape

(1184, 9)

DATASET FOR 2020

In [19]:
query2 = "Select * from dbo.LP1_startup_funding2020"

data_2020 = pd.read_sql(query2, connection)
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [20]:
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [21]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [22]:
data_2020.shape

(1055, 10)

DATA CLEANING PROCESS FOR DATA_2020

1. Converting all 'object' Dtype to 'category' Dtype.
2. Deletion of column 10 since only 0.2% of the column is a non-null value i.e. 99.8% of its' values are null values. In addition, the column does not have any impact in our analysis.
3. Upon checking the DataFrame for duplicates, 3 rows were detected to be duplicates. These rows were dropped from the DataFrame.
4. Checking for null values, the following was extracted from the data_2020_clean.info():
    
    Founded 213 (20.2%), HeadQuarter 94 (8.9%), Sector 13 (1.2%), 
    
    Founders 12 (1.1%), Investors 38 (3.6%), Amount 253 (24.1%), and Stage 462 (43.9%).

Judging by the percentage of the missing values, I will be dropping all percentages with unit values (HeadQuarter, Sector, Founders, and Investors). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens values (Founded, Amount and Stage), I will be replacing the null values as follow:
    
    Founded: I will be replacing the null values with the Median year i.e. 2016
    
    Amount: I will be replacing the null values with the Mean Amount i.e. 112,699,400
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Series A'

In [23]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2020['Company_Brand'] = data_2020['Company_Brand'].astype('category')
data_2020['HeadQuarter'] = data_2020['HeadQuarter'].astype('category')
data_2020['Sector'] = data_2020['Sector'].astype('category')
data_2020['What_it_does'] = data_2020['What_it_does'].astype('category')
data_2020['Founders'] = data_2020['Founders'].astype('category')
data_2020['Investor'] = data_2020['Investor'].astype('category')
data_2020['Stage'] = data_2020['Stage'].astype('category')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2020.dtypes)

Data types after conversion:
Company_Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What_it_does     category
Founders         category
Investor         category
Amount            float64
Stage            category
column10           object
dtype: object

In [24]:
# Checking data_2020 DataFrame info
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   category
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    category
 3   Sector         1042 non-null   category
 4   What_it_does   1055 non-null   category
 5   Founders       1043 non-null   category
 6   Investor       1017 non-null   category
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    category
 9   column10       2 non-null      object
dtypes: category(7), float64(2), object(1)
memory usage: 209.5+ KB

In [25]:
# Deleting column 10 from the DataFrame since it has nothing to with the analysis intended and most of its value are null values
del data_2020 ['column10']
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,NaN
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,NaN
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,NaN

In [26]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates = data_2020.duplicated()

# Count duplicate rows
num_duplicates = duplicates.sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Print duplicate rows
duplicate_rows = data_2020[duplicates]
print("Duplicate rows:")
print(duplicate_rows)

Number of duplicate rows: 3
Duplicate rows:
    Company_Brand  Founded HeadQuarter                 Sector  \
145     Krimanshi   2015.0     Jodhpur  Biotechnology company
205         Nykaa   2012.0      Mumbai              Cosmetics
362        Byju’s   2011.0   Bangalore                 EdTech

                                          What_it_does         Founders  \
145  Krimanshi aims to increase rural income by imp...     Nikhil Bohra
205  Nykaa is an online marketplace for different b...    Falguni Nayar
362  An Indian educational technology and online tu...  Byju Raveendran

                                           Investor       Amount Stage
145  Rajasthan Venture Capital Fund, AIM Smart City     600000.0  Seed
205                        Alia Bhatt, Katrina Kaif          NaN   NaN
362           Owl Ventures, Tiger Global Management  500000000.0   NaN

In [27]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2020_clean = data_2020.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2020.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2020_clean.shape[0]}")

Number of rows before dropping duplicates: 1055
Number of rows after dropping duplicates: 1052

In [28]:
data_2020_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1052 non-null   category
 1   Founded        839 non-null    float64
 2   HeadQuarter    958 non-null    category
 3   Sector         1039 non-null   category
 4   What_it_does   1052 non-null   category
 5   Founders       1040 non-null   category
 6   Investor       1014 non-null   category
 7   Amount         799 non-null    float64
 8   Stage          590 non-null    category
dtypes: category(7), float64(2)
memory usage: 209.3 KB

In [29]:
data_2020_clean.describe()

           Founded        Amount
count   839.000000  7.990000e+02
mean   2015.373063  1.126994e+08
std       4.100793  2.479695e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

In [30]:
# Checking for missing values from the data_2020_clean DataFrame
missing_value_count = data_2020_clean.isna().sum()

missing_value_percentage = (missing_value_count/len(data_2020_clean)) * 100
missing_value_percentage = missing_value_percentage.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary = pd.DataFrame({
    'Missing_Value_Count': missing_value_count,
    'Percentage': missing_value_percentage
})

# Printing the summary DataFrame
print(missing_value_summary)

               Missing_Value_Count  Percentage
Company_Brand                    0         0.0
Founded                        213        20.2
HeadQuarter                     94         8.9
Sector                          13         1.2
What_it_does                     0         0.0
Founders                        12         1.1
Investor                        38         3.6
Amount                         253        24.0
Stage                          462        43.9

In [31]:
# Replacing Null Values

# Replace Null Values in 'Founded' column with Median
data_2020_clean['Founded'].fillna(data_2020_clean['Founded'].median(), inplace = True)

# Replace Null Values in 'Amount' column with the Mean
data_2020_clean['Amount'].fillna(data_2020_clean['Amount'].mean(), inplace = True)

# Finding the mode of the 'Stage' column
mode_value = data_2020_clean['Stage'].mode()[0]
mode_value

# Replace Null Values in 'Stage' column with the Mode
data_2020_clean['Stage'].fillna(mode_value, inplace = True)

In [32]:
# Dropping rows with null values in the specified fields
data_2020_cleaned = data_2020_clean.dropna(subset = ['HeadQuarter', 'Sector', 'Founders', 'Investor'])
data_2020_cleaned

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Series A
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,1.126994e+08,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Series A
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Series A
...,...,...,...,...,...,...,...,...,...
1049,Fashor,2017.0,Chennai,Fashion,Women’s fashion and apparel,"Vikram Kankaria, Priyanka Kankaria",Sprout venture partners,1.000000e+06,Pre Series A
1050,Leverage Edu,2016.0,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1.500000e+06,Series A
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8.000000e+06,Series A
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8.043000e+06,Series C
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9.000000e+06,Series A

In [33]:
data_2020_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 1054
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  900 non-null    category
 1   Founded        900 non-null    float64
 2   HeadQuarter    900 non-null    category
 3   Sector         900 non-null    category
 4   What_it_does   900 non-null    category
 5   Founders       900 non-null    category
 6   Investor       900 non-null    category
 7   Amount         900 non-null    float64
 8   Stage          900 non-null    category
dtypes: category(7), float64(2)
memory usage: 204.0 KB

In [34]:
data_2020_cleaned.shape

(900, 9)

DATASET FOR 2018

In [35]:
# File path for the 2018 funding dataset
file_path1 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2018.csv'

# Loading the file into the notebook for analysis
data_2018 = pd.read_csv(file_path1)
data_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [36]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [37]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [38]:
data_2018.shape

(526, 6)

DATA CLEANING PROCESS FOR DATA_2018

DATA CLEANING PROCESS FOR DATA_2018

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, 1 row was detected to be duplicate and it was dropped from the DataFrame.
3. Checking for null values, the following was extracted from the data_2018.info():
    
    Amount  292 (55.5%).
4.I will be replacing the null values as follow: 
    
    Amount: I will be replacing the null values with the Mean Amount i.e. $23,177,900

In [39]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2018['Company Name'] = data_2018['Company Name'].astype('category')
data_2018['Industry'] = data_2018['Industry'].astype('category')
data_2018['Round/Series'] = data_2018['Round/Series'].astype('category')
data_2018['Location'] = data_2018['Location'].astype('category')
data_2018['About Company'] = data_2018['About Company'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(data_2018.dtypes)

Data types after conversion:
Company Name     category
Industry         category
Round/Series     category
Amount             object
Location         category
About Company    category
dtype: object

In [69]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2018['Amount'] = data_2018['Amount'].astype(str)

# Removing the RUP sign and converting to float Dtype, handling non-numeric values
data_2018['Amount'] = pd.to_numeric(data_2018['Amount'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2018.dtypes)

Data types after conversion:
Company Name     category
Industry         category
Round/Series     category
Amount            float64
Location         category
About Company    category
dtype: object

In [70]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates3 = data_2018.duplicated()

# Count duplicate rows
num_duplicates3 = duplicates3.sum()
print(f"Number of duplicate rows: {num_duplicates3}")

# Print duplicate rows
duplicate_rows3 = data_2018[duplicates3]
print("Duplicate rows:")
print(duplicate_rows3)

Number of duplicate rows: 1
Duplicate rows:
        Company Name                                           Industry  \
348  TheCollegeFever  Brand Marketing, Event Promotion, Marketing, S...

    Round/Series    Amount                     Location  \
348         Seed  250000.0  Bangalore, Karnataka, India

                                         About Company
348  TheCollegeFever is a hub for fun, fiesta and f...

In [71]:
# Dropping duplicate rows from the DataFrame

# Drop duplicate rows
data_2018_clean = data_2018.drop_duplicates()

# Displaying the number of rows before dropping the duplicates
print(f"Number of rows before dropping duplicates: {data_2018.shape[0]}")

# Displaying the number of rows after dropping the duplicates
print(f"Number of rows after dropping duplicates: {data_2018_clean.shape[0]}")

Number of rows before dropping duplicates: 526
Number of rows after dropping duplicates: 525

In [72]:
data_2018_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    category
 1   Industry       525 non-null    category
 2   Round/Series   525 non-null    category
 3   Amount         233 non-null    float64
 4   Location       525 non-null    category
 5   About Company  525 non-null    category
dtypes: category(5), float64(1)
memory usage: 75.3 KB

In [73]:
data_2018_clean.describe()

             Amount
count  2.330000e+02
mean   2.317790e+07
std    9.563237e+07
min    7.500000e+03
25%    5.500000e+05
50%    1.600000e+06
75%    5.000000e+06
max    1.000000e+09

In [74]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count3 = data_2018_clean.isna().sum()

missing_value_percentage3 = (missing_value_count3/len(data_2018)) * 100
missing_value_percentage3 = missing_value_percentage3.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary3 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count3,
    'Percentage': missing_value_percentage3
})

# Printing the summary DataFrame
print(missing_value_summary3)

               Missing_Value_Count  Percentage
Company Name                     0         0.0
Industry                         0         0.0
Round/Series                     0         0.0
Amount                         292        55.5
Location                         0         0.0
About Company                    0         0.0

In [81]:
# Replace Null Values in 'Amount' column with the Mean
data_2018_clean['Amount'].fillna(data_2018_clean['Amount'].mean(), inplace = True)

In [82]:
data_2018_cleaned = data_2018_clean
data_2018_cleaned

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,2.250000e+08,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,2.317790e+07,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7.500000e+03,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,2.317790e+07,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,3.500000e+07,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [84]:
data_2018_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    category
 1   Industry       525 non-null    category
 2   Round/Series   525 non-null    category
 3   Amount         525 non-null    float64
 4   Location       525 non-null    category
 5   About Company  525 non-null    category
dtypes: category(5), float64(1)
memory usage: 75.3 KB

In [85]:
data_2018_cleaned.shape

(525, 6)

DATASET FOR 2019

In [40]:
# File path for the 2019 funding dataset
file_path2 = 'C:\\Users\\HP\\AzubiCA\\Career Accelerator\\LP1\\CA_First_Project_LP1\\Notebooks\\startup_funding2019.csv'

# Loading the file into the notebook for analysis
data_2019 = pd.read_csv(file_path2)
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [41]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [42]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [43]:
data_2019.shape

(89, 9)

DATA CLEANING PROCESS FOR DATA_2019

1. Converting all 'object' Dtype to 'category' and 'float' Dtypes.
2. Upon checking the DataFrame for duplicates, no rows were detected to be duplicates.
3. Checking for null values, the following was extracted from the data_2019.info():
    
    Founded 29 (32.6%), HeadQuarter 19 (21.3%), Sector 5 (5.6%), 
    
    Founders 3 (3.4%), Amount 12 (13.5%), and Stage 46 (51.7%).
4. Judging by the percentage of the missing values, I will be dropping all percentages with unit values (Sector and Founders). The reason for this is because the percenatges of missing values are quite insignificant, hence, they can not have any effect on my analysis.

For the percentages with tens values (Founded, Amount and Stage), I will be replacing the null values as follow:
    
    Founded: I will be replacing the null values with the Median year i.e. 2015

    HeadQuarter: I will be replacing the null values with the Modal HeadQuarter in the DataFrame i.e. 'Bangalore' 
    
    Amount: I will be replacing the null values with the Mean Amount i.e. $43,330,300
    
    Stage: I will be replacing the null values with the Modal Stage in the DataFrame i.e. 'Series A'

In [48]:
# Changing some fields in 'object Dtype' to 'category Dtype'
data_2019['Company/Brand'] = data_2019['Company/Brand'].astype('category')
data_2019['HeadQuarter'] = data_2019['HeadQuarter'].astype('category')
data_2019['Sector'] = data_2019['Sector'].astype('category')
data_2019['What it does'] = data_2019['What it does'].astype('category')
data_2019['Founders'] = data_2019['Founders'].astype('category')
data_2019['Investor'] = data_2019['Investor'].astype('category')
data_2019['Stage'] = data_2019['Stage'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(data_2019.dtypes)

Data types after conversion:
Company/Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What it does     category
Founders         category
Investor         category
Amount($)         float64
Stage            category
dtype: object

In [49]:
# Changing the Amount field from 'object Dtype' to 'str Dtype
data_2019['Amount($)'] = data_2019['Amount($)'].astype(str)

# Removing the $ sign and converting to float Dtype, handling non-numeric values
data_2019['Amount($)'] = pd.to_numeric(data_2019['Amount($)'].str.replace('$', '').str.replace(',', ''), errors = 'coerce')

# Display the data types after conversion
print("\nData types after conversion:")
print(data_2019.dtypes)

Data types after conversion:
Company/Brand    category
Founded           float64
HeadQuarter      category
Sector           category
What it does     category
Founders         category
Investor         category
Amount($)         float64
Stage            category
dtype: object

In [51]:
# Checking for duplicate rows in the DataFrame

# Check for duplicate rows
duplicates2 = data_2019.duplicated()

# Count duplicate rows
num_duplicates2 = duplicates2.sum()
print(f"Number of duplicate rows: {num_duplicates2}")

# Print duplicate rows
duplicate_rows2 = data_2019[duplicates2]
print("Duplicate rows:")
print(duplicate_rows2)

Number of duplicate rows: 0
Duplicate rows:
Empty DataFrame
Columns: [Company/Brand, Founded, HeadQuarter, Sector, What it does, Founders, Investor, Amount($), Stage]
Index: []

In [52]:
# Checking for missing values from the data_2021_clean DataFrame
missing_value_count2 = data_2019.isna().sum()

missing_value_percentage2 = (missing_value_count2/len(data_2019)) * 100
missing_value_percentage2 = missing_value_percentage2.round(1)

# Creating a DataFrame to display the count and percentage side by side
missing_value_summary2 = pd.DataFrame({
    'Missing_Value_Count': missing_value_count2,
    'Percentage': missing_value_percentage2
})

# Printing the summary DataFrame
print(missing_value_summary2)

               Missing_Value_Count  Percentage
Company/Brand                    0         0.0
Founded                         29        32.6
HeadQuarter                     19        21.3
Sector                           5         5.6
What it does                     0         0.0
Founders                         3         3.4
Investor                         0         0.0
Amount($)                       12        13.5
Stage                           46        51.7

In [53]:
data_2019.describe()

           Founded     Amount($)
count    60.000000  7.700000e+01
mean   2014.533333  4.333030e+07
std       2.937003  1.106216e+08
min    2004.000000  1.000000e+05
25%    2013.000000  2.100000e+06
50%    2015.000000  6.000000e+06
75%    2016.250000  3.000000e+07
max    2019.000000  6.930000e+08

In [63]:
# Finding the Mode of the 'Founded' column
mode_value3 = data_2019['Founded'].mode()[0]
mode_value3

# Replace Null Values in 'Founded' column with the Mode
data_2019['Founded'].fillna(mode_value3, inplace = True)

# Finding the Mode of the 'HeadQuarter' column
mode_value4 = data_2019['HeadQuarter'].mode()[0]
mode_value4

# Replace Null Values in 'HeadQuarter' column with the Mode
data_2019['HeadQuarter'].fillna(mode_value4, inplace = True)

# Finding the mode of the 'Stage' column
mode_value5 = data_2019['Stage'].mode()[0]
mode_value5

# Replace Null Values in 'Stage' column with the Mode
data_2019['Stage'].fillna(mode_value5, inplace = True)

# Replace Null Values in 'Amount' column with the Mean
data_2019['Amount($)'].fillna(data_2019['Amount($)'].mean(), inplace = True)

In [64]:
# Dropping rows with null values in the specified fields
data_2019_cleaned = data_2019.dropna(subset = ['Sector', 'Founders'])
data_2019_cleaned

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,2015.0,Bangalore,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,Series A
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,2015.0,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,Series A
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,2015.0,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,Series A
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,Series A
88,Ess Kay Fincorp,2015.0,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,Series A

In [65]:
data_2019_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  82 non-null     category
 1   Founded        82 non-null     float64
 2   HeadQuarter    82 non-null     category
 3   Sector         82 non-null     category
 4   What it does   82 non-null     category
 5   Founders       82 non-null     category
 6   Investor       82 non-null     category
 7   Amount($)      82 non-null     float64
 8   Stage          82 non-null     category
dtypes: category(7), float64(2)
memory usage: 17.2 KB

In [67]:
data_2019_cleaned.shape

(82, 9)

COLUMN MAPPING: Definig a column mapping dictionary to standardize all columns in the 4 datasets for consistency and accuracy

In [86]:
# Column mapping dicitionary in order to standardize all columns in the 4 datasets
column_mapping = {
    'Company Name': 'Company',
    'Company/Brand': 'Company',
    'Company_Brand': 'Company',
    'Industry': 'Sector',
    'Sector': 'Sector',
    'Round/Series': 'Stage',
    'Stage': 'Stage',
    'Amount': 'Amount',
    'Amount($)': 'Amount',
    'Location': 'Location',
    'HeadQuarter': 'Location',
    'About Company': 'What_it_does',
    'What it does': 'What_it_does',
    'What_it_does': 'What_it_does',
    'Founded': 'Founded',
    'Founders': 'Founders',
    'Investor': 'Investor'
}

# Renaming the columns in each DataFrame using the rename method and column_mapping
data_2018_cleaned.rename(columns=column_mapping, inplace=True)
data_2019_cleaned.rename(columns=column_mapping, inplace=True)
data_2020_cleaned.rename(columns=column_mapping, inplace=True)
data_2021_cleaned.rename(columns=column_mapping, inplace=True)

# Print the renamed column names for verification
print("\nRenamed column names:")
print("2018 DataFrame:", data_2018_cleaned.columns)
print("2019 DataFrame:", data_2019_cleaned.columns)
print("2020 DataFrame:", data_2020_cleaned.columns)
print("2021 DataFrame:", data_2021_cleaned.columns)

Renamed column names:
2018 DataFrame: Index(['Company', 'Sector', 'Stage', 'Amount', 'Location', 'What_it_does'], dtype='object')
2019 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')
2020 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')
2021 DataFrame: Index(['Company', 'Founded', 'Location', 'Sector', 'What_it_does', 'Founders',
       'Investor', 'Amount', 'Stage'],
      dtype='object')

CONCATENATING DATAFRAMES: Merging all the 4 DataFrames (2018, 2019, 2020 & 2021) into a single DataFrame (df_merger)

In [87]:
# Merging all the 4 DataFrames into a single DataFrame (df_merger)
df_merger = pd.concat([data_2018_cleaned, data_2019_cleaned, data_2020_cleaned, data_2021_cleaned], ignore_index = True)
df_merger

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2686,Gigforce,Staffing & Recruiting,Pre-series A,3.000000e+06,Gurugram,A gig/on-demand staffing company.,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2687,Vahdam,Food & Beverages,Series D,2.000000e+07,New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,Bala Sarda,IIFL AMC
2688,Leap Finance,Financial Services,Series C,5.500000e+07,Bangalore,International education loans for high potenti...,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2689,CollegeDekho,EdTech,Series B,2.600000e+07,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2690,WeRize,Financial Services,Series A,8.000000e+06,Bangalore,India’s first socially distributed full stack ...,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [88]:
df_merger.head()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,2.500000e+05,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,2.317790e+07,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,2.317790e+07,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2.000000e+06,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,2.317790e+07,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN

In [89]:
df_merger.tail()

,Company,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor
2686,Gigforce,Staffing & Recruiting,Pre-series A,3000000.0,Gurugram,A gig/on-demand staffing company.,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2687,Vahdam,Food & Beverages,Series D,20000000.0,New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,Bala Sarda,IIFL AMC
2688,Leap Finance,Financial Services,Series C,55000000.0,Bangalore,International education loans for high potenti...,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2689,CollegeDekho,EdTech,Series B,26000000.0,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2690,WeRize,Financial Services,Series A,8000000.0,Bangalore,India’s first socially distributed full stack ...,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [90]:
df_merger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2691 entries, 0 to 2690
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company       2691 non-null   object
 1   Sector        2691 non-null   object
 2   Stage         2691 non-null   object
 3   Amount        2691 non-null   float64
 4   Location      2691 non-null   object
 5   What_it_does  2691 non-null   object
 6   Founded       2166 non-null   float64
 7   Founders      2166 non-null   object
 8   Investor      2166 non-null   object
dtypes: float64(2), object(7)
memory usage: 189.3+ KB

In [92]:
# Changing some fields in 'object Dtype' to 'category Dtype'
df_merger['Company'] = df_merger['Company'].astype('category')
df_merger['Sector'] = df_merger['Sector'].astype('category')
df_merger['Stage'] = df_merger['Stage'].astype('category')
df_merger['Location'] = df_merger['Location'].astype('category')
df_merger['What_it_does'] = df_merger['What_it_does'].astype('category')
df_merger['Founders'] = df_merger['Founders'].astype('category')
df_merger['Investor'] = df_merger['Investor'].astype('category')


# Display the data types after conversion
print("\nData types after conversion:")
print(df_merger.dtypes)

Data types after conversion:
Company         category
Sector          category
Stage           category
Amount           float64
Location        category
What_it_does    category
Founded          float64
Founders        category
Investor        category
dtype: object